<nav class="navbar main-nav navbar-fixed-top fade-start">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a id="logo" class="navbar-brand col2" href="{{root}}playlist/page/current">{{ config.config.logomarkup|raw }}</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="row">
				<div class="col-md-6">
					<ul class="nav navbar-nav">
						{% for menu in config.mainmenu %}
						{% if menu.url %}
						<li class="{% if menu.url == current_url %} active{% endif %}">
							<a href="{{root}}{{menu.url}}" class="ajax-link col3">{{menu.title|ll|raw}}</a>
						</li>
						{% endif %}
						{% endfor %}
						
						<li class="pull-right">
							<a href="{{root}}auth/signin?nosurrounding=1" class="ajax-partial" data-ajaxtarget="#user-quicknav">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							{% if auth.user %}
							
							{{ auth.user.username }}
							
							{% else %}
							Guest
							{% endif %}
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 bg-col3">
					<form class="navbar-form ac-ajax-form" role="search" action="{{root}}searchall/page/1/sort/relevance/desc" data-defaultaction="{{root}}searchall/page/1/sort/relevance/desc" method="get" id="searchform">
						<input type="text" name="q" id="mainsearch" class="form-control clearable" placeholder="{{'search'|ll}}">
						<span class="clearinput glyphicon glyphicon-remove" data-selector="#mainsearch"></span>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="user-quicknav" style="display:none;"></div>
	{# container for progress bar #}
	<div class="container-fluid" id="nprog-container"> </div>
</nav>
