{% if paginator.numPages > 1 %}
    <ul class="pagination">
        {% if paginator.prevUrl %}
            <li><a href="{{ paginator.prevUrl }}" class="ajax-link"><i class="fa fa-chevron-left"></i></a></li>
		{% else %}
			<li class="disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
        {% endif %}

        {% for page in paginator.pages %}
            {% if page.url %}
                <li {{ page.isCurrent ? 'class="active"' : '' }}><a href="{{ page.url }}" class="ajax-link">{{ page.num }}</a></li>
            {% else %}
            	{# replace placeholder with random-link #}
	            {% if page.num == '...'%}
                    {% set randomNumber = random(paginator.numPages) + 1 %}
                    {% if randomNumber > paginator.numPages %}
                        {% set randomNumber = paginator.numPages %}
                    {% endif %}
	            	<li><a href="{{ paginator.urlPattern|replace({'(:num)': randomNumber }) }}" class="ajax-link"><i class="fa fa-random"></i></a></li>
	            {% else %}
                	<li class="disabled"><span>{{ page.num }}</span></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if paginator.nextUrl %}
            <li><a href="{{ paginator.nextUrl }}" class="ajax-link"><i class="fa fa-chevron-right"></i></a></li>
        {% else %}
			<li class="disabled"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
        {% endif %}
    </ul>
{% endif %}




