{% extends 'partials/track/not-imported-templatevars.twig' %}
{% block content %}
{% include 'partials/randomizer.htm' with { subject: 'Track', urlpattern: 'maintainance/trackdebug/%s' } %}

<h2 class="nomargin">
	<span class="uc dark">Track-debug</span> {{ item.relPath|split('/')|last }}
	{% if not item.uid %}
		{% include 'partials/track/not-imported-badge.htm' %}
	{% endif %}
</h2>

<div class="darker-links dark small">
	<br class="replace-me-with-proper-css">
	{% include 'partials/filebrowser/breadcrumb.htm' with {
		hiderootlink: 0,
		breadcrumb: renderitems.itembreadcrumbs[item.relPathHash],
		skiplast: 1 }
	%}
</div>

<hr>

<div class="row">
	<div class="col-md-2">{% include 'partials/button/showtrackwidget.htm' %}</div>
	<div class="col-md-3"><h2 class="uc nomargin">Raw tag data
		<a href="{{root}}maintainance/trackid3/{{ item.relPath|path2url }}" target="_blank" title="show meta dump"><i class="fa fa-eye"></i></a>
		</h2><span class="dark">real tag attributes</span></div>
	<div class="col-md-4"><h2 class="uc nomargin">Track Entry</h2><span class="dark">auto-corrected tag attributes</span></div>
	<div class="col-md-3"></div>
</div>
<hr />

<div class="row">
	<div class="col-md-2"><strong>{{'title'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.title }}</div>
	<div class="col-md-4"><input name="title" type="text" value="{{ item.title }}" class="form-control" /></div>
	<div class="col-md-3">{{ item.title }}</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'artist'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.artist }}</div>
	<div class="col-md-4"><input name="artist" type="text" value="{% include 'partials/artist/without_ft_string.htm' %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/artist/without_ft_link.htm' %}
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'featured.artist'|ll}}</strong></div>
	<div class="col-md-3"></div>
	{% set ftItem = { 'artistUid' : item.featuringUid }%}
	<div class="col-md-4"><input name="featuring" type="text" value="{% include 'partials/artist/string.htm' with { 'item': ftItem } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/artist/link.htm' with { 'item': ftItem } %}
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'remix.artist'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.remixer }}</div>
	{% set rmxItem = { 'artistUid' : item.remixerUid }%}
	<div class="col-md-4"><input name="remixer" type="text" value="{% include 'partials/artist/string.htm' with { 'item': rmxItem } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/artist/link.htm' with { 'item': rmxItem } %}
	</div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'albumartist'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.albumArtist }}</div>
	<div class="col-md-4"><input name="album" type="text" value="{% include 'partials/artist/string.htm' with { 'item': renderitems.albums[item.albumUid] } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/artist/link.htm' with { 'item': renderitems.albums[item.albumUid] } %}
	</div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'album'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.album }}</div>
	<div class="col-md-4"><input name="album" type="text" value="{{ renderitems.albums[item.albumUid].title }}" class="form-control" /></div>
	<div class="col-md-3">{% include 'partials/album/link.htm' with {'item': renderitems.albums[item.albumUid]} %}</div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'year'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.year }}</div>
	<div class="col-md-4"><input name="year" type="text" value="{{ item.year }}" class="form-control" /></div>
	<div class="col-md-3">{% include 'partials/year/link.htm' %}</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'genre'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.genre }}</div>
	<div class="col-md-4"><input name="genre" type="text" value="{% include 'partials/genre/string.htm' with { 'genreUids': item.genreUid } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/genre/link.htm' with { 'genreUids': item.genreUid } %}
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'label'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.publisher }}</div>
	<div class="col-md-4"><input name="label" type="text" value="{% include 'partials/label/string.htm' with { 'labelUids': item.labelUid } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/label/link.htm' with { 'labelUids': item.labelUid } %}
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'catnr'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.catalogNr }}</div>
	<div class="col-md-4"><input name="catalogNr" type="text" value="{{ item.catalogNr }}" class="form-control" /></div>
	<div class="col-md-3">
		{{ item.catalogNr }}
	</div>
</div>
<div class="row">
	<div class="col-md-2"><strong>{{'number'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.trackNumber }}</div>
	<div class="col-md-4"><input name="number" type="text" value="{{ item.trackNumber }}" class="form-control" /></div>
	<div class="col-md-3">
		{{ item.trackNumber }}
	</div>
</div>

<hr>
<div class="tracks_container">
	{% include 'partials/trackrow-1-header.htm' %}
	<div class="fw-bg">
		{% include 'partials/trackrow-1.htm'%}
	</div>
</div>

{% endblock %}
