{# TODO: move modalsurrounding to partial #}
<div class="modal-body">	
	{% include 'partials/modal/close-button-top.htm' %}
	<div class="dark uc small darker-links">{% include 'partials/artist/linked-label.htm' %} - {{'albumtitle'|ll}}</div>
	<h3 class="nomargin">{% include 'partials/artist/link.htm' with { 'item': album } %} - {{album.title}}</h3>
	<div class="tinyfont dark darker-links">{% include 'partials/filebrowser/breadcrumb.htm' %}</div>
	<div class="row">
		<div class="col-md-12">
			<br class="row replace-me-with-proper-css" />
			<br class="row replace-me-with-proper-css" />
		</div>
	</div>
	{% include 'partials/album/control-buttons.htm' %}
	<br class="row replace-me-with-proper-css" />
	<br class="row replace-me-with-proper-css" />
</div>
<div class="modal-footer">
	{% include 'partials/modal/close-button-bottom.htm' %}
</div>
