<div class="row" style="border-top: 1px solid #111; padding: 0.3em 0;">
	{% if modules.enable_xwax != '1' %}
		<div class="col-md-12 error">
		{{'xwax.notenabled'|ll}}
		</div>
	{% else %}
		<div class="col-md-3">
			{% include 'partials/button/showtrackwidget.htm' with { 'permanent': 1 } %}
		</div>
		<div class="col-md-9">
			<div class="row">
			{% set colidx = (xwax.decks > 3) ? 4 : 12/xwax.decks %}
			{% for i in 1..xwax.decks %}
			<div class="col-md-{{colidx}}">
				<button role="control" data-href="{{root}}xwax/load_track/{{i}}/{{item.relPath|path2url}}" class="ajax-rqst btn btn-default force-xwax-poll" title="Send track to xwax deck {{i}}">
					<span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Send to Deck {{i}}
				</button>
			</div>
			{% endfor%}
			</div>
		</div>
  	{% endif %}
  	
</div>