{% if config.modules.enable_xwax != '1' %}
	<div class="col-md-12 error xwax-mode-show">
	{{'xwax.notenabled'|ll}}
	</div>
{% else %}
	
	<div class="row player-xwax navbar-xwax navbar navbar-fixed-bottom xwax-mode-show no-connection bg-col4">
		<div class="row bg-col4">
			<div class="col-md-1">
				
			</div>
			<div class="col-md-10 xwax-decks">
				<div class="row xwax-gui">
					{% include 'partials/xwax/deck-wrapper-loop.htm' %}
				</div>
			</div>
			<div class="col-md-1">
				<button role="control" data-href="{{root}}markup/widget-xwax" title="xwax controls" class="btn btn-default trigger-modal hide-no-connection">
					<i class="fa fa-plus"></i> xwaxctrl
				</button>
				<div class="show-no-connection">
					{% if config.xwax.showlauncher == 1%}
					<button role="control" data-href="{{root}}xwax/launch" class="ajax-rqst btn btn-default btn-lg" title="start xwax">
						start xwax
					</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endif %}
