<div class="row">
	<div class="col-md-12">
	<h2>Discogs Integration Configuration</h2>
	<p>In order to download images from discogs and use some other features of sliMpd you have to:</p>
	<ol>
		<li>Create a Discogs account</li>
		<li>Register sliMpd as an <a href="https://www.discogs.com/settings/developers" class="col2" target="_blank" title="Open Discogs developer settings">application in your Discogs Account</a></li>
		<li>Add <span class="col2">Consumer Key</span> and <span class="col2">Consumer Secret</span> to your sliMpd configuration file</li>
		<li>Authorize sliMpd to use your Discogs account by clicking the link below</li>
	</ol>
	</div>
</div>

<ul class="list-group">
	<li class="list-group-item list-group-item-success">
		<h4>
			<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
			<strong>STEP 1:</strong> Configuration of ConsumerKey and ConsumerSecret</h4>
			<p>Your sliMpd configuration seems to be valid.</p>
	</li>
	{% set class = "success" %}
	{% set icon = "ok" %}
	{% if authorized == '0' %}
		{% set class = "danger" %}
		{% set icon = "remove" %}
	{% endif %}
	<li class="list-group-item list-group-item-{{class}}">
		<h4>
			<span class="glyphicon glyphicon-{{icon}}-sign" aria-hidden="true"></span>
			<strong>STEP 2:</strong> Authorize sliMpd to use your Discogs account for retrieving images
		</h4>
		<form action="{{root}}discogs/verify" method="get">
			<button class="btn btn-default" type="submit">Trigger Authorization</button>
		</form>
	</li>
</ul>
<div class="row">
	<div class="col-md-2">ConsumerKey</div>
	<div class="col-md-10">{{config.discogsapi.consumer_key}}</div>
</div>

<div class="row">
	<div class="col-md-2">ConsumerSecret</div>
	<div class="col-md-10">{{config.discogsapi.consumer_secret}}</div>
</div>
