{% extends 'partials/track/not-imported-templatevars.twig' %}
{% block content %}
<div class="row missing-track-row mouseover track-{{ item.relativePathHash }}">
	<div class="col-md-2 vcenter">
			{% include 'partials/image.htm' with {
				'width': 50,
				'type': 'album',
				'itemId': item.albumId,
				'attrs': 'style="width: 50px; height: 50px; z-index:2;"'
			} %}
		<a title="search track" class="btn btn-trnsp ajax-link trigger-hide-modal" href="/searchall/page/1/sort/relevance/desc?q={{ fileName }}">
			<i class="fa fa-search fa-lg"></i>
		</a>
	</div>
	
	<div class="col-md-10 vcenter">
		{% include 'partials/track/not-found-badge.htm' %} {{ item.relativePath }}
	</div>
</div>
{% endblock %}