<div class="row track-row {{ cycle(['bg-col3','bg-col3'],loop.index) }} mouseover track-{{ item.relativePathHash }}" style="margin-left: 20px;margin-right: 20px;">
	<div class="col-md-2">
		<button role="control" title="play" class="btn btn-default player-ctrl is-playbtn trigger-hide-modal" data-player='{"action":"appendTrackAndPlay","item":{{ item.id }},"ext":"{{item.audioDataformat }}","hash":"{{ item.relativePathHash }}", "mpdurl":"{{root}}mpdctrl/appendTrackAndPlay/{{ item.id }}"}'>
			<i class="fa fa-play fa-lg"></i>
		</button>
		{% include 'partials/button/showtrackwidget.htm' %}
		<span style="height: 50px; font-size: 2em; text-align:center; z-index:2; width: 2em; display:inline-block;" class="dark hidden-xs">{{ item.number|default('?') }} </span>
	</div>
	
	<div class="col-md-4">
		{% include 'partials/track/title.htm' with { 'titlestring': item.title, 'filepath': item.relativePath  } %}
	</div>
	<div class="col-md-3">
		{% include 'partials/artist/link.htm' %}
	</div>
	<div class="col-md-2">
		{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId, 'genres': renderitems.genres } %}
	</div>
	<div class="col-md-1">{{ item.miliseconds|formatMiliseconds }}</div>
</div>