<div class="row">
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			<a href="{{root}}album/{{ item.id }}" class="ajax-link" data-trigger="hover" data-toggle="popover" title="show album" data-html="true" data-image-url="{{root}}image-300/album/{{item.id}}">
				<img src="{{root}}image-50/album/{{item.id}}">
			</a>
			<a href="{{root}}markup/albumtracks/{{item.id}}" class="ajax-partial" data-ajaxtarget=".ajax-alb-{{ item.relPathHash }}">
				<strong>&nbsp;&nbsp;&nbsp;&nbsp;ALBUM</strong>
			</a>
		</div>
	</div>
	<div class="ffn-hidden">
		<div class="col-md-3 vcenter">
			<div class="vcinner">
				<a href="{{root}}album/{{item.id}}" class="ajax-link">
				{{item.title}}
				</a>
			</div>
		</div>
		<div class="col-md-3 vcenter">
			<div class="vcinner">
				{% include 'partials/artist/link.htm' %}
			</div>
		</div>
		<div class="col-md-2 vcenter">
			<div class="vcinner">
				{% include 'partials/genre/link.htm' with {'genreIds': item.genreId, 'limit' : 3} %}
			</div>
		</div>
		<div class="col-md-1 vcenter">
			<div class="vcinner">
				{% include 'partials/year/link.htm' %}
			</div>
		</div>
	</div>
	<div class="ffn-show">
		<div class="col-md-9 vcenter">
			<div class="vcinner">
				{{ renderitems.itembreadcrumbs[item.relPathHash]|last.title }}
				<br>
				<span class="darker-links small">{% include 'partials/filebrowser/breadcrumb.htm' with {
					hiderootlink: 1,
					breadcrumb: renderitems.itembreadcrumbs[item.relPathHash],
					skiplast: 1 } %}</span>
			</div>
		</div>
	</div>
	<div class="col-md-1 vcenter">
		<div class="vcinner">
			{{item.trackCount}} <span class="dark uc small">tracks</span>
		</div>
	</div>
</div>
<div class="ajax-alb-{{ item.relPathHash }}"></div>