<div class="row">
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			<a href="{{root}}artist/{{ item.uid  }}/tracks/page/1/sort/added/desc" class="ajax-link toggle-tooltip" title="show artist">
				<img src="{{root}}imagefallback-50/artist" alt="" class="icon-50">
			</a>
			<strong class="replace-me-with-proper-css">&nbsp;&nbsp;&nbsp;&nbsp;ARTIST</strong>
		</div>
	</div>
	<div class="col-md-3 vcenter">
		<div class="vcinner">
			{% include 'partials/artist/single-link.htm' with { itemUid: item.uid } %}
		</div>
	</div>
	<div class="col-md-3 vcenter">
		<div class="vcinner">
			<span class="dark small">TODO: Top 2 artist labels</span>
		</div>
	</div>
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			<span class="dark small">TODO: Top 2 artist genres</span>
		</div>
	</div>
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			<span class="badge">{{ item.trackCount }}</span> <span class="dark uc small">Tracks</span> <span class="badge">{{ item.albumCount }}</span> <span class="dark uc small">Albums</span>
			<br />
			<span class="dark uc small">TODO: 1996-2002</span>
		</div>
	</div>
</div>