<div class="row">
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			<a href="{{root}}genre/{{ item.uid  }}/tracks/page/1/sort/added/desc" class="ajax-link toggle-tooltip trigger-hide-modal" title="show genre">
				<img src="{{root}}imagefallback-50/genre" alt="" class="icon-50">
			</a>
			<strong class="replace-me-with-proper-css">&nbsp;&nbsp;&nbsp;&nbsp;GENRE</strong>
		</div>
	</div>
	<div class="col-md-3 vcenter">
		<div class="vcinner">
			{% include 'partials/genre/link.htm' with { genreUids: item.uid } %}
		</div>
	</div>
	<div class="col-md-3 vcenter">
		<div class="vcinner darker-links small">
			{% include 'partials/itemstats/inrow-top-artists.htm' %}
		</div>
	</div>
	<div class="col-md-2 vcenter">
		<div class="vcinner darker-links small">
			{% if item.topLabelUids %}
				<span class="uc">TOP labels:</span><br>
				{% include 'partials/label/link.htm' with { labelUids: item.topLabelUids} %}
			{% endif %}
		</div>
	</div>
	<div class="col-md-2">
		<div class="vcinner">
			<span class="badge">{{ item.trackCount|shorty }}</span> <span class="dark uc small">Tracks</span> <span class="badge">{{ item.albumCount|shorty }}</span> <span class="dark uc small">Albums</span>
			<br />
			<span class="dark uc small">{{item.yearRange}}</span>
		</div>
	</div>
</div>