<div class="row track-row {{ cycle(['bg-col3','bg-col3'],loop.index) }} mouseover track-{{ item.relativePathHash }}">
	<div class="col-md-2">
		<a href="/album/{{ item.albumId }}" data-ajaxtarget="#main" class="ajax-link" data-trigger="hover" data-toggle="popover" title="show album" data-html="true" data-image-url="/image-300/album/{{item.albumId}}">
			{% include 'partials/image.htm' with {
				'width': 50,
				'type': 'album',
				'itemId': item.albumId,
				'attrs': 'style="width: 50px; height: 50px; z-index:2;"'
			} %}
		</a>
		<button role="control" title="play" class="btn btn-default player-ctrl is-playbtn" data-player='{"action":"play","item":{{ item.id }},"ext":"{{item.audioDataformat }}","hash":"{{ item.relativePathHash }}", "mpdurl":"/mpdctrl/addSelect/{{ item.id }}"}'>
			<i class="fa fa-play fa-lg"></i>
		</button>
		<button role="control" data-href="/markup/widget-trackcontrol?item={{ item.relativePath }}" title="play" class="btn btn-default trigger-modal">
			<i class="fa fa-align-justify fa-lg"></i>
		</button>
	</div>
	
	<div class="col-md-3">
		{% include 'partials/tracktitle.htm' with { 'titlestring': item.title, 'filepath': item.relativePath  } %}
		<br />
		<div class="darker-links">{% include 'partials/album/link.htm' with { 'item': renderitems.albums[item.albumId] } %}</div>
	</div>
	<div class="col-md-3">
		{% include 'partials/artist/link.htm' %}
	</div>
	<div class="col-md-2">
		{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId, 'genres': renderitems.genres } %}
	</div>
	<div class="col-md-1">{% include 'partials/year/link.htm' %}</div>
	<div class="col-md-1">
		{{ item.miliseconds|formatMiliseconds }}
		<br />{% include 'partials/track/audioformat.htm' %}
	</div>
</div>