{% extends 'partials/track/not-imported-templatevars.twig' %}
{% block content %}
<div class="row">
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			<a href="{{root}}album/{{ item.albumId }}" class="ajax-link trigger-hide-modal" data-trigger="hover" data-toggle="popover" title="show album" data-html="true" data-image-url="{{root}}image-300/album/{{item.albumId}}">
				{% include 'partials/image.htm' with {
					'width': 50,
					'type': 'album',
					'itemId': item.albumId,
					'attrs': 'class="icon-50"'
				} %}
			</a>
			{% include 'partials/button/playtrack.htm' %}
			{% include 'partials/button/showtrackwidget.htm' %}
			{% include 'partials/button/showdeckselector.htm' %}
		</div>
	</div>
	<div class="ffn-hidden">
		<div class="col-md-3 vcenter">
			<div class="vcinner">
				{% include 'partials/track/title.htm' with { 'titlestring': item.title, 'filepath': item.relPath  } %}<br />
				<span class="darker-links">{% include 'partials/album/link.htm' with { 'item': renderitems.albums[item.albumId] } %}</span>
			</div>
		</div>
		<div class="col-md-3 vcenter">
			<div class="vcinner">
			{% include 'partials/artist/link.htm' %}
			</div>
		</div>
		<div class="col-md-2 vcenter">
			<div class="vcinner">
			{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId, 'genres': renderitems.genres, 'limit':3 } %}
			</div>
		</div>
		<div class="col-md-1 vcenter">
			<div class="vcinner">
				{% include 'partials/year/link.htm' %}
			</div>
		</div>
	</div>
	<div class="ffn-show">
		<div class="col-md-8 vcenter">
			<div class="vcinner">
				{{ item.relPath|split('/')|last }}
				<br>
				<span class="darker-links small">{% include 'partials/filebrowser/breadcrumb.htm' with {
					hiderootlink: 1,
					breadcrumb: renderitems.itembreadcrumbs[item.relPathHash],
					skiplast: 1 } %}</span>
			</div>
		</div>
		<div class="col-md-1 vcenter">
			<div class="vcinner">
				{% if item.fingerprint %}
				<span class="dark" title="fingerprint: {{ item.fingerprint }}">{{ item|fingerprintshorty }}</span>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-md-1 vcenter">
		<div class="vcinner">
			{{ item.miliseconds|formatMiliseconds }}
		<br />{% include 'partials/track/audioformat.htm' %}
		</div>
	</div>
	<div class="ajax-xwax-{{ item.relPathHash }} col-md-12"></div>
</div>
{% endblock %}