{% if titlestring %}	
	{% if item.remixerId %}
		{% set titleparts = titlestring|split('%s') %}
		{% set remixerIds = item.remixerId|split(',') %}
		{% for index,titlepart in titleparts %}
			{{ titlepart }}{% if loop.last == false %}<a class="item-link artist-link ajax-link"  data-ajaxtarget="#main" href="/artist/{{ remixerIds[index] }}/tracks/page/1/sort/added/desc">{{ renderitems.artists[remixerIds[index]].title }}</a>
			{% endif %}
		{% endfor %}
	{% else %}
		{{titlestring}}
	{% endif %}
{% else %}
	{{ fileName }}
{% endif %}