{% extends 'partials/track/not-imported-templatevars.twig' %}
{% block content %}
<div class="row">
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			{% include 'partials/button/playtrack.htm' %}
			{% include 'partials/button/showtrackwidget.htm' %}
			{% include 'partials/button/showdeckselector.htm' with { 'targetselector': item.relPathHash~'-plw'~num } %}
		</div>
	</div>
	<div class="ffn-hidden">
		<div class="col-md-3 vcenter">
			<div class="vcinner">
				{% include 'partials/track/title.htm' with { 'titlestring': item.title, 'filepath': item.relPath  } %}
			</div>
		</div>
		<div class="col-md-3 vcenter">
			<div class="vcinner">
			{% include 'partials/artist/link.htm' %}
			</div>
		</div>
		<div class="col-md-2 vcenter">
			<div class="vcinner">
			{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId, 'genres': renderitems.genres, 'limit':3 } %}
			</div>
		</div>
		<div class="col-md-1 vcenter">
			<div class="vcinner">
				{% include 'partials/year/link.htm' %}
			</div>
		</div>
	</div>
	<div class="ffn-show">
		<div class="col-md-9 vcenter">
			<div class="vcinner">
				{{ item.relPath|split('/')|last }}<br>
				<span class="darker-links small">{% include 'partials/filebrowser/breadcrumb.htm' with {
					hiderootlink: 1,
					breadcrumb: renderitems.itembreadcrumbs[item.relPathHash],
					skiplast: 1 } %}</span>
			</div>
		</div>
	</div>
	<div class="col-md-1 vcenter">
		<div class="vcinner">
			{{ item.miliseconds|formatMiliseconds }}
		<br />{% include 'partials/track/audioformat.htm' %}
		</div>
	</div>
	<div class="ajax-xwax-{{ item.relPathHash }}-plw{{ num }} col-md-12"></div>
</div>

{% endblock %}