<div class="row item-row">
	<div class="col-xs-3 col-sm-2 vcenter">
		<div class="vcinner">
			<button role="control" title="play" class="btn btn-trnsp player-ctrl is-playbtn trigger-hide-modal" data-player='{"action":"appendTrackAndPlay","item":{{ item.id }},"ext":"{{item.audioDataformat }}","hash":"{{ item.relativePathHash }}", "mpdurl":"{{root}}mpdctrl/appendTrackAndPlay/{{ item.id }}"}'>
				<i class="fa fa-play fa-lg"></i>
			</button>
			<button role="control" data-href="{{root}}markup/widget-trackcontrol?item={{ item.relativePath }}" title="play" class="btn btn-trnsp trigger-modal xwax-mode-hide">
				<i class="fa fa-align-justify fa-lg"></i>
			</button>
			<a role="control" href="{{root}}markup/widget-deckselector?item={{ item.relativePath }}" title="show deckselector" class="btn btn-trnsp xwax-mode-show ajax-partial" data-ajaxtarget=".ajax-xwax-{{ item.relativePathHash }}">
				<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
			</a>
			<span style="font-size: 2em; text-align:center; z-index:2; width: 2em; display:inline-block;" class="dark hidden-xs">{{ item.number|default('?') }} </span>
		</div>
	</div>
	<div class="ffn-hidden">
		<div class="col-xs-2 col-sm-3 vcenter">
			<div class="vcinner">
				{% include 'partials/track/title.htm' with { 'titlestring': item.title, 'filepath': item.relativePath  } %}
			</div>
		</div>
		<div class="col-xs-5 col-sm-3 vcenter">
			<div class="vcinner">
				{% include 'partials/artist/link.htm' %}
			</div>
		</div>
		<div class="col-xs-2 hidden-xs vcenter">
			<div class="vcinner">
				{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId, 'genres': renderitems.genres } %}
			</div>
		</div>
		<div class="col-xs-1 hidden-xs vcenter">
			<div class="vcinner">
				{% include 'partials/year/link.htm' %}
			</div>
		</div>
	</div>
	<div class="ffn-show">
		<div class="col-md-9 vcenter">
			<div class="vcinner">
				{{ item.relativePath|split('/')|last }}<br>
				<span class="darker-links small">{% include 'partials/filebrowser/breadcrumb.htm' with { hiderootlink: 1 }%}</span>
			</div>
		</div>
	</div>
		
	<div class="col-xs-1 hidden-xs vcenter">
		<div class="vcinner">
			{{ item.miliseconds|formatMiliseconds }}
			<br />
			{% include 'partials/track/audioformat.htm' %}
		</div>
	</div>
	<div class="ajax-xwax-{{ item.relativePathHash }} col-md-12"></div>
</div>
