<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3">Titel &amp; Album</div>
	<div class="col-md-3">Artist</div>
	<div class="col-md-2">Genre</div>
	<div class="col-md-1">year</div>
	<div class="col-md-1">time</div>
	<div class="col-md-1"></div>
</div>
<hr />