<div class="row">
	<div class="col-md-1"><br class="replace-me-with-proper-css" /><br class="replace-me-with-proper-css" /></div>
	<div class="col-md-1"><span class="dark uc small">{{'nr'|ll}}</span></div>
	<div class="ffn-hidden">
		<div class="col-md-3"><span class="dark uc small">{{'title'|ll}}</span></div>
		<div class="col-md-3"><span class="dark uc small">{{'artist'|ll}}</span></div>
		<div class="col-md-2"><span class="dark uc small">{{'genre'|ll}}</span></div>
		<div class="col-md-1"><span class="dark uc small">{{'year'|ll}}</span></div>
	</div>
	<div class="ffn-show">
		<div class="col-md-8"><span class="dark uc small">{{'filename'|ll}} + {{'dirname'|ll}}</span></div>
		<div class="col-md-1"><span class="dark uc small">{{'fingerprint'|ll}}</span></div>
	</div>
	<div class="col-md-1"><span class="dark uc small">{{'duration'|ll}}</span></div>
</div>