<div class="row track-row mouseover track-{{ item.relativePathHash }}">
	<div class="col-md-2 vcenter">
		<a href="/album/{{ item.albumId }}" data-ajaxtarget="#main" class="ajax-link trigger-hide-modal" data-trigger="hover" data-toggle="popover" title="show album" data-html="true" data-image-url="/image-300/album/{{item.albumId}}">
			{% include 'partials/image.htm' with {
				'width': 50,
				'type': 'album',
				'itemId': item.albumId,
				'attrs': 'style="width: 50px; height: 50px; z-index:2;"'
			} %}
		</a>
		<button role="control" title="play" class="btn btn-trnsp player-ctrl is-playbtn trigger-hide-modal" data-player='{"action":"play","item":{{ item.id }},"ext":"{{item.audioDataformat }}","hash":"{{ item.relativePathHash }}", "mpdurl":"/mpdctrl/addSelect/{{ item.id }}"}'>
			<i class="fa fa-play fa-lg"></i>
		</button>
		<button role="control" data-href="/markup/widget-trackcontrol?item={{ item.relativePath }}" title="play" class="btn btn-trnsp trigger-modal xwax-mode-hide">
			<i class="fa fa-align-justify fa-lg"></i>
		</button>
		
		<a role="control" href="/markup/widget-deckselector?item={{ item.relativePath }}" title="show deckselector" class="btn btn-trnsp xwax-mode-show ajax-partial" data-ajaxtarget=".ajax-xwax-{{ item.relativePathHash }}">
			<i class="fa fa-headphones fa-lg"></i>
		</a>
	</div>
	
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-12 vcenter2">
				{% include 'partials/track/title.htm' with { 'titlestring': item.title, 'filepath': item.relativePath  } %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 vcenter2 darker-links">
				{% include 'partials/album/link.htm' with { 'item': renderitems.albums[item.albumId] } %}
			</div>
		</div>
	</div>
	<div class="col-md-3 vcenter">
		{% include 'partials/artist/link.htm' %}
	</div>
	<div class="col-md-2 vcenter">
		{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId, 'genres': renderitems.genres } %}
	</div>
	<div class="col-md-1 vcenter">{% include 'partials/year/link.htm' %}</div>
	<div class="col-md-1 vcenter">
		{{ item.miliseconds|formatMiliseconds }}
		<br />{% include 'partials/track/audioformat.htm' %}
	</div>
	<div class="ajax-xwax-{{ item.relativePathHash }} col-md-12"></div>
</div>

