<div class="row track-row {{ cycle(['bg-col3','bg-col3'],loop.index) }} mouseover track-{{ item.relativePathHash }}">
	<div class="col-xs-3 col-sm-2">
		<button role="control" title="play" class="btn btn-default player-ctrl is-playbtn trigger-hide-modal" data-player='{"action":"play","item":{{ item.id }},"ext":"{{item.audioDataformat }}","hash":"{{ item.relativePathHash }}", "mpdurl":"/mpdctrl/addSelect/{{ item.id }}"}'>
			<i class="fa fa-play fa-lg"></i>
		</button>
		<button role="control" data-href="/markup/widget-trackcontrol?item={{ item.relativePath }}" title="play" class="btn btn-default trigger-modal">
			<i class="fa fa-align-justify fa-lg"></i>
		</button>
		<span style="height: 50px; font-size: 2em; text-align:center; z-index:2; width: 2em; display:inline-block;" class="dark hidden-xs">{{ item.number|default('?') }} </span>
	</div>
	<div class="col-xs-2 col-sm-3">
		{% include 'partials/tracktitle.htm' with { 'titlestring': item.title, 'filepath': item.relativePath  } %}
	</div>
	<div class="col-xs-5 col-sm-3">
		{% include 'partials/artist/link.htm' %}
	</div>
	<div class="col-xs-2 hidden-xs">
		{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId, 'genres': renderitems.genres } %}
	</div>
	<div class="col-xs-1 hidden-xs">{% include 'partials/year/link.htm' %}</div>
	<div class="col-xs-1 hidden-xs">{{ item.miliseconds|formatMiliseconds }}
	<br />{% include 'partials/track/audioformat.htm' %}
	</div>
</div>