/* Copyright
 *
 */
.form-control[type=text] {
	background-color: #2D2D2D;
	border:none;
	color: #AAA;
}

/* cross-icon to clear searchfield */
.clearinput {
	position: absolute;
	right: 0.4em;
	top: 0.9em;
	bottom: 0;
	margin: 0;
	font-size: 20px;
	cursor: pointer;
	color: #666;
	display: none;
}

/* edit album route may has highlighted inputfields to indicate manually edited properties */
.form-control.highlight {
	border: 1px solid #6b1f1f;
}
