
{% include 'partials/randomizer.htm' with { subject: 'Album', urlpattern: 'maintainance/albumdebug/%s' } %}
<form action="{{root}}maintainance/updatealbum/{{ album.uid }}" method="post" id="edit-album">
<div class="row">
	<div class="col-md-6">
		<ul class="nav nav-tabs inline-tab-nav">
			<li class="active">
				<a href="#editall">Edit all</a>
			</li>
			<li class="">
				<a href="#discogs">Populate from Discogs</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<div class="pull-right">
			<button type="submit" class="btn btn-default btn-trnsp btn-bordered col2">Discard Changes</button>
			<button type="submit" class="btn btn-default">Save all</button>
			<a href="{{root}}album/remigrate/{{album.uid}}" type="submit" class="btn btn-default ajax-link">Apply Changes</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>
			Album-Editor <button
			  role="control"
			  data-href="{{root}}markup/widget-album/{{ album.uid }}"
			  title="show album widget TRNSL"
			  class="btn btn-default trigger-modal">
				<i class="fa fa-plus fa-lg"></i>
			</button>
		</button>{% include 'partials/artist/link.htm' with { 'item': album } %} - {% if album.isJumble %}<span class="col2" title="no album but jumble">*</span>{% endif %}{{album.title}}
		</h3>

		<div class="small darker-links">
		{% include 'partials/filebrowser/breadcrumb.htm' %}
		</div>
		<div class="row replace-me-with-proper-css"><br></div>
	</div>
</div>

<div class="tab-content">
	<div class="tab-pane active" id="editall">
		{% include 'partials/album/editor/tab-editall.htm' %}
	</div>
	<div class="tab-pane" id="discogs">
		{% include 'partials/album/editor/tab-discogs.htm' %}
	</div>
</div>
</form>
	<hr /><br /><br />

	<style type="text/css">
	
	.placeholder {
	    border: 1px solid green;
	    background-color: white;
	    -webkit-box-shadow: 0px 0px 10px #888;
	    -moz-box-shadow: 0px 0px 10px #888;
	    box-shadow: 0px 0px 10px #888;
	}
	</style>