<div class="row heading">
	<div class="col-md-12">
		<h3>Album properties</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-2"><strong>{{'albumtitle'|ll}}</strong></div>
	<div class="col-md-6"><input name="album[setAlbum]" type="text" value="{{ album.title }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'albumartist'|ll}}</strong></div>
	{% set value %}{% include 'partials/artist/string.htm' with { 'item': album } %}{% endset %}
	<div class="col-md-6"><input name="album[setAlbumArtist]" type="text" value="{{ value }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'year'|ll}}</strong></div>
	<div class="col-md-6"><input name="album[setYear]" type="text" value="{{ album.year }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>


<!--div class="row">
	<div class="col-md-2"><strong>{{'genre'|ll}}</strong></div>
	{% set value %}{% include 'partials/genre/string.htm' with { 'genreUids': album.genreUid } %}{% endset %}
	<div class="col-md-6">
		<input name="title" disabled="disabled" type="text" value="{{ not discogsalbum.genre ? value : discogsalbum.genre }} (collected from tracks)" class="form-control" /></div>
	<div class="col-md-3"></div>
</div-->


<div class="row">
	<div class="col-md-2"><strong>{{'label'|ll}}</strong></div>
	{% set value %}{% include 'partials/label/string.htm' with { 'labelUids': album.labelUid } %}{% endset %}
	<div class="col-md-6"><input name="album[setLabel]" type="text" value="{{ value }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'catnr'|ll}}</strong></div>
	<div class="col-md-6"><input name="album[setCatalogNr]" type="text" value="{{ album.catalogNr }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>



<div class="row"><br></div>
<div class="row heading">
	<div class="col-md-12">
		<h3>Track properties</h3>
	</div>
</div>
<div class="row uc small dark">
	<div class="col-md-1">{{'number'|ll}}</div>
	<div class="col-md-4">{{'artist'|ll}} &amp; {{'featured.artist'|ll}}</div>
	<div class="col-md-4">{{'title'|ll}} &amp; {{'remix.artist'|ll}}</div>
	<div class="col-md-2">{{'genre'|ll}}</div>
	<div class="col-md-1">{{'year'|ll}}</div>
	<div class="col-md-12"><hr /></div>
</div>

{% for idx,item in itemlist %}
<div class="row">
	<div class="col-md-1">
		{% set highlightClass = (editorials[item.relPathHash].setTrackNumber) ? 'highlight' : '' %}
		<input name="track[{{item.uid}}][setTrackNumber]" type="text" value="{{ item.trackNumber}}" class="form-control {{highlightClass}}" />
	</div>
	<div class="col-md-4">
		{% set highlightClass = (editorials[item.relPathHash].setArtist) ? 'highlight' : '' %}
		<input name="track[{{item.uid}}][setArtist]" type="text" value="{% include 'partials/artist/string.htm' %}" class="form-control {{highlightClass}}" />
	</div>
	<div class="col-md-4">
		{% set highlightClass = (editorials[item.relPathHash].setTitle) ? 'highlight' : '' %}
		<input name="track[{{item.uid}}][setTitle]" type="text" value="{% include 'partials/track/titlestring.htm' with { 'titlestring': item.title } %}" class="form-control {{highlightClass}}" />
	</div>
	<div class="col-md-2">
		{% set highlightClass = (editorials[item.relPathHash].setGenre) ? 'highlight' : '' %}
		<input name="track[{{item.uid}}][setGenre]" type="text" value="{% include 'partials/genre/string.htm' with {'genreUids': item.genreUid} %}" class="form-control {{highlightClass}}" />
	</div>
	<div class="col-md-1">
		<a href="{{root}}maintainance/trackdebug/{{ item.uid }}" class="ajax-link" style="position:absolute; right: -20px;"><i class="fa fa-pencil"></i></a>
		{% set highlightClass = (editorials[item.relPathHash].setYear) ? 'highlight' : '' %}
		<input name="track[{{item.uid}}][setYear]" type="text" value="{{ item.year}}" class="form-control {{highlightClass}}" />
	</div>
</div>
{% endfor %}