<form class="ajax-form" action="{{root}}maintainance/albumdebug/{{album.uid}}" method="get">
<div class="row">
	<hr>
	{# TODO: optionally accept full discogs url and not only numeric release id #}
	{# TODO: provide discogs album list within sliMpd fetched via discogs-API #}
	{# TODO: display message in case required discogs api key+secret are not configured (plus extending systemcheck) #}
	<div class="col-md-3">Insert {% include 'partials/extlink-discogs.htm' %} Release-ID and submit.<br>
		<span class="dark small">Make sure its not a Master-ID</span>
	</div>
	<div class="col-md-2">
		<input name="discogsid" type="text" id="discogsid" placeholder="" value="{{discogsid}}" class="form-control"/>
	</div>
	<div class="col-md-7">
		<button name="submit-discogs-id" value="1" class="btn btn-default">submit</button>
	</div>
</div>
</form>
<div class="row">
	<hr />
</div>



<div class="row heading">
	<div class="col-md-12">
		<h3>Album properties</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-2"><strong>{{'albumtitle'|ll}}</strong></div>
	<div class="col-md-6"><input name="album[setAlbum]" type="text" value="{{ discogsalbum.title }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'albumartist'|ll}}</strong></div>
	{% set value %}{% include 'partials/artist/string.htm' with { 'item': album } %}{% endset %}
	<div class="col-md-6"><input name="album[setAlbumArtist]" type="text" value="{{ discogsalbum.artist }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'year'|ll}}</strong></div>
	<div class="col-md-6"><input name="album[setYear]" type="text" value="{{ discogsalbum.year }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'genre'|ll}}</strong></div>
	{% set value %}{% include 'partials/genre/string.htm' with { 'genreUids': album.genreUid } %}{% endset %}
	<div class="col-md-6">
		<input name="title" disabled="disabled" type="text" value="{{ discogsalbum.genre }} (collected from tracks)" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'label'|ll}}</strong></div>
	{% set value %}{% include 'partials/label/string.htm' with { 'labelUids': album.labelUid } %}{% endset %}
	<div class="col-md-6"><input name="album[setLabel]" type="text" value="{{ discogsalbum.label }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'catnr'|ll}}</strong></div>
	<div class="col-md-6"><input name="album[setCatalogNr]" type="text" value="{{ discogsalbum.catalogNr }}" class="form-control" /></div>
	<div class="col-md-3">
		
		<form action="{{root}}maintainance/marrytracks/{{ album.uid }}" method="post" id="submit-marriage">
			<button name="submit-marriage" value="1" class="btn btn-default">submit marriage</button>
		</form>
	</div>
</div>



<div class="row">
	<hr />
</div>

<div class="row heading">
	<div class="col-md-1"></div>
	<div class="col-md-4"><h3>Discogs Tracks</h3></div>
	<div class="col-md-2">
		<h3>|
		{% if discogstracks|length %}
			<button class="marry-all btn btn-trnsp" data-index="all"><i class="fa fa-link fa-lg" aria-hidden="true"></i></button>
		{% endif %}
		</h3>
	</div>
	<div class="col-md-4"><h3>Local Tracks</h3></div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-6 external-items" id="ext-items-container" data-release-id="{{discogsid}}">
		{% if discogstracks|length %}
		{% for idx,item in discogstracks %}
			<!--div class="well well-sm">{{ discogstrXacks[ matchmapping[idx]|keys|first] }}</div-->
			<div class="well well-sm" id="ext-item-{{idx}}">
				<span class="highlight">{{ item.trackNumber }} - {{ item.artistString }} - {{ item.titleString }}</span>
				{% if item.miliseconds %}<span class="pull-right duration" data-miliseconds="{{ item.miliseconds }}"><span class="dark">[</span>{{ item.miliseconds|formatMiliseconds }}<span class="dark">]</span></span>{% endif %}
				<button class="marry btn btn-trnsp" data-index="{{idx}}"><i class="fa fa-link fa-lg" aria-hidden="true"></i></button>
			</div>
		{% endfor %}
		{% else %}
		<div class="centered-text dark">no discogs - id given</div>
		{% endif %}
	</div>

	<div class="col-md-6 grid local-items">
		{% for idx,item in itemlist %}
			{% set dirs = item.relPath|split('/') %}
			{% for dir in dirs %}
				{% if loop.last == true %}<div class="well well-sm" data-uid="{{item.uid}}"><span class="highlight">{{ dir }}</span> <span class="pull-right duration" data-miliseconds="{{ item.miliseconds }}"><span class="dark">[{{ item.miliseconds|formatMiliseconds }}]</span></span></div>{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>