<div class="row">
	<div class="alert alert-warning">Sorry - Editing images is not implemented yet.<br>
		The stuff you see below is currently under development...
	</div>
	<hr />
	<p>
		Drag&amp;Drop to change sorting. The very first image will be used as primary album image
		<button class="btn btn-default">Save sorting</button>
		{% if discogsimages|length %}
		<button class="btn btn-default pull-right">Download all Discogs images</button>
		{% endif %}
	</p>
	<hr />
	<div class="thumbs">
		{% for image in albumimages %}
		<div class="thumb">
			<div class="contain-img img-placeholder"
				style="background-image:url({{root}}image-300/id/{{ image.uid }});background-color:{{ image.bghex }};">
				<div class="abs-center-wrap">
					<div class="dimensions">{{ image.width }} <span class="dark">x</span> {{ image.height }}</div>
				</div>
			</div>
		</div>
		{% endfor %}

		{% for image in discogsimages %}
		{% if loop.index0 < 3 %}
		<div class="thumb not-downloaded">
			<div class="contain-img img-placeholder"
				style="background-image:url('{{image.uri150}}');background-color:#000000;">
				<div class="abs-center-wrap hover-show">
					<a href="#" class="btn btn-default">Download from Discogs</a>
				</div>
				<div class="abs-center-wrap">
					<div class="dimensions">{{ image.width }} <span class="dark">x</span> {{ image.height }}</div>
				</div>
			</div>
		</div>
		{#
			{{image.resource_url}}
			{{image.uri150}}
			{{image.type}} 'primary', 'secondary'
			{{image.width}}
			{{image.height}}
		#}
		{% endif %}
	{% endfor %}
	</div>
</div>
