<form class="ajax-form" action="{{root}}maintainance/albumdebug/{{album.uid}}" method="get">
<div class="row">
	<hr>
	{# TODO: optionally accept full discogs url and not only numeric release id #}
	{# TODO: provide discogs album list within sliMpd fetched via discogs-API #}
	{# TODO: display message in case required discogs api key+secret are not configured (plus extending systemcheck) #}
	<div class="col-md-3">Insert {% include 'partials/extlink-discogs.htm' %} Release-ID and submit.<br>
		<span class="dark small">Make sure its not a Master-ID</span>
	</div>
	<div class="col-md-2">
		<input name="discogsid" type="text" id="discogsid" placeholder="" value="{{discogsid}}" class="form-control"/>
	</div>
	<div class="col-md-7">
		<button name="submit-discogs-id" value="1" class="btn btn-default">submit</button>
	</div>
</div>
</form>
<div class="row">
	<hr />
</div>

<!--div class="row heading">
	<div class="col-md-12">
		<h3>Album properties</h3>
	</div>
</div-->
<div class="row heading">
	<div class="col-md-1"><h3></h3></div>
	<div class="col-md-2"><h3>|</h3></div>
	<div class="col-md-3"><h3>Discogs Album</h3></div>
	<div class="col-md-2"><h3>|
		{% if discogstracks|length %}
		<button class="marry-all-properties btn btn-trnsp" data-target="#targetAlbum" data-source="#sourceAlbum">
			<i class="fa fa-check-square-o fa-2x unchecked" aria-hidden="true"></i>
			<i class="fa fa-square-o fa-2x checked" aria-hidden="true"></i>
		</button>
		{% endif %}
		</h3></div>
	<div class="col-md-3"><h3>Local Album</h3></div>
	<div class="col-md-1"><h3></h3></div>
</div>
<div class="row">
	<div class="col-md-2"><strong>{{'albumtitle'|ll}}</strong></div>
	<div class="col-md-5"><span id="sourceAlbum">{{ discogsalbum.title }}</span>
		<button class="marry-property btn btn-trnsp" data-target="#targetAlbum" data-source="#sourceAlbum">
			<i class="fa fa-check-square-o fa-2x checked" aria-hidden="true"></i>
			<i class="fa fa-square-o fa-2x unchecked" aria-hidden="true"></i>
		</button>
	</div>
	<div class="col-md-5"><input name="album[setAlbum]" id="targetAlbum" type="text" value="{{ album.title }}" class="form-control" data-initvalue="{{ album.title }}"/></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'albumartist'|ll}}</strong></div>
	<div class="col-md-5"><span id="sourceArtist">{{ discogsalbum.artistString }}</span>
		<button class="marry-property btn btn-trnsp" data-target="#targetArtist" data-source="#sourceArtist">
			<i class="fa fa-check-square-o fa-2x checked" aria-hidden="true"></i>
			<i class="fa fa-square-o fa-2x unchecked" aria-hidden="true"></i>
		</button>
	</div>
	<div class="col-md-5"><input name="album[setAlbumArtist]" id="targetArtist" type="text" value="{% include 'partials/artist/string.htm' with { 'item': album } %}" class="form-control" data-initvalue="{% include 'partials/artist/string.htm' with { 'item': album } %}"/></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'year'|ll}}</strong></div>
	<div class="col-md-5"><span id="sourceYear">{{ discogsalbum.year }}</span>
		<button class="marry-property btn btn-trnsp" data-target="#targetYear" data-source="#sourceYear">
			<i class="fa fa-check-square-o fa-2x checked" aria-hidden="true"></i>
			<i class="fa fa-square-o fa-2x unchecked" aria-hidden="true"></i>
		</button>
	</div>
	<div class="col-md-5"><input name="album[setYear]" id="targetYear" type="text" value="{{ album.year }}" class="form-control" data-initvalue="{{ album.year }}"/></div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'genre'|ll}}</strong></div>
	<div class="col-md-5"><span id="sourceGenre">{{ discogsalbum.genreString }}</span>
		<button class="marry-property btn btn-trnsp" data-target="#targetGenre" data-source="#sourceGenre">
			<i class="fa fa-check-square-o fa-2x checked" aria-hidden="true"></i>
			<i class="fa fa-square-o fa-2x unchecked" aria-hidden="true"></i>
		</button>
	</div>
	<div class="col-md-5">
		<input name="album[setGenre]" id="targetGenre" type="text" value="{% include 'partials/genre/string.htm' with { 'genreUids': album.genreUid } %}" class="form-control" data-initvalue="{% include 'partials/genre/string.htm' with { 'genreUids': album.genreUid } %}"/>
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'label'|ll}}</strong></div>
	<div class="col-md-5"><span id="sourceLabel">{{ discogsalbum.labelString }}</span>
		<button class="marry-property btn btn-trnsp" data-target="#targetLabel" data-source="#sourceLabel">
			<i class="fa fa-check-square-o fa-2x checked" aria-hidden="true"></i>
			<i class="fa fa-square-o fa-2x unchecked" aria-hidden="true"></i>
		</button>
	</div>
	<div class="col-md-5">
		<input name="album[setLabel]" id="targetLabel" type="text" value="{% include 'partials/label/string.htm' with { 'labelUids': album.labelUid } %}" class="form-control" data-initvalue="{% include 'partials/label/string.htm' with { 'labelUids': album.labelUid } %}"/>
	</div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'catnr'|ll}}</strong></div>
	<div class="col-md-5"><span id="sourceCatalogNr">{{ discogsalbum.catalogNr }}</span>
		<button class="marry-property btn btn-trnsp" data-target="#targetCatalogNr" data-source="#sourceCatalogNr">
			<i class="fa fa-check-square-o fa-2x checked" aria-hidden="true"></i>
			<i class="fa fa-square-o fa-2x unchecked" aria-hidden="true"></i>
		</button>
	</div>
	<div class="col-md-5">
		<input name="album[setCatalogNr]" id="targetCatalogNr" type="text" value="{{ album.catalogNr }}" class="form-control" data-inivalue="{{ album.catalogNr }}"/>
	</div>
</div>


<div class="row">
	<div class="col-md-5"></div>
	<div class="col-md-2">
		<form action="{{root}}maintainance/marrytracks/{{ album.uid }}" method="post" id="submit-marriage">
			<button name="submit-marriage" value="1" class="btn btn-default">submit marriage</button>
		</form>
	</div>
	<div class="col-md-5"></div>
</div>



<div class="row">
	<hr />
</div>

<div class="row heading">
	<div class="col-md-1"></div>
	<div class="col-md-4"><h3>Discogs Tracks</h3></div>
	<div class="col-md-2">
		<h3>|
		{% if discogstracks|length %}
			<button class="marry-all btn btn-trnsp" data-index="all"><i class="fa fa-link fa-lg" aria-hidden="true"></i></button>
		{% endif %}
		</h3>
	</div>
	<div class="col-md-4"><h3>Local Tracks</h3></div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-6 external-items" id="ext-items-container" data-release-id="{{discogsid}}">
		{% if discogstracks|length %}
		{% for idx,item in discogstracks %}
			<!--div class="well well-sm">{{ discogstrXacks[ matchmapping[idx]|keys|first] }}</div-->
			<div class="well well-sm" id="ext-item-{{idx}}" title="{{ item.trackNumber }} - {{ item.artistString }} - {{ item.titleString }}">
				{% if item.miliseconds %}<span class="duration" data-miliseconds="{{ item.miliseconds }}"><span class="dark">[</span>{{ item.miliseconds|formatMiliseconds }}<span class="dark">]</span></span>{% endif %}
				<button class="marry btn btn-trnsp" data-index="{{idx}}">
					<i class="fa fa-link fa-lg unchecked" aria-hidden="true"></i>
					<i class="fa fa-check-square-o fa-lg checked" aria-hidden="true"></i>
				</button>
				<span class="highlight shorten">{{ item.trackNumber }} - {{ item.artistString }} - {{ item.titleString }}</span>
			</div>
		{% endfor %}
		{% else %}
		<div class="centered-text dark">no discogs - id given</div>
		{% endif %}
	</div>

	<div class="col-md-6 grid local-items">
		{% for idx,item in itemlist %}
			{% set dirs = item.relPath|split('/') %}
			{% for dir in dirs %}
				{% if loop.last == true %}
				<div class="well well-sm" data-uid="{{item.uid}}" title="{{ dir }}">
					<span class="duration" data-miliseconds="{{ item.miliseconds }}">
						<span class="dark">[{{ item.miliseconds|formatMiliseconds }}]</span>
					</span>
					<span class="highlight shorten">{{ dir }}</span>
				</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
		{% if itemlist|length < discogstracks|length %}
			{% set diff = discogstracks|length - itemlist|length %}
			{% for i in 1..diff %}
			<div class='well well-sm empty-placeholder centered-text' title='placeholder'>
				<span class='dark'>placeholder</span>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</div>