
html, body {
    overflow-x: hidden;
}
.container {
  margin: 0  auto;
}
.level {
  height:100px;
  background: #bada55;
}

.fw-bg {
  position: relative;
  background: #252525;
}

.fw-bg:before, 
.fw-bg:after {
  content: "";
  position: absolute;
  background: #252525;  /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
} 
.fw-bg:before {
  right: 100%; 
}
.fw-bg:after {
  left: 100%;
}



.fw-bg.bg-col5 {
  background: #373737;
}

.fw-bg.bg-col5:before, 
.fw-bg.bg-col5:after {
  background: #373737;  /* Match the background */
} 