

/* player mode toggler */
.active-local {
	color: #000;
	background-color: rgb(59,187,47);
}
.active-mpd {
	color: #000;
	background-color: rgb(255,156,1);
}



.permaplayer {
	border-top: 4px solid #000;
	box-shadow: 0 -30px 30px -30px #000;
}


.slimplayer-show {
	display: none;
}

.slimplayer .slimplayer-show {
	display: inline-block;
}

.slimplayer .slimplayer-hidden {
	display: none;
}



/* mpd player */

.mpd-status-progressbar,
.jp-play-bar,
.xwax-deck-progressbar {
	position: absolute;
	background: rgba(255,156,1,0.3);
	background: rgba(0,0,0,0.7);
	width: 0;
	border-right: 1px solid rgba(255, 255, 255, 1);
	top: 0;
}

.mpd-ctrl-seekbar,
.jp-seek-bar{
	position: absolute;
	top: 0;
	left: 0;
	
	/* TODO: how to respect parents padding on absolute positioned div with width 100% ?*/
	width: calc(100% - 15px);

	opacity: 0;
}

.mpd-ctrl-seekbar,
.jp-seek-bar,
.mpd-status-progressbar,
.jp-play-bar,
.xwax-deck-progressbar,
.permaplayer .waveform {
	height: 50px;
}



.slimplayer .mpd-ctrl-seekbar,
.slimplayer .jp-seek-bar,
.slimplayer .mpd-status-progressbar,
.slimplayer .jp-play-bar,
.slimplayer .xwax-deck-progressbar,
.slimplayer .permaplayer .waveform,
.slimplayer .xwaxplayer .waveform {
	height: 20px;
}

.waveform {
	width: 100%;
}

.timegrid {
	width: 100%;
	height:10px;
}



.status-timestring {
	text-align: center;
}





.navbar-xwax {
	bottom: 53px;
}

.xwax-mode-show {
	display: none;
}

.xwax-enabled .xwax-mode-show {
	display: inline-block;
}

.xwax-enabled .xwax-mode-hide {
	display: none;
}

.xwax-error .alert {
	padding: 0.2em 1em;
} 