/* player mode toggler */
/* @see: templates/css/spotcolors.css for overrides */
.playerModeToggle a {
	border-radius: 0;
	color: #000;
}

.permaplayer {
	border-top: 4px solid #000;
	box-shadow: 0 -30px 30px -30px #000;
}


.slimplayer-show {
	display: none;
}

.slimplayer .slimplayer-show {
	display: inline-block;
}

.slimplayer .slimplayer-hidden {
	display: none;
}



/* mpd player */

.mpd-status-progressbar,
.jp-play-bar,
.xwax-deck-progressbar {
	position: absolute;
	background: rgba(255,156,1,0.3);
	background: rgba(0,0,0,0.7);
	width: 0;
	border-right: 1px solid rgba(255, 255, 255, 1);
	top: 0;
	left: 0;
}

.mpd-ctrl-seekbar,
.jp-seek-bar{
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0;
}

.mpd-ctrl-seekbar,
.jp-seek-bar,
.mpd-status-progressbar,
.jp-play-bar,
.xwax-deck-progressbar,
.permaplayer .waveform {
	height: 50px;
}



.slimplayer .mpd-ctrl-seekbar,
.slimplayer .jp-seek-bar,
.slimplayer .mpd-status-progressbar,
.slimplayer .jp-play-bar,
.slimplayer .xwax-deck-progressbar,
.slimplayer .permaplayer .waveform,
.slimplayer .xwaxplayer .waveform {
	height: 20px;
}

.waveform {
	width: 100%;
}

.timegrid {
	width: 100%;
	height:10px;
}



.status-timestring {
	text-align: center;
}





.navbar-xwax {
	bottom: 53px;
}

.xwax-mode-show {
	display: none;
}

.xwax-enabled .xwax-mode-show {
	display: inline-block;
}

.xwax-enabled .xwax-mode-hide {
	display: none;
}

.xwax-error .alert {
	padding: 0.2em 1em;
} 


.show-no-connection {
	display: none;
}

.no-connection .show-no-connection {
	display: flex;
	justify-content: center; /* align horizontal */
	text-align: center;
	font-size: 2em;
	background: #333;
	height: 100%;
	line-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	padding: 0;
	opacity: 0.6;
}

.standalone .no-connection .show-no-connection {
	align-items: flex-end;
}


.standalone .xwax-row {
	height: 100%;
}
