@font-face {
	font-family: 'slim1';
	src: url('./fonts/Share-Regular/Share-Regular.eot');
	src: local('slim1'), url('./fonts/Share-Regular/Share-Regular.ttf') format('truetype');
} 

@font-face {
	font-family: 'slim2';
	src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
} 


body {
	padding-top: 60px;
	padding-bottom: 120px;
	font-family: "open sans", "sans-serif";
	font-size: 1.4em;
	letter-spacXing: -0.3pt;
	font-weiXght: bold;
	color #BBB;
}

.bg-col1,
.popover,
.popover .popover-title {
	background-color: #1A1A1A;
	
}
.bg-col2 {
	background-color: #353535;
	
}

.bg-col3 {
	background-color: #2D2D2D;
	
}

.bg-col4 {
	background-color: #000;
	
}

.col1 {
	color: #BBB;
}


a {
	color: #BBB;
}

.artist-link {
	color: #FF9C01;
	font-weight: bold;
}

.dark,
.darker-links a {
	color: #696969;
}
.fa {
	color: #888;
}

.uc {
	text-transform: uppercase;
}

.active .fa,
.fa:hover {
	color: #FFF;
}

.col2, .col2 a {
	color: #FF9C01;
}


.well {
	color: #000;
}

.main-nav .form-control {
	background-color: #2D2D2D;
	border:none;
	width: 100%;
	display:block;
	margin-top: 0.7em;
}


.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}


.main-nav .active {
	border-bottom: 3px solid #FFF;
}

.dummy {
    margin-top: 100%;
}
.link-tile {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
}

.tile-square {
	margin-bottom: 2.5em;
	overflow: hidden;
}

.tile-square a{
	height: 100%;
}


.tile-img img {
	width: 100%;
	height: 100%;
}

.tile-info-bottom {
	padding-top: 0;
	top: auto;
}


/* same height for all columns inside row*/
.main-nav .row{
    overflow: hidden; 
}
.main-nav [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.tile-hover-data {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination {
	border-radius: 0;
}

.pagination>li>a,
.pagination>li>span {
	color: #FFF;
	background-color: inherit;
}



.item-link {
	border-bottom: 1px solid #333;
}
.item-linkXXXXXXXXXXX:after {
	content: " >";
	color: #444;
}
.item-link:hover {
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px solid #FFF;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.permaplayer {
	border-top: 4px solid #000;
	box-shadow: 0 -30px 30px -30px #000;
}

/* mpd player */

.mpd-status-progressbar,
.jp-play-bar {
	position: absolute;
	background: rgba(255,156,1,0.3);
	background: rgba(0,0,0,0.7);
	width: 0;
	height: 50px;
	border-right: 1px solid rgba(255, 255, 255, 1);
	top: 0;
}

.mpd-ctrl-seekbar,
.jp-seek-bar{
	position: absolute;
	top: 0;
	left: 0;
	
	/* TODO: how to respect parents padding on absolute positioned div with width 100% ?*/
	width: calc(100% - 15px);

	height: 50px;
	opacity: 0;
}
.rotate2 {
  -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.form-control[type=text] {
	background-color: #2D2D2D;
	border:none;
	color: #AAA;
}


/* album list 2 (wide boxes) begin */
.box {
  border-right: 1em solid #1a1a1a;
}

.box .img-col {
	padding-left: 0;
}
/* album list 2 (wide boxes) end */


/* mpd player shorten text begin */
.shorten {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
    width:100%;                 /* fixed width */
    display:block;
}

/* player mode toggler */
.active-local {
	color: #000;
	background-color: rgb(59,187,47);
}
.active-mpd {
	color: #000;
	background-color: rgb(255,156,1);
}


/* track widget*/
.border-left {
	border-left: 1px solid #353535;
}

/* TODO: fix non-working popover inside modalbox ... */
.popover { border-radius: 0; min-width: 20em; border: 3px solid #353535;}
.popover .popover-title {border-radius: 0; }


.no-padding-right {
	padding-right: 0;
}

.track-row {
	margin-bottom: 0.3em;
}

.centered-icon {
	display:block;
	padding-top: 25%;
}


.btn-default {
	background-color: #353535;
	border: none;
	border-radius: 0;
	color: #888;
}

.bg-col2 .btn-default,
.bg-col3 .btn-default {
	background-color: #191919;
}

.btn-trnsp,
.bg-col2 .btn-trnsp,
.bg-col2 .btn-trnsp {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.small {
	font-weight: normal;
}
