
td {
	font: 9pt sans-serif;
	padding: 1px 5px;
}

.even_files {
	background-color: #fefefe;
}

.odd_files {
	background-color: #e9e9e9;
}

.dump {
	border-top:  solid 1px #373737;
	border-left: solid 1px #373737;
	margin: 2px;
}

.dump td {
	font: 9pt sans-serif;
	border-right:  solid 1px #373737;
	border-bottom: solid 1px #373737;
}

.dump_string {
	font-weight: bold;
	color: rgb(59,187,47);
	font-family: sans-serif;
}

.dump_integer {
	color: #FF5050;
	font-weight: bold;
}

.dump_double {
	color: #FF9900;
	font-weight: bold;
}

.dump_boolean {
	color: #5487F4;
	font-weight: bold;
}

.error {
	color: red
}

