/*  bootstrap vertically centering of row content - begin */
.vcenter {
  min-height: 4em;
  display: flex;
  align-items: center;
}

.filebrowser .vcenter,
.vcenter3 {
  min-height: 3em;
}

.vcinner {
  display: inline-table;
}
/*  bootstrap vertically centering of row content - end */









/*  bootstrap full width row background - begin */

html, body {
    overflow-x: hidden;
}
.container {
  margin: 0  auto;
}
.level {
  height:100px;
  background: #bada55;
}

.fw-bg {
  position: relative;
  background: #252525;
}

.fw-bg:before, 
.fw-bg:after {
  content: "";
  position: absolute;
  background: #252525;  /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
  z-index:-1; /* dont hide border of row which indicates current playing */
} 
.fw-bg:before {
  right: 100%; 
}
.fw-bg:after {
  left: 100%;
}



.fw-bg.bg-col5 {
  background: #373737;
}

.fw-bg.bg-col5:before, 
.fw-bg.bg-col5:after {
  background: #373737;  /* Match the background */
} 
/*  bootstrap full width row background - end */



.missing-track-row {
	margin-bottom: 0.3em;
}









/* tile listing in <base>/library/year/YYYY (consider removal) - begin */
.dummy {
    margin-top: 100%;
}

.link-tile {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
}

.tile-square {
	margin-bottom: 2.5em;
	overflow: hidden;
}

.tile-square a{
	height: 100%;
}

.tile-img img {
	width: 100%;
	height: 100%;
}

.tile-info-bottom {
	padding-top: 0;
	top: auto;
}

.tile-hover-data {
	position: absolute;
	bottom: 0;
	width: 100%;
}
/* tile listing in <base>/library/year/YYYY (consider removal) - end */

