/* https://gist.github.com/daz/2168334 begin */
.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
}

.ui-corner-all .ui-state-hover,
.ui-corner-all .ui-state-active {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background-image: none;
}
/* https://gist.github.com/daz/2168334 end */

/* few additions ... */
.ui-autocomplete {
	background-color: #2D2D2D;
	padding: 1em;
}

.ui-autocomplete .ui-state-active {
	background-color: #353535;
	outline: 1px solid #AAA;
}

.ui-autocomplete .ui-menu-item {
	border-bottom: 1px solid #AAA;
}

.ui-autocomplete li.ui-menu-item .ui-state-active {
	border: none;
	background-color: #1A1A1A;
	outline: none;
	border-bottom: 1px solid #444;
}

.ui-autocomplete .ui-menu-item {
    border-bottom: 1px solid #444;
}



.ac-nav button {
    color: #fff;
    background-color: inherit;
    border-radius: 0;
    border: 3px solid transparent;
    border-width:0 0 3px 0;
    outline: none;
}

.ui-helper-hidden-accessible {
	position: absolute;
	left:-999em;
	display: none;
}

.ac-nav {
	padding-bottom: 0.5em;
}
