

{# TODO: refresh importer stuff but only on importer-route #}
<!--meta http-equiv="refresh" content="5; URL=/importer?debug=1"-->

<div class="row">
	<div class="col-md-10">
		<h2>Recent Importer Jobs <span class="small uc">TODO: auto <a href="{{root}}importer" class="ajax-link">refresh</a></span></h2>
	</div>
	<div class="col-md-2">
		{% if config.mpd.disallow_full_database_update == '0' %}
		<button role="control" data-href="{{root}}mpdctrl/update" title="update sliMpd-db based on MPD-db" class="ajax-rqst btn btn-default">
			<i class="fa fa-refresh"></i> Update sliMpd Database
		</button>
		{% endif %}
	</div>
</div>
<div class="row">
		<i class="fa fa-heart faa-pulse animated"></i>CLI-Worker {{lastHeartBeat|timeElapsedString}}
	</div>
<style type="text/css">

.importer-stats td,
.importer-stats th {
	text-align: center;
}
td.ar {
	te_xt-align: right;
}
</style>
{#
	{% set phaseCount = 8 %}
	{% set phasePercent = 100/phaseCount %}
	{% for item in itemlist %}
		<div class="row">
			<div class="col-md-3">
			{{item.jobStart|timeElapsedString}}
			</div>
			<div class="col-md-2">
			{% if item.status == 'finished' %}
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
					100% in {{ item.jobStatistics.runtimeSeconds|formatSeconds }}
					</div>
				</div>
			{% endif %}
			{% if item.status == 'running' %}
				<i class="fa fa-refresh fa-spin fa-fw"></i> running...
			{% endif %}
			{% if item.status == 'interrupted' %}
			<span class="label label-warning">
				interrupted after {{item.interruptedAfter|formatSeconds }}
			</span>
			{% endif %}
			</div>
			<div class="col-md-7">

			</div>
		</div>
		<div class="row">
			{% include 'partials/importer/stats-bar.htm' with {'itemlist': item.phases} %}
		</div>
		<hr />
	{% endfor %}
#}
<hr />
	{% for item in itemlist %}
		<div class="row">
			<div class="col-md-3">
			{{item.jobStart|timeElapsedString}}
			</div>
			<div class="col-md-2">
			{% if item.status == 'finished' %}
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
					100% in {{ item.jobStatistics.runtimeSeconds|formatSeconds }}
					</div>
				</div>
			{% endif %}
			{% if item.status == 'running' %}
				<i class="fa fa-refresh fa-spin fa-fw"></i> running...
			{% endif %}
			{% if item.status == 'interrupted' %}
			<span class="label label-warning">
				interrupted after {{item.interruptedAfter|formatSeconds }}
			</span>
			{% endif %}
			</div>
			<div class="col-md-7">
				<button class="btn btn-trnsp toggle-content pull-right" data-toggle="#importer-batch-{{item.batchUid}}" data-text1="Details" data-text2="Hide Details">
					Details
				</button>
			</div>
		</div>
		<div class="row" id="importer-batch-{{item.batchUid}}" {{ (item.showDetails) ? '' : 'style="display:none;"' }}>
			{% include 'partials/importer/stats-table.htm' with {'itemlist': item.phases} %}
		</div>
		<hr />
	{% endfor %}
{% include 'partials/importer/phase-description.htm' %}
