<div class="row jp-controls" style="position: relative; top: 5px;">

		<button role="control" class="btn btn-trnsp player-ctrl active" data-player='{"action":"prev"}'>
			<i class="fa fa-chevron-left sign-ctrl fa-fw"></i>
		</button>
		<button role="control" class="btn btn-trnsp localplayer-play-pause player-ctrl active" data-player='{"action":"togglePause"}'>
			<i class="fa fa-pause sign-ctrl fa-lg"></i>
		</button>
		<button role="control" class="btn btn-trnsp player-ctrl active" data-player='{"action":"next"}'>
			<i class="fa fa-chevron-right sign-ctrl fa-fw"></i>
		</button>

		<div class="mpd-status-timestring status-timestring" style="font-size: 0.8em;">
			<span class="jp-current-time dark" role="timer" aria-label="time">&nbsp;</span><span class="col2">&nbsp; /&nbsp;</span>
			<span class="jp-duration col2" role="timer" aria-label="duration">&nbsp;</span>	
		</div>
</div>