<div style="position:relative; margin-left: 30px; margin-right: 120px;">
	<div style="height: 10px;">
		<canvas id="timegrid-local" class="timegrid-local timegrid slimplayer-hidden" style="position:relative; top: -7px;"></canvas>
	</div>
	<div style="position:relative;">
		<div class="local-ctrl-seekzero"></div>
		<div class="waveform-wrapper" id="local-waveform-wrapper" data-jsonurl="{{ waveformJsonUrl }}"></div>
		<div class="jp-play-bar"></div>
		<div class="jp-seek-bar"></div>
	</div>
</div>
