<div class="row jp-controls">
	<div class="col-sm-4">
		<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"prev"}'>
			<i class="fa fa-chevron-left sign-ctrl fa-fw"></i>
		</button>
	</div>
	<div class="col-sm-4">
		<button role="control" class="btn btn-trnsp localplayer-play-pause player-ctrl" data-player='{"action":"togglePause"}'>
			<i class="fa fa-pause sign-ctrl fa-lg"></i>
		</button>
	</div>
	<div class="col-sm-4">
		<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"next"}'>
			<i class="fa fa-chevron-right sign-ctrl fa-fw"></i>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 status-random">
		<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"toggleRandom"}'>
			<i class="fa fa-random sign-ctrl fa-fw"></i>
		</button>
	</div>
	<div class="col-sm-4 status-repeat">
		<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"toggleRepeat"}'>
			<i class="fa fa-repeat sign-ctrl fa-fw"></i>
		</button>
	</div>
	<div class="col-sm-4 status-consume">
		<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"toggleConsume"}'>
			<i class="fa fa-fire sign-ctrl fa-fw"></i>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 small">
		<a href="/playlist/page/current" data-ajaxtarget="#main" class="ajax-link">Warteschlange</a>
		{% set randomtrack = getRandomInstance('Track') %}
		<button role="control" title="play random track" class="btn btn-trnsp player-ctrl trigger-hide-modal" data-player='{"action":"appendTrackAndPlay","item":{{ randomtrack.id }},"ext":"{{randomtrack.audioDataformat }}","hash":"{{ randomtrack.relativePathHash }}", "mpdurl":"/mpdctrl/appendTrackAndPlay/{{ randomtrack.id }}"}'>
			<!--span class="fa-stack">
				<i class="fa fa-refresh fa-stack-2x"></i>
				<i class="fa fa-play fa-stack-1x"></i>
			</span-->
			R
		</button>
	</div>
</div>