	<span class="status-random">
		<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"toggleRandom", "mpdurl":"{{root}}mpdctrl/toggleRandom"}' title="toggle random">
			<i class="fa fa-random sign-ctrl fa-fw"></i>
		</button>
	</span>
	<span class="status-repeat">
		<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"toggleRepeat", "mpdurl":"{{root}}mpdctrl/toggleRepeat"}' title="toggle repeat">
			<i class="fa fa-repeat sign-ctrl fa-fw"></i>
		</button>
	</span>
	<span class="status-consume">
		<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"toggleConsume", "mpdurl":"{{root}}mpdctrl/toggleConsume"}' title="toggle consume">
			<i class="fa fa-fire sign-ctrl fa-fw"></i>
		</button>
	</span>
	<span class="hidden-sm hidden-xs">
	{% include 'partials/player/playrandom.htm' %}
	</span>