{% extends 'partials/track/not-imported-templatevars.twig' %}
{% block content %}
{% if item.relativePath %}
	{% if player == 'local' %}
<div class="jp-audio jp-gui" id="jp_container_1" role="application" aria-label="media player">
	<div class="jp-gui jp-interface">
	{% endif %}
		<div class="col-lg-6 col-md-5">
			<div class="row player-section-top">
				<div class="slimplayer-show" style="float:left;">
					{% include 'partials/button/player-toggle-'~player~'.htm' %}
					{% include 'partials/button/xwaxgui-toggle.htm' %}
				</div>

				{% include 'partials/player/'~player~'-seekbar.htm' %}

				<span class="primary-controls">
				{% include 'partials/player/'~player~'-controls-primary.htm' %}
				</span>
			</div>
			<hr class="player-divider slimplayer-hidden"/>
			<div class="slimplayer-hidden">
				{% include 'partials/button/player-toggle-'~player~'.htm' %}
				{% include 'partials/button/xwaxgui-toggle.htm' %}

				<div class="pull-right">
				{% include 'partials/player/'~player~'-controls-secondary.htm' %}
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-6">
			<div class="row">
				<div class="media">
					<div class="media-left">
						<a href="{{ albumHref }}" class="ajax-link">
							<img src="{{ artworkUrl }}" class="permaplayer-artwork" />
						</a>
					</div>
					<div class="media-body">
						<div class="media-body-container">
							<div class="media-body-inner-table">
								<div class="media-body-inner-row slimplayer-hidden">
									{# TODO: remove external liking as soon we have implemented a proper functionality #}
									<button class="ajax-rqst btn btn-trnsp btn-xs btn-bordered col2" data-href="{{ temp_likerurl }}" title="temp ixwax +1">+1</button>
								</div>
								<div class="media-body-inner-row">
									{% include 'partials/button/showtrackwidget.htm' with { 'buttonClass': 'btn-xs', 'iconClass': 'col2' } %}
								</div>
								<div class="media-body-inner-row slimplayer-hidden">
									{% include 'partials/track/audioformat.htm' %}
								</div>
							</div>
						</div>
						<div class="permaplayer-trackmeta ">
							<div class="slimplayer-hidden">
							{% include 'partials/player/trackmeta.htm' %}
							</div>
							<div class="slimplayer-show-tc">
							{% include 'partials/player/trackmeta-slim.htm' %}
							</div>
						</div>
							{# placeholder for size-toggler #}
					</div>
				</div>
			</div>
		</div>

	    {% include 'partials/player/nowplaying-string.htm' %}

	{% if player == 'local' %}
	</div>
</div>
	{% endif %}
		    

	{% if player == 'mpd' %}
 	{# FIXME: remove this as soon as MpdPlayer.js::reloadCSS() is working #}
    <style type="text/css">{% include 'css/nowplaying.css' with {
    		relativePathHash: item.relativePathHash,
    		color: colors[ spotcolor.mpd ]['1st'] } %}</style>
	{% endif %}
{% else %}
	{% include 'partials/player/empty-player.htm' %}
{% endif %}
{% endblock %}