{% if not item.relPath %}
	{% include 'partials/track/no-track-selected-badge.htm' %}
{% else %}
	<div class="ffn-hidden">
	{% if item.id %}
		{% include 'partials/track/title.htm' with { 'titlestring': item.title } %}<br />
		<span class="dark">by</span>
		{% include 'partials/artist/link.htm' %}
		<span class="dark">({{item.year}})</span>
	{% else %}
		{% include 'partials/track/title.htm' with { 'titlestring': item.title, 'filepath': item.relPath  } %}
		<span class="pull-right">{% include 'partials/track/not-imported-badge.htm' %}</span>
		<br />
		<span class="darker-links">
			<a href="{{ albumHref }}" class="ajax-link"><i class="fa fa-folder-open fa-lg"></i>{{parentDir}}</a>
		</span>
	{% endif %}
	</div>
	<div class="ffn-show">
		{{ item.relPath|split('/')|last }}<br>
		<span class="darker-links small">{% include 'partials/filebrowser/breadcrumb.htm' with {
			hiderootlink: 1,
			breadcrumb: renderitems.itembreadcrumbs[item.relPathHash],
			skiplast: 1 }
		%}</span>
	</div>
{% endif %}