{% if item.id %}
<div class="ffn-hidden">

	<div><span class="shorten">{% include 'partials/artist/link.htm' %}</span></div>
	<div><span class="shorten">{% include 'partials/track/title.htm' with { 'titlestring': item.title } %}</span></div>
	<div class="hidden-sm hidden-xs"><span class="shorten"><span class="dark uc small">ALBUM</span> {% include 'partials/album/link.htm' with { 'item': renderitems.albums[item.albumId] } %}</span></div>

	<div class="small dark darker-links hidden-sm hidden-xs" style="margin-top: 0.4em;">
		{% include 'partials/year/link.htm' %} |
		{% include 'partials/label/link.htm' with { 'labelIds': item.labelId } %} |
		{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId } %}
		
		<span class="pull-right dark">
			{{item.audioProfile}}
		</span>
	</div>
</div>
<div class="ffn-show">
	<div class="row">
		<div class="col-md-12 vcenter">
			<div class="vcinner">
				{{ item.relPath|split('/')|last }}<br>
				<span class="darker-links small">{% include 'partials/filebrowser/breadcrumb.htm' with {
					hiderootlink: 1,
					breadcrumb: renderitems.itembreadcrumbs[item.relPathHash],
					skiplast: 1 } %}</span>
			</div>
		</div>
	</div>
</div>
{% else %}
	{% if item.relPath %}
		{% include 'partials/track/title.htm' with { 'titlestring': item.title, 'filepath': item.relPath  } %}
		<br />
		<div class="ffn-hidden">
			<div class="darker-links">
				<a href="{{ albumHref }}" class="ajax-link"><i class="fa fa-folder-open fa-lg"></i>{{parentDir}}</a>
			</div>
		</div>
		<div class="ffn-show">
			<span class="darker-links small">{% include 'partials/filebrowser/breadcrumb.htm' with {
				hiderootlink: 1,
				breadcrumb: renderitems.itembreadcrumbs[item.relPathHash],
				skiplast: 1 } %}</span>
		</div>
		{% include 'partials/track/not-imported-badge.htm' %}
	{% else %}
		{% include 'partials/track/no-track-selected-badge.htm' %}
	{% endif %}
{% endif %}