<div class="form-group row {{ errors.password ? 'has-error' : '' }}">
	<label for="password" class="col-sm-5 col-form-label uc dark">Password</label>
	<div class="col-sm-7">
		<div class="abs-icon dark toggle-tooltip disabled" title="remember password on this device" id="remeber_password_toggle">
			<i class="fa fa-2x fa-unlock-alt toggle-lock" data-target="#remember_password"></i>
		</div>
		<input type="password" class="form-control" name="password" id="password" value="">
		<input type="hidden" class="" name="remember_password" id="remember_password" value="">
		{% if errors.password %}
			<span class="help-block">{{ errors.password | first }}</span>
		{% endif %}
	</div>
</div>
