<div class="form-group row {{ errors.password ? 'has-error' : '' }}">
	<label for="remember_password{{passwordid}}" class="col-sm-5 col-form-label uc dark">Password</label>
	<div class="col-sm-7">
		<div class="abs-icon dark toggle-tooltip disabled remember_password_toggle{{passwordid}}" title="remember password on this device">
			<i class="fa fa-2x fa-unlock-alt toggle-lock" data-target=".remember_password{{passwordid}}"></i>
		</div>
		<input type="password" class="form-control" name="password" id="password" value="">
		<input type="hidden" class="remember_password{{passwordid}}" name="remember_password" id="remember_password{{passwordid}}" value="">
		{% if errors.password %}
			<span class="help-block">{{ errors.password | first }}</span>
		{% endif %}
	</div>
</div>
