{% include 'partials/randomizer.htm' with { subject: 'Album', urlpattern: 'album/%s' } %}

<div class="row">
	<div class="col-md-3">
		{% if albumimages|length > 0 %}
		<a data-toggle="lightbox" href="{{root}}image-1000/album/{{ album.id }}" data-type="image" data-gallery="galname">
			<img class="main-image" src="{{root}}image-300/album/{{ album.id }}" alt="">
		</a>
		{% include 'modules/imagecarousel.htm' with { 'itemlist': albumimages } %}
		{% else %}
			<img class="main-image" src="{{root}}image-300/album/{{ album.id }}" alt="">
		{% endif %}
	</div>
	<div class="col-md-9">
		<h3 class="nomargin">
			<button
			  role="control"
			  data-href="{{root}}markup/widget-album/{{ album.id }}"
			  title="show album widget TRNSL"
			  class="btn btn-default trigger-modal">
				<i class="fa fa-plus fa-lg"></i>
			</button>
			
		</button> {{album.title}}</h3>
		
		<div id="album-info-artist">
			<span class="dark uc small darker-links">{% include 'partials/artist/linked-label.htm' %}:</span> {% include 'partials/artist/link.htm' with { 'item': album } %}
		</div>
		<div class="row replace-me-with-proper-css"><br></div>
		<div class="small darker-links">
		{% include 'partials/filebrowser/breadcrumb.htm' %}
		</div>
		<div class="row replace-me-with-proper-css"><br></div>
			
		<div class="row">
		
			<div class="col-md-6">
				{% if album.genreId %}
				<div class="col-md12">
					<div class="col-md-2">
						<span class="dark uc small darker-links">{% include 'partials/genre/linked-label.htm' %}:</span>
					</div>
					<div class="col-md-10">
						{% include 'partials/genre/link.htm' with { 'genreIds': album.genreId } %}
					</div>
				</div>
				{% endif %}
				
				{% if album.year %}
				<div class="col-md12">
					<div class="col-md-2">
						<span class="dark uc small">{{'year'|ll}}:</span>
					</div>
					<div class="col-md-10">
						{% include 'partials/year/link.htm' with { 'item': album } %}
					</div>
				</div>
				{% endif %}
				
				{% if album.labelId %}
				<div class="col-md12">
					<div class="col-md-2">
						<span class="dark uc small darker-links">{% include 'partials/label/linked-label.htm' %}:</span>
					</div>
					<div class="col-md-10">
						{% include 'partials/label/link.htm' with { 'labelIds': album.labelId } %}
					</div>
				</div>
				{% endif %}
				
				{% if album.catalogNr %}
				<div class="col-md12">
					<div class="col-md-2">
						<span class="dark uc small">{{'catnr'|ll}}:</span>
					</div>
					<div class="col-md-10">
						{{ album.catalogNr }}
					</div>
				</div>
				{% endif %}
			</div>
			
			
			<div class="col-md-6">
				<div class="col-md12">
					<div class="col-md-3">
						<span class="dark uc small"><nobr>{{'fileformat'|ll}}:</nobr></span>
					</div>
					<div class="col-md-9">
						{{itemlist.0.audioBitsPerSample}}bit - {{itemlist.0.audioSampleRate}}kHz
					</div>
				</div>
				<div class="col-md12">
					<div class="col-md-3">
						<span class="dark uc small"><nobr>{{'filetype'|ll}}:</nobr></span>
					</div>
					<div class="col-md-9">
						{{itemlist.0.audioDataformat}} - {{itemlist.0.audioProfile}}
					</div>
				</div>
				<div class="col-md12">
					<div class="col-md-3">
						<span class="dark uc small"><nobr>{{'addedat'|ll}}:</nobr></span>
					</div>
					<div class="col-md-9">
						{{ album.added|date("m/d/Y") }}
					</div>
				</div>
				<div class="col-md12">
					<div class="col-md-2">
						{% include 'partials/extlink-discogs.htm' %}
						<a href="{{root}}maintainance/albumdebug/{{album.id}}" title="edit album" class="ajax-link"><i class="fa fa-pencil"></i></a>
					</div>
				</div>
			
			</div>
		</div>
		
	</div>
</div>







<div class="row">
	<div class="md-col-12">
		<span class="badge">{{ itemlist|length }}</span> {{'albumtracks'|ll}}
	</div>
</div>

{% include 'partials/trackrow-albumview-header.htm' %}
{% set totalTime = 0 %}
{% for item in itemlist %}
<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover track-{{ item.relPathHash }} track-row">
{% include 'partials/trackrow-albumview.htm' %}
</div>
{% set totalTime = totalTime+item.miliseconds %}
{% endfor %}

{# divider only if the last row is even #}
	{% if (itemlist|length) is even %}
	<div class="fw-bg bg-col5"><hr class="row " /></div>
{% endif %}
<div class="row">
	<div class="col-md-10"></div>
	<div class="col-md-1">total time</div>
	<div class="col-md-1">{{ totalTime|formatMiliseconds }}</div>
</div>



			
