{% if sys.fsConfLocalServe.resolve == '1'%}
	{{'syscheck.fsConfLocalServe.resolve'|ll(sys.fsConfLocalServe.host)|raw}}
<pre>
127.0.0.1	{{ sys.fsConfLocalServe.host }}
</pre>
{% else %}
{{'syscheck.fsConfLocalServe.danger'|ll|raw}}<br />
URL: <a class="dark" href="{{configLocalUrl}}">{{configLocalUrl}}</a><br />
{{'syscheck.fsConfLocalServe.suggest'|ll|raw}}<br />
<h4>Apache 2.4</h4>
<pre><xmp><VirtualHost *:80>
  ...
  <Files  ~ "config_local\.ini$">
    Require all denied
  </Files>
  ...
</VirtualHost></xmp></pre>

<h4>Apache 2.2</h4>
<pre><xmp><VirtualHost *:80>
  ...
  <Files  ~ "config_local\.ini$">
    Order deny,allow
    Deny from all
  </Files>
  ...
</VirtualHost></xmp></pre>

<h4>Nginx v1.6</h4>
<pre>server {
  ...
  location ~ config_local\.ini$ {
    return 403;
  }
  ...
}</pre>
<p>TODO: Add example protection for <strong>lighttpd</strong></p>
{% endif %}
