
{% if labelUids %}
	{% set itemUids = labelUids|split(',') %}
	{% if itemUids|length > 1 %}
		{% for itemUid in itemUids %}
			<a class="item-link label-link ajax-link trigger-hide-modal" href="{{root}}label/{{renderitems.labels[itemUid].uid}}/tracks/page/1/sort/added/desc">{{renderitems.labels[itemUid].title}}</a>
			{% if loop.last == false %},{% endif %}
		{% endfor%}
	{% else %}
		<a class="item-link label-link ajax-link trigger-hide-modal" href="{{root}}label/{{renderitems.labels[labelUids].uid}}/tracks/page/1/sort/added/desc">{{renderitems.labels[labelUids].title}}</a>
	{% endif %}
{% else %}
	{% set dirs = filepath|split('/') %}
	{% for dir in dirs %}
		{% if loop.last == true %}
		   {{dir}}
		{% endif %}
	{% endfor%}
{% endif %}