.track-{{ relPathHash}}:before {
	{% set content = "A" %}
	{% if deck == "1" %}{% set content = "B" %}{% endif %}
	{% if deck == "2" %}{% set content = "C" %}{% endif %}
	{% if deck == "3" %}{% set content = "D" %}{% endif %}
	content: "{{content}}";
	position: absolute;
	left: -1em;
	color: #444;
	font-weight: bold;
	font-size: 2em;
}
