<!DOCTYPE html>
<html>
	<head>
		<title>{{ config.config.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		
		<link rel="shortcut icon" href="{{fileroot}}core/skin/default/img/favicon.png">
		{% set cssfiles = [
			'vendor-dist/twbs/bootstrap/dist/css/bootstrap.min.css',
			'vendor-dist/components/font-awesome/css/font-awesome.min.css',
			'vendor-dist/webfontkit/open-sans/open-sans.min.css',
			'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.css',
			'vendor-dist/rstacruz/nprogress/nprogress.css',
			'skin/default/fonts/SFDISPLAY/SFNSDisplay.css',
			'skin/default/css/layout.css',
			'skin/default/css/list.css',
			'skin/default/css/buttons.css',
			'skin/default/css/forms.css',
			'skin/default/css/lightbox.css',
			'skin/default/css/modal.css',
			'skin/default/css/nprogress.css',
			'skin/default/css/navbars.css',
			'skin/default/css/breadcrumb.css',
			'skin/default/css/widget-autocomplete.css',
			'skin/default/css/player/player.css'
		] %}

		{% for cssfile in cssfiles %}
		<link rel="stylesheet" type="text/css" media="all" href="{{fileroot}}core/{{cssfile}}" />
		{% endfor %}
		<link rel="stylesheet" type="text/css" media="all" href="{{root}}css/spotcolors.css" />
		<script src="{{fileroot}}core/vendor-dist/codrops/BookBlock/js/modernizr.custom.js"></script>
	</head>
	<body class="bg-col1 col1 standalone vstretch14 spXXXotcol-{{ spotcolor.xwax }}">
		<div class="container-fluid">
				
			<div class="row player-xwax no-connection">
				{% include 'partials/xwax/deck-wrapper-loop.htm' %}
			</div>
		</div>
		{% include 'partials/jsincludes/conf.htm' %}
		{% include 'partials/jsincludes/filelist.htm' %}
		<script src="{{fileroot}}core/js/djscreen.js"></script>
	</body>
</html>
