<div class="row">
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			<a href="{{root}}filebrowser/{{ item.relPath|path2url  }}" class="ajax-link toggle-tooltip" title="show directory">
				<img src="{{fileroot}}skin/default/img/icon-dirname.png" alt="" class="icon-50">
			</a>
			<button role="control" data-href="{{root}}markup/widget-directory/{{ item.relPath|path2url }}" title="{{ 'filebrowser.diroptions'|ll }}" class="btn btn-trnsp trigger-modal">
				<i class="fa fa-align-justify fa-lg fa-fw"></i>
			</button>
			
			<i class="fa fa-fw fa-lg visible-lg-inline-block">&nbsp;{# spacer for large screens #}</i>
		</div>
	</div>
	<div class="col-md-10 vcenter">
		<div class="vcinner">
			<a href="{{root}}filebrowser/{{ item.relPath|path2url  }}" class="ajax-link toggle-tooltip" title="{{'filebrowser.showdircontent'|ll(item.name) }}">
				{{ item.title }}
			</a>
			<br/>
			<span class="darker-links">
				{% include 'partials/filebrowser/breadcrumb.htm' with { breadcrumb: item.breadcrumb, hiderootlink: 1, skiplast: 1 }%}
			</span>
		</div>
	</div>
</div>