<div class="row">
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			<a href="{{root}}label/{{ item.uid }}/tracks/page/1/sort/added/desc" class="ajax-link toggle-tooltip trigger-hide-modal" title="show label">
				<img src="{{fileroot}}skin/default/img/icon-label.png" alt="" class="icon-50">
			</a>
			<strong class="replace-me-with-proper-css">&nbsp;&nbsp;&nbsp;&nbsp;LABEL</strong>
		</div>
	</div>
	<div class="col-md-3 vcenter">
		<div class="vcinner">
			{% include 'partials/label/link.htm' with { labelUids: item.uid } %}
		</div>
	</div>
	<div class="col-md-3 vcenter">
		<div class="vcinner darker-links small">
			{% include 'partials/itemstats/inrow-top-artists.htm' %}
		</div>
	</div>
	<div class="col-md-2 vcenter">
		<div class="vcinner darker-links small">
			{% include 'partials/itemstats/inrow-top-genres.htm' %}
		</div>
	</div>
	<div class="col-md-2 vcenter">
		<div class="vcinner">
			<span class="badge">{{ item.trackCount }}</span> <span class="dark uc small">Tracks</span> <span class="badge">{{ item.albumCount }}</span> <span class="dark uc small">Albums</span>
			<br />
			<span class="dark uc small">{{item.yearRange}}</span>
		</div>
	</div>
</div>