{% if itemlist|length > 0 %}
<div class="albums_container">
{% include 'modules/paginator.htm' %}
<br />
	{% for item in itemlist %}
	<div class="col-sm-6 col-md-2 tile-square ">
		<div class="">
			<div class="dummy"></div>
			<a href="/album/{{item.id}}" class="link-tile tile-info-bottom bg-col4 ajax-link" data-ajaxtarget="#main" style="">
				<div class="tile-img">
					<img src="/image-300/album/{{item.id}}" style="background:url(/skin/default/img/small_animated_progress.gif) center center no-repeat;">
				</div>
				<div class="tile-hover-data bg-col3">
					<div class="tile_title">{{item.title}}</div>
					<div class="tile_band">
						{% include 'partials/artist/string.htm' %}
					</div>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
	<div class="clearfix"> </div>
	{% include 'modules/paginator.htm' %}
	
</div>
{% else %}
	<div>
	no albums found!
	</div>
{% endif %}
