<div class="albums_container container">
	{% include 'modules/paginator.htm' %}
	{% if itemlist|length  %}

	{% for item in itemlist %}
		<div class="row bg-col3 track-row">
			<div class="col-md-1">
				<a href="{{root}}album/{{item.id}}" class="ajax-link">
					<img src="{{root}}image-50/album/{{item.id}}">
				</a>
			</div>
			<div class="col-md-1">
				play bla
			</div>
			<div class="col-md-3">
				<a href="{{root}}album/{{item.id}}" class="ajax-link">
				{{item.title}}
				</a>
			</div>
			<div class="col-md-3">
				{% include 'partials/artist/link.htm' %}
			</div>
			<div class="col-md-2">
				{% include 'partials/genre/link.htm' with {'genreIds': item.genreId, 'limit' : 3} %}
			</div>
			<div class="col-md-1">
				{% include 'partials/year/link.htm' %}
			</div>
		</div>
	{% endfor%}
		
		
	{% else %}
		no albums found
	{% endif %}
	{% include 'modules/paginator.htm' %}
</div>
