{% if itemlist|length > 0 %}
<div class="row">
	{% for item in itemlist %}
	 <div class="col-sm-4 col-md-2">
		<div class="thumbnail bg-col2">
			<a href="{{root}}album/{{item.id}}" class=" bg-col4 ajax-link">
				<div class="img-placeholder" style="background-image:url({{root}}image-300/album/{{item.id}}); background-size: cover; background-position: 50%"></div>
				<div class="caption">
					<div class="shorten col2">{% include 'partials/artist/string.htm' %}</div>
					<div class="shorten">{{item.title}}</div>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}

	{% if showalltile == 1 %}
	 <div class="col-sm-4 col-md-2">
		<div class="thumbnail bg-col1 darker-links">
			<a href="{{root}}albums/page/1/sort/added/desc" class=" bg-col4 ajax-link">
				<div class="img-placeXholder centered-text">
					<div class="replace-me-with-proper-css">
						<h3><br><br><br>Show all {{totalresults|shorty}} albums<br><br><br></h3>
					</div>
				</div>
			</a>
		</div>
	</div>
	{% endif %}
</div>
{% else %}
	<div>
	no albums found!
	</div>
{% endif %}
