
{% include 'partials/randomizer.htm' with { subject: 'Album', urlpattern: 'maintainance/albumdebug/%s' } %}

<h3>Album editor<br>
<span class="small">
	{% set dirs = album.relPath|split('/') %}
	<a href="{{root}}filebrowser/{{ album.relPath|path2url }}" class="ajax-link"><i class="fa fa-folder-open fa-lg"></i></a>
	
	{% for dir in dirs %}
		{{dir}}
		{% if loop.last == false %} / {% endif %}
	{% endfor%}
</span>
</h3>


<div class="row">
	<div class="col-md-9">
	
	</div>
	<div class="col-md-2">
		<form action="" method="get">
			<input name="discogsid" type="text" placeholder="submit Discogs-release-ID" class="form-control"/>
			
		</form>
	</div>
	<div class="col-md-1">
		{% include 'partials/extlink-discogs.htm' %}
	</div>
</div>



<div class="row">
	<div class="col-md-2"><strong>{{'album'|ll}}</strong></div>
	<div class="col-md-3">{% include 'partials/album/link.htm' with { 'item': album } %}</div>
	<div class="col-md-4"><input name="title" type="text" value="{{ not discogsalbum.title ? album.title : discogsalbum.title }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'artist'|ll}}</strong></div>
	<div class="col-md-3">{% include 'partials/artist/link.htm' with { 'item': album } %}</div>
	{% set value %}{% include 'partials/artist/string.htm' with { 'item': album } %}{% endset %}
	<div class="col-md-4"><input name="title" type="text" value="{{ not discogsalbum.artist ? value : discogsalbum.artist }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'year'|ll}}</strong></div>
	<div class="col-md-3">{{ album.year }}</div>
	<div class="col-md-4"><input name="title" type="text" value="{{ not discogsalbum.year ? album.year : discogsalbum.year }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'genre'|ll}}</strong></div>
	<div class="col-md-3">{% include 'partials/genre/link.htm' with { 'genreIds': album.genreId } %}</div>
	{% set value %}{% include 'partials/genre/string.htm' with { 'genreIds': album.genreId } %}{% endset %}
	<div class="col-md-4"><input name="title" type="text" value="{{ not discogsalbum.genre ? value : discogsalbum.genre }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'label'|ll}}</strong></div>
	<div class="col-md-3">{{ album.label }}</div>
	{% set value %}{% include 'partials/label/string.htm' with { 'labelIds': album.labelId } %}{% endset %}
	<div class="col-md-4"><input name="title" type="text" value="{{ not discogsalbum.label ? value : discogsalbum.label }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'catnr'|ll}}</strong></div>
	<div class="col-md-3">{{ album.ctalogNr }}</div>
	<div class="col-md-4"><input name="title" type="text" value="{{ not discogsalbum.catalogNr ? album.catalogNr : discogsalbum.catalogNr }}" class="form-control" /></div>
	<div class="col-md-3"></div>
</div>



<div class="row">
	<div class="col-md-12">
		<hr/>
		<ul class="nav nav-tabs inline-tab-nav">
			<li class="active"> 
				<a href="#filenames">Filenames</a>
			</li>
			<li class=""> 
				<a href="#tagdata">Tagdata</a>
			</li>
			<li class=""> 
				<a href="#rawtagdata">Raw tagdata</a>
			</li>
			<li class=""> 
				<a href="#editall">Edit all</a>
			</li>
			
		</ul>
	</div>
</div>

<div class="tab-content">
	<br />
	<div class="tab-pane active" id="filenames">
	
		
		<div class="row">
			
			<div class="col-md-6">
				{% for idx,item in itemlist %}	
					{% set dirs = item.relPath|split('/') %}
		  			{% for dir in dirs %}
						{% if loop.last == true %}<div class="well well-sm">{{ dir }} ({{ item.miliseconds|formatMiliseconds }})</div>{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
			<div class="col-md-6 grid">
				
				{% for idx,item in itemlist %}
					<div class="well well-sm">{{ discogstracks[ matchmapping[idx]|keys|first] }}</div>
				{% endfor %}
		
			</div>
		</div>
		
	</div>
	<div class="tab-pane" id="tagdata">

		{% for idx,item in itemlist %}
		<div class="row">
			<div class="col-md-12">	
		
			{{ item.artist }} - {{ item.title }}
		
			<a href="{{root}}maintainance/trackdebug/{{ item.id }}" class="ajax-link"><i class="fa fa-pencil"></i></a>
		  	</div>
		  	<div class="col-md-4">
		  	</div>
		</div>
		{% endfor %}
	</div>
	<div class="tab-pane active" id="rawtagdata">
	
	
	</div>
	<div class="tab-pane" id="editall">
		
		<div class="row">
			<div class="col-md-1">{{'number'|ll}}</div>
			<div class="col-md-2">{{'artist'|ll}}</div>
			<div class="col-md-3">{{'title'|ll}}</div>
			<div class="col-md-2">{{'remix.artist'|ll}}</div>
			<div class="col-md-2">{{'featured.artist'|ll}}</div>
			<div class="col-md-2">{{'genre'|ll}}</div>
		</div>
			
		{% for idx,item in itemlist %}
			
			
		<div class="row">
			<div class="col-md-1">
				<input name="trackNumber[{{item.fingerprint}}]" type="text" value="{{ item.trackNumber}}" class="form-control" />
			</div>
			<div class="col-md-2">
				<input name="artist[{{item.fingerprint}}]" type="text" value="{% include 'partials/artist/string.htm' %}" class="form-control" />
			</div>
			<div class="col-md-3">
				<input name="title[{{item.fingerprint}}]" type="text" value="{{ item.title}}" class="form-control" />
			</div>
			<div class="col-md-2">
				{% set rmxItem = { 'artistId' : item.remixerId }%}
				<input name="remixer[{{item.fingerprint}}]" type="text" value="{% include 'partials/artist/string.htm' with { 'item': rmxItem } %}" class="form-control" />
			</div>
			<div class="col-md-2">
				{% set ftItem = { 'artistId' : item.featuringId }%}
				<input name="feat[{{item.fingerprint}}]" type="text" value="{% include 'partials/artist/string.htm' with { 'item': ftItem } %}" class="form-control" />
			</div>
			<div class="col-md-2">
				<input name="artist[{{item.fingerprint}}]" type="text" value="{% include 'partials/genre/string.htm' with {'genreIds': item.genreId} %}" class="form-control" />
			</div>
		</div>
		
		{% endfor %}
	</div>
	
	<hr /><br /><br />

	<style type="text/css">
	
	.placeholder {
	    border: 1px solid green;
	    background-color: white;
	    -webkit-box-shadow: 0px 0px 10px #888;
	    -moz-box-shadow: 0px 0px 10px #888;
	    box-shadow: 0px 0px 10px #888;
	}
	</style>