<div class="albums_container container">
	{% include 'modules/paginator.htm' %}
	{% if itemlist|length  %}
		{% for row in itemlist|batch(2) %}
		<div class="row">
			<div class="row-height">
			{% for item in row %}
				<div class="col-md-6 ">
		   			<div class="row inside-full-height bg-col2 box">
		   				<div class="col-md-2 img-col">
							<a href="/album/{{item.id}}" class="ajax-link" data-ajaxtarget="#main" style="">
								<img src="/image-100/album/{{item.id}}" style="background:url(/skin/default/img/small_animated_progress.gif) center center no-repeat;">
							</a>
						</div>
						<div class="col-md-10">
							<strong>{{item.title}}</strong><br />
							{% include 'partials/artist/link.htm' %}<br />
								({{ item.trackCount }} tracks) <br />
								{% include 'partials/genre/link.htm' with {'genreIds': item.genreId, 'limit' : 3} %}
								<span style="font-size:2em; float:right; color: #222; font-weight: bold;">{{item.year}}</span>
						</div>
					</div>
				</div>
			{% endfor%}
			</div>
		</div>
		<div class="row"> &nbsp;</div>
		{% endfor %}
	{% else %}
		no albums found
	{% endif %}
	{% include 'modules/paginator.htm' %}
</div>
