{% extends 'partials/track/not-imported-templatevars.twig' %}
{% block content %}
{% if item.relativePath %}
<div class="jp-audio jp-gui" id="jp_container_1" role="application" aria-label="media player">
	<div class="jp-gui jp-interface">
		<div class="col-md-5">
			<div class="row" style="border-bottom: 1px solid #373737">
				{% include 'partials/player/'~player~'-seekbar.htm' %}

				<span class="pull-right" style="position: absolute; right: 0; top: 0;">
				{% include 'partials/player/local-controls-primary.htm' %}
				</span>
			</div>
			<div class="row">
				<div class="pull-right" style="padding-top: 5px;position: relative; right: -9px;">
				{% include 'partials/player/local-controls-secondary.htm' %}
				</div>
			</div>
		</div>

		<div class="col-md-1">
			<a href="{{ albumHref }}" data-ajaxtarget="#main" class="ajax-link">
	    		<img src="{{ artworkUrl }}" />
	    	</a>
		</div>
		<div class="col-md-6">
			<div class="row>">
				<div class="col-md-1">
					{# TODO: remove external liking as soon we have implemented a proper functionality #}
					<button class="ajax-rqst btn btn-trnsp btn-sm col2" data-href="{{ temp_likerurl }}" title="temp ixwax +1">+1</button>
					<button role="control" data-href="{{root}}markup/widget-trackcontrol?item={{ item.id|default(item.relativePath) }}" title="play" class="btn btn-trnsp btn-sm trigger-modal col2">
						<i class="fa fa-align-justify fa-sm col2"></i>
					</button>
					{% include 'partials/track/audioformat.htm' %}
				</div>
				<div class="col-md-10">
					{% include 'partials/player/trackmeta.htm' %}
				</div>
				<div class="col-md-1">
					
				</div>
			</div>
			
			
			
			
					
			
		</div>

	</div>
</div>
		    
{% include 'partials/player/nowplaying-string.htm' %}
{% else %}
	{% include 'partials/player/empty-player.htm' %}
{% endif %}
{% endblock %}