<div class="row">
	<div class="col-md-12">
		<div class="tinyfont dark uc ">Directory recursive</div>
		<h2 class="nomargin">{{ breadcrumb|last.title }}</h2>
		<span class="dark small darker-links">{% include 'partials/filebrowser/breadcrumb.htm' with { skiplast: 1} %}</span>
		
	</div>
</div>
<br class="row replace-me-with-proper-css" />
<div class="fw-bg bg-col5"><hr class="row " /></div>

<div class="row">
	<div class="col-md-2">
		<span class="badge">{{paginator.totalitems}}</span> Tracks
	</div>
	<div class="col-md-8 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-2">
		
	</div>
</div>
	
{% for item in itemlist %}
	{% if item is instanceofTrack %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover track-{{ item.relPathHash }} track-row">
		{% include 'partials/trackrow-1.htm' %}
	{% endif %}
	

	{% if item is instanceofDirectory %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		{% include 'partials/itemrow-directory.htm' %}
	{% endif %}
</div>
{% endfor %}


<div class="row">
	<div class="col-md-12 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
</div>