{% if flash.error %}
	<div class="errorbox" style=" position:absolute; border: 1px solid red; padding: 2em; background-color: #FFF; z-index: 33">
		{{ flash.error }}
	</div>
{% else %}

{% endif %}
