<h1>{{ config.logomarkup|raw }} Application Error</h1>
<p>Maybe its time to report an error on <a class="col2" href="https://github.com/othmar52/slimpd/issues" target="_blank">https://github.com/othmar52/slimpd/issues</a></p>
<h2>Details</h2>
<div class="row">
	
	<div class="col-md-1"><strong>Url:</strong></div>
	<div class="col-md-11">{{url}}</div>
</div>
<div class="row">
	<div class="col-md-1"><strong>Message:</strong></div>
	<div class="col-md-11">{{errormessage}}</div>
</div>
<div class="row">
	<div class="col-md-1"><strong>File:</strong></div>
	<div class="col-md-11">{{file}}</div>
</div>
<div class="row">
	<div class="col-md-1"><strong>Line:</strong></div>
	<div class="col-md-11">{{line}}</div>
</div>
<div class="row">
	<div class="col-md-1"><strong>Trace:</strong></div>
	<div class="col-md-11">
		<button class="btn btn-default toggle-content" data-toggle="#errortrace" data-text1="show" data-text2="hide">
			<i class="fa fa-plus"></i> show
		</button>
		<pre id="errortrace" style="display:none;">{{tracestring|raw}}</pre>
	</div>
</div>
