






{% if hotlinks %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Hotlinks</h4>
		</div>
	</div>
	{% for item in hotlinks %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }}">
		<div class="row item-row mouseover" id="track{{ loop.index }}">
			<div class="col-md-12">
				<a href="/filebrowser/{{ item|path2url }}" data-ajaxtarget="#main" class="ajax-link">
					<i class="fa fa-folder-o fa-lg"></i> {{ item }}
				</a>
			</div>
		</div>
	</div>
	{% endfor %}
{% else %}
	<div class="row">
		<div class="col-md-12">
			<a href="/filebrowser/{{ [directory,item.name]|path2url }}?neighbour=up" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.parentdir'|ll }}">
				<span class="fa-stack">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-angle-up fa-stack-1x"></i>
				</span>
			</a>
			<a href="/filebrowser/{{ [directory,item.name]|path2url }}?neighbour=prev" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.prevdir'|ll }}">
				<span class="fa-stack">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-angle-left fa-stack-1x"></i>
				</span>
			</a>
			<a href="/filebrowser/{{ [directory,item.name]|path2url }}?neighbour=next" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.nextdir'|ll }}">
				<span class="fa-stack">
					<i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-angle-right fa-stack-1x"></i>
				</span>
			</a>
			
			<span class="replace-me-with-proper-css">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			
			<button role="control" data-href="/markup/widget-directory/{{ [directory,item.name]|path2url }}" title="{{ 'filebrowser.diroptions'|ll }}" class="btn btn-trnsp trigger-modal col2">
				<span class="fa-stack">
					<i class="fa fa-circle-thin fa-stack-2x col2"></i>
					<i class="fa fa-plus fa-stack-1x fa-inverse col2"></i>
				</span>
				{{ 'filebrowser.diroptions'|ll }}
			</button>
			
			<span class="filebrowser-filter pull-right darker-links">
				<ul class="nav nav-pills type-nav">
					<li class="{{ (filter == '') ? 'active' : '' }}"> 
						<a href="/filebrowser/{{ [directory,item.name]|path2url }}" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.all.t'|ll }}">
							{{ 'filebrowser.all'|ll }}
						</a>
					</li>
					<li class="{{ (filter == 'dirs') ? 'active' : '' }} {{ (subDirectories.total == 0) ? 'disabled' : '' }}"> 
						<a href="/filebrowser/{{ [directory,item.name]|path2url }}?filter=dirs&page=1" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.dirs.t'|ll }}">
							{{ 'filebrowser.dirs'|ll }} <span class="badge">{{subDirectories.total}}</span>
						</a>
					</li>
					<li class="{{ (filter == 'files') ? 'active' : '' }} {{ (files.total == 0) ? 'disabled' : '' }}"> 
						<a href="/filebrowser/{{ [directory,item.name]|path2url }}?filter=files&page=1" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.files.t'|ll }}">
							{{ 'filebrowser.files'|ll }} <span class="badge">{{files.total}}</span>
						</a>
					</li>
				</ul>
			</span>
			
			<br class="row replace-me-with-proper-css" />
			<br class="row replace-me-with-proper-css" />
			
			
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-md-12">
			<span class="dark small darker-links">{% include 'partials/filebrowser/breadcrumb.htm' with { skiplast: 1} %}</span>
			<h2 style="margin:0;padding:0;" class="">{{ breadcrumb|last.name }}</h2>
			
		</div>
	</div>
	
	{# divider #}
	<div class="fw-bg bg-col5"><hr class="row " /></div>
	
{% endif %}
<div class="row">
	<div class="col-md-3">

	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">

	</div>
</div>
{% if subDirectories.count %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Subdirectories <span class="badge">{{ subDirectories.total }}</span></h4>
		</div>
	</div>
	{% for item in subDirectories.dirs %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover" id="d{{ item.hash }}">
		<div class="row item-row" id="track{{ loop.index }}">
			<div class="col-md-12 vcenter">
				<div class="vcinner">
					<button role="control" title="append this directory to current playlist" class="btn btn-trnsp player-ctrl" data-player='{"action":"appendDir","mpdurl":"/mpdctrl/appendDir/{{ [directory,item.name]|path2url }}"}'>
						<i class="fa fa-plus fa-lg fa-fw"></i>
					</button>
					
					<button role="control" data-href="/markup/widget-directory/{{ [directory,item.name]|path2url }}" title="{{ 'filebrowser.diroptions'|ll }}" class="btn btn-trnsp trigger-modal">
						<i class="fa fa-align-justify fa-lg fa-fw"></i>
					</button>
					
					<i class="fa fa-fw fa-lg visible-lg-inline-block">&nbsp;{# spacer for large screens #}</i>

					<a href="/filebrowser/{{ [directory,item.name]|path2url }}" data-ajaxtarget="#main" class="ajax-link">
						<i class="fa fa-folder-o fa-lg fa-fw"></i> {{ item.name }}
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% if showDirFilterBadge %}
	<div class="row darker-links">
		<a href="/filebrowser/{{ [directory,item.name]|path2url }}?filter=dirs&page=2" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp">
			{{ 'filebrowser.moredirs'|ll(subDirectories.total - subDirectories.count) }}
		</a>
	</div>
	{% endif %}
{% else %}
	{% if filter == 'dirs' %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info" role="alert">{{ 'filebrowser.nodirs'|ll }}</div>
			{% if files.total > 0 %}
			<div class="row">
				<a href="/filebrowser/{{ [directory,item.name]|path2url }}?filter=files&page=1" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.files.t'|ll }}">
					{{ 'filebrowser.nodirsshowfiles'|ll(files.total) }}
				</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}
{% endif %}

{% if files.count > 0 %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Files <span class="badge">{{ files.total }}</span></h4>
		</div>
	</div>
	
	{# music files #}
	{% if files.music|length %}
	{% for item in files.music %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover track-{{ item.relativePathHash }} track-row">
		<div class="row">
			<div class="col-md-12 vcenter">
				<div class="vcinner">
					{# TODO: if client is in mpd-mode give user a hint that he can only play mpd-imported tracks
				      its not that performant to update parent dir each time a song is played (/mpdctrl/updateMpdAndPlay/)...
				      for now playing files directly is only possible for already mpd-imported tracks ... 
				      playing files local is no issue and shoud work like a charm #}
					<button role="control" title="play" class="btn btn-trnsp player-ctrl is-playbtn" data-player='{"action":"play","item":"{{ [directory,item.name]|path2url }}","ext":"{{item.ext }}","hash":"{{ item.relativePathHash }}","mpdurl":"/mpdctrl/updateMpdAndPlay/{{ [directory,item.name]|path2url }}"}'>
						<i class="fa fa-play fa-lg fa-fw"></i>
					</button>
					<button role="control" data-href="/markup/widget-trackcontrol?item={{ [directory,item.name]|path2url }}" title="more" class="btn btn-trnsp trigger-modal xwax-mode-hide">
						<i class="fa fa-align-justify fa-lg fa-fw"></i>
					</button>
					
					<a role="control" href="/markup/widget-deckselector?item={{ [directory,item.name]|path2url }}" title="show deckselector" class="btn btn-trnsp xwax-mode-show ajax-partial" data-ajaxtarget=".ajax-xwax-{{ item.relativePathHash }}">
						<i class="fa fa-headphones fa-lg fa-fw"></i>
					</a>
					
					<i class="fa fa-fw fa-lg visible-lg-inline-block">&nbsp;{# spacer for large screens #}</i>

					<a href="#" role="control" title="play" class="player-ctrl is-playbtn" data-player='{"action":"play","item":"{{ [directory,item.name]|path2url }}","ext":"{{item.ext }}","hash":"{{ item.relativePathHash }}","mpdurl":"/mpdctrl/updateMpdAndPlay/{{ [directory,item.name]|path2url }}"}'>
						<i class="fa fa-music fa-lg fa-fw"></i>
					{{ item.name }}
					</a>
				</div>
			</div>
			{# ajax load target for xwax-control #}
			<div class="ajax-xwax-{{ item.relativePathHash }} col-md-12"></div>
		</div>
	</div>
	{% endfor %}
	{% endif %}

	
	{# playlist files #}
	{% if files.playlist|length %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Playlists</h4>
		</div>
	</div>
	{% for item in files.playlist %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover ">
		<div class="row item-row">
			<div class="col-md-12 vcenter">
				<div class="vcinner">
					<a href="/showplaylist/{{ [directory,item.name]|path2url }}" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp" title="show playlist">
						<i class="fa fa-eye fa-lg"></i>
					</a>
					
					<button role="control" title="add playlist to playlist" class="btn btn-trnsp player-ctrl" data-player='{"action":"addPlaylistToPlaylist", "item": "{{ [directory,item.name]|path2url }}", "mpdurl":"/mpdctrl/addPlaylistToPlaylist/{{ [directory,item.name]|path2url }}"}'>
						<i class="fa fa-plus"></i>
					</button>
					
					<button role="control" title="replace current playlist with this playlist" class="btn btn-trnsp player-ctrl" data-player='{"action":"replaceCurrentPlaylistKeepTrack", "item": "{{ [directory,item.name]|path2url }}", "mpdurl":"/mpdctrl/replaceCurrentPlaylistKeepTrack/{{ [directory,item.name]|path2url }}"}'>
						<i class="fa fa-refresh"></i>
					</button>
					
					<span class="spacer visible-md-inline-block visible-lg-inline-block"></span>

					<a href="/showplaylist/{{ [directory,item.name]|path2url }}" data-ajaxtarget="#main" class="ajax-link">
					<i class="fa fa-list fa-lg"></i>
					{{ item.name }}</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}

	
	{# info files #}
	{% if files.info|length %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Infofiles</h4>
		</div>
	</div>
	{% for item in files.info %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		<div class="row item-row">
			<div class="col-md-12 vcenter">
				<div class="vcinner">
					<button role="control" data-href="/showplaintext/{{ [directory,item.name]|path2url }}" title="show filecontent" class="btn btn-trnsp trigger-modal">
						<i class="fa fa-eye fa-lg fa-fw"></i>
					</button>
					<a href="/deliver/{{[directory,item.name]|path2url}}" target="_blank" download="download" title="Download file">
						<i class="fa fa-download fa-lg fa-fw"></i>
					</a>
					
					<i class="fa fa-fw fa-lg visible-lg-inline-block">&nbsp;{# spacer for large screens #}</i>

					<a role="control" href="#" data-href="/showplaintext/{{ [directory,item.name]|path2url }}" title="show filecontent" class="trigger-modal">
					<i class="fa fa-info fa-lg fa-fw"></i>
					{{ item.name }}</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}

	
	{# image files #}
	{# TODO: check why config.ini[images][ext] does not hold all image extensions (gif, bmp)!? maybe phpThump-issue? #}
	{% if files.image|length %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Images</h4>
		</div>
	</div>
	{% for item in files.image %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		<div class="row item-row" id="image{{ loop.index }}">
			<div class="col-md-12 vcenter">
				<div class="vcinner">
					<a data-toggle="lightbox" href="/image-1000/path/{{ [directory,item.name]|path2url }}" data-type="image" data-gallery="galname" title="{{ item.name }}">
						<img src="/image-35/path/{{ [directory,item.name]|path2url }}" title="{{ item.name }}" alt="{{ item.name }}" />
					</a>
					
					<i class="fa fa-fw fa-lg replace-me-with-proper-css">&nbsp;{# spacer #}</i>
					<i class="fa fa-fw fa-lg replace-me-with-proper-css">&nbsp;{# spacer #}</i>
					<i class="fa fa-fw fa-lg replace-me-with-proper-css">&nbsp;{# spacer #}</i>

					<i class="fa fa-image fa-lg"></i> {{ item.name }}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	
	
	{% if files.other|length %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Other files</h4>
		</div>
	</div>
	{% for item in files.other %}
	{# TODO: what to do with those files? maybe provide a download link? #}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		<div class="row item-row">
			<div class="col-md-12 vcenter">
				<div class="vcinner">
					
					<a href="/deliver/{{[directory,item.name]|path2url}}" target="_blank" download="download" title="Download file">
						<i class="fa fa-download fa-lg fa-fw"></i>
					</a>
					
					<button role="control" title="TODO: delete" class="btn btn-trnsp" >
						<i class="fa fa-trash fa-lg fa-fw"></i>
					</button>
					
					<i class="fa fa-fw fa-lg visible-lg-inline-block">&nbsp;{# spacer for large screens #}</i>
					
					<a href="/deliver/{{[directory,item.name]|path2url}}" target="_blank" download="download" title="Download file">
						<i class="fa fa-file fa-lg"></i> {{ item.name }}
					</a>
					
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	{% if showFileFilterBadge %}
	<div class="row darker-links">
		<a href="/filebrowser/{{ [directory,item.name]|path2url }}?filter=files&page=2" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp">
			{{ 'filebrowser.morefiles'|ll(files.total - files.count) }}
		</a>
	</div>
	{% endif %}
{% else %}
	{% if filter == 'files' %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info" role="alert">{{ 'filebrowser.nofiles'|ll }}</div>
			{% if subDirectories.total > 0 %}
			<div class="row">
				<a href="/filebrowser/{{ [directory,item.name]|path2url }}?filter=dirs&page=1" data-ajaxtarget="#main" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.dirs.t'|ll }}">
					{{ 'filebrowser.nofilesshowdirs'|ll(subDirectories.total) }}
				</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}
{% endif %}
<div class="row">
	<div class="col-md-3">

	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">

	</div>
</div>
