<div class="row">
	<div class="col-md-12">
		
		
		<ol class="breadcrumb bg-col2">
			<li class="" title="List basedirs">
				<a href="/filebrowser" data-ajaxtarget="#main" class="ajax-link">root</a>
			</li>
			{% for idx,item in breadcrumb %}
			{# add hash of the next item and add a scroll link #}
			{# TODO: correction of scrollposition due to sticky header #}
			{% set deeplink = (breadcrumb[idx+1].hash) ? '#d'~breadcrumb[idx+1].hash : '' %}
			{# TODO append deeplink-hash to href as soon as javascript:setGetParameter() is able to handle hashes #}
				<li class="" title="{{ item.name }}">
					<a href="/filebrowser{{ item.fullpath }}" data-ajaxtarget="#main" class="ajax-link">{{ item.name }}</a>
				</li>
			{% endfor %}
			<li class="small">
				({{ subDirectories|length }} <i class="fa fa-folder-open fa-lg"></i> , {{ files|length }} files)
			</li>
			<li>
				<button role="control" title="add this directory to playlist" class="btn btn-default player-ctrl" data-player='{"action":"addDirToPlaylist", "mpdurl":"/mpdctrl/addSelect/{{ directory~item.name|url_encode }}"}'>
					<i class="fa fa-plus"></i> Add directory to playlist
				</button>
			</li>
			
	</div>
</div>

{% if hotlinks %}
	<h4>hotlinks</h4>
	{% for item in hotlinks %}
	<div class="row {{ cycle(['bg-col2','bg-col3'],loop.index) }} mouseover" id="track{{ loop.index }}">
		<div class="col-md-12">
			<a href="/filebrowser/{{ item }}" data-ajaxtarget="#main" class="ajax-link">
				<i class="fa fa-folder-open fa-lg"></i> {{ item }}</div>
			</a>
	</div>
	{% endfor %}
{% endif %}

{% if subDirectories %}
	<h4><i class="fa fa-folder-open fa-lg"></i> directories</h4>
	{% for item in subDirectories %}
	<a id="d{{ item.hash }}"/>
	<div class="row {{ cycle(['bg-col2','bg-col3'],loop.index) }} mouseover" id="track{{ loop.index }}">
		<div class="col-md-2">
			<button role="control" title="add this directory to playlist" class="btn btn-default player-ctrl" data-player='{"action":"addDirToPlaylist","mpdurl":"/mpdctrl/addSelect/{{ directory~item.name~''|url_encode }}"}'>
				<i class="fa fa-plus"></i>
			</button>
			
			<button role="control" data-href="/mpdctrl/update/{{ directory~item.name~''|url_encode }}" title="update mpd database" class="ajax-rqst btn btn-default">
				<i class="fa fa-refresh"></i>
			</button>
			
			
		</div>
		<div class="col-md-10">
			<a href="/filebrowser/{{ directory~item.name }}" data-ajaxtarget="#main" class="ajax-link">
				<i class="fa fa-folder-open fa-lg"></i> {{ item.name }}
			</a>
		</div>
	</div>
	{% endfor %}
{% endif %}

{% if files %}
	<h4>files</h4>
	
	{# music files #}
	{% for item in files %}
		{% if item.ext in ['mp3','m4a','flac','wav', 'aif', 'aiff'] %}
		<div class="row {{ cycle(['bg-col2','bg-col3'],loop.index) }} mouseover track-{{ item.relativePathHash }}">
			<div class="col-md-2">
				{# TODO: if client is in mpd-mode give user a hint that he can only play mpd-imported tracks
			      its not that performant to update parent dir each time a song is played (/mpdctrl/updateMpdAndPlay/)...
			      for now playing files directly is only possible for already mpd-imported tracks ... 
			      playing files local is no issue and shoud work like a charm #}
				<button role="control" title="play" class="btn btn-default player-ctrl is-playbtn" data-player='{"action":"play","item":"{{ directory~item.name|url_encode }}","ext":"{{item.ext }}","hash":"{{ item.relativePathHash }}","mpdurl":"/mpdctrl/updateMpdAndPlay/{{ directory~item.name|url_encode }}"}'>
					<i class="fa fa-play fa-lg"></i>
				</button>
				<button role="control" data-href="/markup/widget-trackcontrol?item={{ directory }}{{ item.name }}" title="more" class="btn btn-default trigger-modal">
					<i class="fa fa-align-justify fa-lg"></i>
				</button>
				
				
				
			</div>
			<div class="col-md-10">
			
				<a href="/filebrowser/{{ directory~item.name }}" data-ajaxtarget="#main" class="ajax-link">
				<i class="fa fa-music fa-lg"></i>
				{{ item.name }}</a>
			</div>
			
		</div>
		
		{% endif %}
	{% endfor %}
	
	{# playlist files #}
	{% for item in files %}
		{% if item.ext in ['m3u','pls','nml'] %}
		<div class="row {{ cycle(['bg-col2','bg-col3'],loop.index) }} mouseover track-{{ item.relativePathHash }}">
			<div class="col-md-2">
				<a href="/showplaylist/{{ directory~item.name }}" data-ajaxtarget="#main" class="ajax-link btn btn-default">
					<i class="fa fa-eye fa-lg"></i>
				</a>
			</div>
			<div class="col-md-10">
			
				<a href="/showplaylist/{{ directory~item.name }}" data-ajaxtarget="#main" class="ajax-link">
				<i class="fa fa-list fa-lg"></i><i class="fa fa-music fa-lg"></i>
				{{ item.name }}</a>
			</div>
			
		</div>
		
		{% endif %}
	{% endfor %}
	
	{% for item in files %}
		{% if item.ext in ['png','jpg','jpeg','gif', 'bmp'] %}
	<div class="row {{ cycle(['bg-col2','bg-col3'],loop.index) }} mouseover" id="track{{ loop.index }}">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<a href="/filebrowser/{{ directory~item.name }}" data-ajaxtarget="#main" class="ajax-link">
			<i class="fa fa-image fa-lg"></i> 
			{{ item.name }}</a>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	
	{% for item in files %}
		{% if item.ext  not in ['mp3','m4a','flac','wav', 'png','jpg','jpeg','gif', 'bmp', 'aif', 'aiff', 'm3u','pls','nml'] %}
	<div class="row {{ cycle(['bg-col2','bg-col3'],loop.index) }} mouseover" id="track{{ loop.index }}">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<a href="/filebrowser/{{ directory~item.name }}" data-ajaxtarget="#main" class="ajax-link">
			<i class="fa fa-file fa-lg"></i> 
			{{ item.name }}</a>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	
	
{% endif %}
