
<nav class="navbar bg-col2 main-nav navbar-fixed-top">
	<div class="row row-eq-height">
		<div class="col-md-2">
			<div class="navbar-header col2">
				<a class="navbar-brand" href="#">{{ config.logomarkup|raw }}</a>
			</div>
		</div>
		<div class="col-md-5">
			<ul class="nav navbar-nav">
				{% for menu in mainmenu %}
				<li class="{% if menu.url == current_url %} active{% endif %}">
					<a href="{{menu.url}}">{{menu.title|raw}}</a>
				</li>
				{% endfor %}
      		</ul>
      	</div>
      	<div class="col-md-5 bg-col3">
			<form action="/searchall/page/1" method="get">
				<input type="text" name="q" class="form-control" placeholder="Search">
			</form>
		</div>
	</div>
</nav>
