
<nav class="navbar bg-col2 main-nav navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a id="logo" class="navbar-brand col2" href="/playlist/page/current">{{ config.logomarkup|raw }}</a>
		</div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<div class="row row-eq-height">
	    		<div class="col-md-6">
					<ul class="nav navbar-nav">
						{% for menu in mainmenu %}
						<li class="{% if menu.url == current_url %} active{% endif %}">
							<a href="{{menu.url}}" data-ajaxtarget="#main" class="ajax-link">{{menu.title|raw}}</a>
						</li>
						{% endfor %}
		      		</ul>
		      	</div>
		      	<div class="col-md-6 bg-col3">
					<form class="navbar-form ac-ajax-form" data-ajaxtarget="#main" role="search" action="/searchall/page/1/sort/relevance/desc" data-defaultaction="/searchall/page/1/sort/relevance/desc" method="get" id="searchform">
						<input type="text" name="q" id="mainsearch" class="form-control" placeholder="{{'search'|ll}}">
					</form>
				</div>
			</div>
		</div>
	</div>
</nav>
