
{% if itemlist|length > 0 %}
<div id="image_all">
	{% for i,item in itemlist %}
		<a data-toggle="lightbox" href="{{root}}image-1000/id/{{ item.id }}" data-type="image" data-gallery="galname"><img src="{{root}}image-50/id/{{ item.id }}" /></a>
	{% endfor %}
</div>
{% endif %}

{% if bookletimages|length > 0 %}



<button class="btn btn-trnsp toggle-content" data-toggle="#booklet-wrapper" data-text1="show booklet (beta)" data-text2="hide booklet (beta)">
	<i class="fa fa-plus"></i> show booklet (beta)
</button>

<div id="booklet-wrapper" style="display:none;">
	<nav>
		<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">
			<i class="fa fa-arrow-left fa-lg"></i>
		</a>
		<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">
			<i class="fa fa-arrow-right fa-lg"></i>
		</a>
	</nav>
	<div id="bb-bookblock" class="bb-bookblock">
		{% for i,item in bookletimages %}
			<div class="bb-item">
				<img src="{{root}}image-1000/id/{{ item.id }});" />
			</div>
		{% endfor %}
	</div>
</div>
{% endif %}

