
{% if itemlist|length > 1 %}
{# skip first image as we alread have it displayed big above the carousel#}
<div id="image_all">
	{% for i,item in itemlist %}
		{% if not loop.first %}
		<a data-toggle="lightbox" href="{{root}}image-1000/id/{{ item.id }}" data-type="image" data-gallery="galname" class="carousel-thumb" style="background-image:url({{root}}image-50/id/{{ item.id }});background-color:{{ item.bghex }};">

		</a>
		{% endif %}
	{% endfor %}
	{% if bookletimages|length > 0 %}
		<a class="carousel-thumb carousel-booklet toggle-content bg-col2" data-toggle="#booklet-wrapper" data-text1="Booklet beta" data-text2="Booklet beta">
			Booklet beta
		</a>
	{% endif %}
</div>
{% endif %}

{% if bookletimages|length > 0 %}
<div id="booklet-wrapper" style="display:none;">
	<nav>
		<a id="bb-nav-prev" href="#" class="bb-nav-prev bb-custom-icon bb-custom-icon-arrow-left">
			<i class="fa fa-arrow-left fa-lg"></i>
		</a>
		<a id="bb-nav-next" href="#" class="bb-nav-next bb-custom-icon bb-custom-icon-arrow-right">
			<i class="fa fa-arrow-right fa-lg"></i>
		</a>
		<a class="toggle-content" data-toggle="#booklet-wrapper" data-text1="Close" data-text2="Booklet beta">
			Close
		</a>
	</nav>
	<div id="bb-bookblock" class="bb-bookblock">
		{% for i,item in bookletimages %}
			<div class="bb-item">
				<img src="{{root}}image-1000/id/{{ item.id }});" />
			</div>
		{% endfor %}
	</div>
</div>
{% endif %}

