
    <div class="col-sm-12 col-md-5">
    	<div class="mpd-status-progressbar">
    	
    	</div>
    	{# TODO: create preloader for waveformimage as it can take very long for large files #}
    	{% if not item.id %}
    		{% if not item.relativePath %}
	    		<object class="waveform" style="width: 100%; height: 50px;" data="/skin/default/img/notrack.svg" type="image/svg+xml"></object>
	    	{% else %}
	    		<object class="waveform" style="width: 100%; height: 50px;" data="/audiosvg/width/550/{{ item.relativePath }}" type="image/svg+xml"></object>
	    	{% endif %}
    	{% else %}
    		<object class="waveform" style="width: 100%; height: 50px;" data="/audiosvg/width/550/{{ item.id }}" type="image/svg+xml">
    	{% endif %}
    	
    	</object>
    	<div class="mpd-status-timestring" style="text-align: center;">
    		<span class="mpd-status-elapsed">0:00</span>&nbsp; | &nbsp;
    		<span class="mpd-status-total">0:00</span>
    	</div>
    	
    	<div class="mpd-ctrl-seekbar">
    	
    	</div>
    	<canvas id="timegrid-mpd" class="timegrid-mpd" style="width: 100%; height:10px;"></canvas>
	</div>
    <div class="hidden-xs col-md-1">
    	<div class="row">
			<div class="col-sm-4">
				<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"prev", "mpdurl":"/mpdctrl/previous"}'>
					<i class="fa fa-chevron-left sign-ctrl fa-fw"></i>
				</button>
			</div>
			<div class="col-sm-4">
				<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"togglePause"}'>
					<i class="fa fa-pause sign-ctrl mpd-status-playpause fa-lg"></i>
				</button>
			</div>
			<div class="col-sm-4">
				<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"next", "mpdurl":"/mpdctrl/next"}'>
					<i class="fa fa-chevron-right sign-ctrl fa-fw"></i>
				</button>
			</div>
		</div>
		<div class="row">
			
			
			<div class="col-sm-4 mpd-status-random">
				<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"next", "mpdurl":"/mpdctrl/toggleRandom"}' title="toggle random">
					<i class="fa fa-random sign-ctrl fa-fw"></i>
				</button>
			</div>
			<div class="col-sm-4 mpd-status-repeat">
				<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"next", "mpdurl":"/mpdctrl/toggleRepeat"}' title="toggle repeat">
					<i class="fa fa-repeat sign-ctrl fa-fw"></i>
				</button>
			</div>
			<div class="col-sm-4 mpd-status-consume">
				<button role="control" class="btn btn-trnsp player-ctrl" data-player='{"action":"next", "mpdurl":"/mpdctrl/toggleConsume"}' title="toggle consume">
					<span><i class="fa fa-fire sign-ctrl fa-fw"></i></span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 small">
				<a href="/playlist/page/current" data-ajaxtarget="#main" class="ajax-link">Warteschlange</a>
			</div>
    	</div>
    
    
    </div>
    <div class="col-sm-7 col-md-1" style="height: 100px;">
    	<a href="/library/album/{{ item.albumId }}" data-ajaxtarget="#main" class="ajax-link">
    		<img src="/image-100/album/{{ item.albumId }}" />
    	</a>
    </div>
    <div class="col-sm-5">
    	<div class="row">
			<div class="col-sm-4"><span class="shorten">{% include 'partials/artist/link.htm' %}</span></div>
			<div class="col-sm-4"><span class="shorten">{% include 'partials/albumlink.htm' with { 'item': renderitems.albums[item.albumId] } %}</span></div>
			<div class="col-sm-4"><span class="shorten">{% include 'partials/yearlink.htm' %}</span></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><span class="shorten">{% include 'partials/tracktitle.htm' with { 'titlestring': item.title } %}</span></div>
			<div class="col-sm-4"><span class="shorten">{% include 'partials/labellink.htm' with { 'labelIds': item.labelId } %}</span></div>
			<div class="col-sm-4"><span class="shorten">{% include 'partials/genrelink.htm' with { 'genreIds': item.genreId } %}</span></div>
		</div>
		<div class="row">
			<div class="col-sm-12 small">
				{# TODO: remove external liking as soon we have implemented a proper functionality #}
				<button class="ajax-rqst btn btn-default btn-sm" data-href="{{ temp_likerurl }}" title="temp ixwax +1">+1</button>
				<button role="control" data-href="/markup/widget-trackcontrol?item={{ item.id }}" title="play" class="btn btn-default btn-sm trigger-modal">
					<i class="fa fa-align-justify fa-sm"></i>
				</button>
			</div>
    	</div>
    </div>
    
    
    <div class="now-playing-string" style="display: none;" data-hash="{{ item.relativePathHash }}">{% include 'partials/tracktitle.htm' with { 'titlestring': item.title } %} by {% include 'partials/artist/string.htm' %}</div>
    
    {# FIXME: remove this as soon as MpdPlayer.js::reloadCSS() is working #}
    <style type="text/css">.track-{{ item.relativePathHash}} {border-left: 1px solid rgb(255,156,1);}</style>
