<div class="row replace-me-with-proper-css"><br></div>
<h2>{{'currentplaylist'|ll}}</h2>
<div class="row">
	<div class="col-md-3">
		<button role="control" title="clear playlist (but keep current track)" class="btn btn-default player-ctrl toggle-tooltip" data-player='{"action":"softclearPlaylist","mpdurl":"{{root}}mpdctrl/softclearPlaylist"}'>
			<i class="fa fa-trash"></i> Clear Playlist <span class="badge uc">({{ currentplaylistlength }} tracks)</span>
		</button>
	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">
		<div class="pull-right">
			<button role="control" title="remove duplicate tracks from current playlist" class="btn btn-default player-ctrl toggle-tooltip" data-player='{"action":"removeDupes","mpdurl":"{{root}}mpdctrl/removeDupes"}'>
				<i class="fa fa-trash"></i> Remove Duplicates</span>
			</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2">

	</div>
	<div class="ffn-hidden">
		<div class="col-md-3"><span class="dark uc small">{{'title'|ll}} &amp; {{'album'|ll}}</span></div>
		<div class="col-md-3"><span class="dark uc small">{{'artist'|ll}}</span></div>
		<div class="col-md-2"><span class="dark uc small">{{'genre'|ll}}</span></div>
		<div class="col-md-1"><span class="dark uc small">{{'year'|ll}}</span></div>
	</div>
	<div class="ffn-show">
		<div class="col-md-8"><span class="dark uc small">{{'filename'|ll}} + {{'dirname'|ll}}</span></div>
		<div class="col-md-1"><span class="dark uc small">{{'fingerprint'|ll}}</span></div>
	</div>
	<div class="col-md-1"><span class="dark uc small">{{'duration'|ll}}</span></div>
</div>
<hr />


{% set totalTime = 0 %}
{% for mpdidx,item in currentplaylist %}
<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover track-{{ item.relPathHash }} track-row">
{% set totalTime = totalTime+item.miliseconds %}
{% include 'partials/trackrow-currentplaylist.htm' %}
</div>
{% endfor %}
{# divider only if the last row is even #}
	{% if (currentplaylist|length) is even %}
	<div class="fw-bg bg-col5"><hr class="row " /></div>
{% endif %}
<div class="row">
	<div class="col-md-9"></div>
	<div class="col-md-1">Total Time</div>
	<div class="col-md-1">{{ totalTime|formatMiliseconds }}</div>
	<div class="col-md-1"></div>
</div>


<div class="row">
	<div class="col-md-3">

	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">

	</div>
</div>
