{% extends 'partials/track/not-imported-templatevars.twig' %}
{% block content %}
<h2>Aktueller Titel: {% include 'partials/tracktitle.htm' with { 'titlestring': item.title, 'filepath': item.relativePath  } %}</h2>
<div class="row">
	<div class="col-md-4">
		<a href="/album/{{ item.albumId }}" data-ajaxtarget="#main" class="ajax-link">
			<img id="image_in" src="/image-300/album/{{ item.albumId }}" alt="" style="top: 0px;">
		</a>
	</div>
	<div class="col-md-8">
		{% if item.id %}
		<div class="row" style="font-size: 1.6em; padding-top: 3em;">
			<div class="col-md-6">
				{% include 'partials/artist/link.htm' %}
			</div>
			<div class="col-md-3">
				{% include 'partials/label/link.htm' with { 'item': nowplaying_album } %}
			</div>
			<div class="col-md-3">
				{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId, 'genres': renderitems.genres } %}
			</div>
		</div>
		<div class="row" style="font-size: 1.6em;">
			<div class="col-md-6">
				{% include 'partials/album/link.htm' with { 'item': nowplaying_album } %}
			</div>
			<div class="col-md-3">
				#CAT: {{ item.catalogNr }}
			</div>
			<div class="col-md-3">
				TODO: STYLE
			</div>
		</div>
		<div class="row" style="font-size: 1.6em;">
			<div class="col-md-6">
				{% include 'partials/year/link.htm' %}
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
		{% else %}
			<div class="row" style="font-size: 1.6em;">
				<div class="col-md-12">
		    		{{ fileName }}
					<br />
					<div class="darker-links">
						<a href="{{ albumHref }}" data-ajaxtarget="#main" class="ajax-link"><i class="fa fa-folder-open fa-lg"></i>{{parentDir}}</a>
					</div>
					{% include 'partials/track/not-imported-badge.htm' %}
		    	</div>
	    	</div>
		{% endif %}
		<div class="row">
			<div class="col-md-2">
				<a href="/maintainance/trackdebug/{{ item.relativePath }}" data-ajaxtarget="#main" class="ajax-link">edit</a>
			</div>
			<div class="col-md-10">
				
			</div>
		</div>
	</div>
</div>
{% endblock %}
