<div class="row">&nbsp;</div>
<div class="row">
	{% include 'modules/paginator.htm' with { 'paginator': paginator_params, 'll': ll } %}
</div>
<div class="row">
	<div class="col-md-2">
		<button role="control" title="remove duplicate tracks from current playlist" class="btn btn-default player-ctrl toggle-tooltip" data-player='{"action":"removeDupes","mpdurl":"/mpdctrl/removeDupes"}'>
			<i class="fa fa-trash"></i> Remove dupes</span>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<button role="control" title="clear playlist (but keep current track)" class="btn btn-default player-ctrl toggle-tooltip" data-player='{"action":"clearPlaylistNotCurrent","mpdurl":"/mpdctrl/clearPlaylistNotCurrent"}'>
			<i class="fa fa-trash"></i> Clear Playlist <span class="uc" style="font-size:0.7em;">({{ currentplaylistlength }} tracks)</span>
		</button>
	</div>
	<div class="col-md-3"><span class="dark uc small">{{'title'|ll}} &amp; {{'album'|ll}}</span></div>
	<div class="col-md-3"><span class="dark uc small">{{'artist'|ll}}</span></div>
	<div class="col-md-2"><span class="dark uc small">{{'genre'|ll}}</span></div>
	<div class="col-md-1"><span class="dark uc small">{{'year'|ll}}</span></div>
	<div class="col-md-1"><span class="dark uc small">{{'duration'|ll}}</span></div>
</div>
<hr />


{% set totalTime = 0 %}
{% for mpdidx,item in currentplaylist %}
{% set totalTime = totalTime+item.miliseconds %}
{% include 'partials/trackrow-currentplaylist.htm' %}
{% endfor %}
<div class="row">
	<div class="col-md-9"></div>
	<div class="col-md-1">total time</div>
	<div class="col-md-1">{{ totalTime|formatMiliseconds }}</div>
	<div class="col-md-1"></div>
</div>

