<div class="row">
	<div class="col-md-12">
		<span class="dark uc small darker-links">{% include 'partials/playlist/linked-label.htm' %}</span>
	</div>
	<div class="col-md-12">
		<h2 style="margin:0;padding:0;" class="">
				{{playlist.filename}} <span class="badge">{{playlist.length}}</span>
		</h2>
	</div>
</div>
	
	
{% if paginator_params.numPages > 1 %}
<div class="row">
	<div class="col-md-3">

	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' with { 'paginator': paginator_params } %}
	</div>
	<div class="col-md-3">

	</div>
</div>

<div class="row replace-me-with-proper-css"><br><br></div>
{% endif %}
	
	
{% for item in playlist.tracks %}
<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover track-{{ item.relativePathHash }}">
	{% if item.error == 'notfound' %}
		{% include 'partials/itemrow-track-notfound.htm' %}
	{% else %}
		{% include 'partials/trackrow-1.htm' %}
	{% endif %}
</div>
{% endfor %}

{% if paginator_params.numPages > 1 %}
<div class="row">
	<div class="col-md-3">

	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' with { 'paginator': paginator_params } %}
	</div>
	<div class="col-md-3">

	</div>
</div>

<div class="row replace-me-with-proper-css"><br><br></div>
{% endif %}