<div class="row">
	<div class="col-md-12">
		<span class="dark uc small darker-links">{% include 'partials/playlist/linked-label.htm' %}</span>
		<button role="control" data-href="{{root}}markup/widget-playlist/{{ playlist.relPath|path2url }}" title="{{ 'filebrowser.playlistoptions'|ll }}" class="btn btn-trnsp trigger-modal col2">
			<span class="fa-stack">
				<i class="fa fa-circle-thin fa-stack-2x col2"></i>
				<i class="fa fa-plus fa-stack-1x fa-inverse col2"></i>
			</span>
			{{ 'filebrowser.playlistoptions'|ll }}
		</button>
	</div>
	<div class="col-md-12">
		<h2 class="nomargin">
			{{playlist.title}} <span class="badge">{{playlist.length}}</span>
		</h2>
	</div>
</div>

{% if paginator.numPages > 1 %}
<div class="row">
	<div class="col-md-3">

	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">

	</div>
</div>

<div class="row replace-me-with-proper-css"><br><br></div>
{% endif %}
	
{% for item in itemlist %}
	{% if item.error == 'notfound' %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		{% include 'partials/itemrow-track-notfound.htm' %}
	{% else %}
		<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover track-{{ item.relPathHash }} track-row">
		{% if item.uid %}
			{% include 'partials/trackrow-1.htm' %}
		{% else %}
			{% include 'partials/itemrow-track-notimported.htm' %}
		{% endif %}
	{% endif %}
</div>
{% endfor %}

{% if paginator.numPages > 1 %}
<div class="row">
	<div class="col-md-3">

	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">

	</div>
</div>

<div class="row replace-me-with-proper-css"><br><br></div>
{% endif %}
