{% set startnum = paginator_params.currentPage*paginator_params.itemsPerPage+1-paginator_params.itemsPerPage %}

{% if paginator_params.currentPage == paginator_params.numPages %}
	{% set endnum = paginator_params.totalItems %}
{% else %}
	{% set endnum = paginator_params.currentPage*paginator_params.itemsPerPage %}
{% endif %}

<div class="row">
	<div class="col-md-12">
		<h2 style="margin:0;padding:0;" class="">
			<span class="dark uc small darker" style="font-family:sfnsdisplay; font-size: 0.5em;">{{'searchresults'|ll}}</span>
			<span style="font-weight:100;">&quot;{{ search.all.term }}&quot;</span>
			<span class="dark uc small darker" style="font-family:sfnsdisplay; font-size: 0.5em;">{{ startnum }} - {{ endnum }} of {{ search[searchcurrent].total }} {{'results'|ll}} in {{ search[searchcurrent].time }}s</span></h2>
	</div>
</div>
<div class="row">
	<br>{# TODO: use css instead of markup #}
</div>

<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills type-nav">
			<li class="{{ (searchcurrent == 'all') ? 'active' : '' }} {{ (search.all.total == 0) ? 'disabled' : '' }}">
				<a href="/searchall/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">
					<h3 class="uc">All <span class="badge bg-col2">{{ search.all.total }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'track') ? 'active' : '' }} {{ (search.track.total == 0) ? 'disabled' : '' }}">
				<a href="/searchtrack/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">
					<h3 class="uc">Tracks <span class="badge bg-col2">{{ search.track.total }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'album') ? 'active' : '' }} {{ (search.album.total == 0) ? 'disabled' : '' }}">
				<a href="/searchalbum/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">
					<h3 class="uc">Albums <span class="badge bg-col2">{{ search.album.total }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'artist') ? 'active' : '' }} {{ (search.artist.total == 0) ? 'disabled' : '' }}">
				<a href="/searchartist/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">
					<h3 class="uc">Artists <span class="badge bg-col2">{{ search.artist.total }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'genre') ? 'active' : '' }} {{ (search.genre.total == 0) ? 'disabled' : '' }}">
				<a href="/searchgenre/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">
					<h3 class="uc">Genres <span class="badge bg-col2">{{ search.genre.total }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'label') ? 'active' : '' }} {{ (search.label.total == 0) ? 'disabled' : '' }}">
				<a href="/searchlabel/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">
					<h3 class="uc">Labels <span class="badge bg-col2">{{ search.label.total }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'dirname') ? 'active' : '' }} {{ (search.dirname.total == 0) ? 'disabled' : '' }}">
				<a href="/searchdirname/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">
					<h3 class="uc">Directories <span class="badge bg-col2">{{ search.dirname.total }}</span></h3>
				</a>
			</li>
			<li>
				{# TODO: tracking of users youtube-search #}
				<a title="search on youtube" href="http://youtube.com/results?search_query={{ search.all.term|url_encode }}%20{{youtubechunk}}" target="_blank">
					<h3 class="uc">Youtube <i class="fa fa-youtube-square fa-lg"></i></h3>
				</a>
			</li>
		</ul>
	</div>
</div>