{% set startnum = paginator_params.currentPage*paginator_params.itemsPerPage+1-paginator_params.itemsPerPage %}

{% if paginator_params.currentPage == paginator_params.numPages %}
	{% set endnum = paginator_params.totalItems %}
{% else %}
	{% set endnum = paginator_params.currentPage*paginator_params.itemsPerPage %}
{% endif %}




<h2>{{'searchresults'|ll}} &quot;{{ search.all.term }}&quot;<span style="margin-left: 1em; font-size: 0.4em; color:#888;">
{{ startnum }} - {{ endnum }} of {{ search[searchcurrent].total }} {{'results'|ll}} in {{ search[searchcurrent].time }}s</span></h2>


<div class="row">
	<div class="col-md-10">
		<ul class="nav nav-tabs">
			<li class="{{ (searchcurrent == 'all') ? 'active' : '' }}{{ (search.all.total == 0) ? 'disabled' : '' }}"> 
				<a href="/searchall/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">All ({{ search.all.total }})</a>
			</li>
			<li class="{{ (searchcurrent == 'track') ? 'active' : '' }}{{ (search.track.total == 0) ? 'disabled' : '' }}"> 
				<a href="/searchtrack/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">Tracks ({{ search.track.total }})</a>
			</li>
			<li class="{{ (searchcurrent == 'album') ? 'active' : '' }}{{ (search.album.total == 0) ? 'disabled' : '' }}"> 
				<a href="/searchalbum/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">Albums ({{ search.album.total }})</a>
			</li>
			<li class="{{ (searchcurrent == 'artist') ? 'active' : '' }}{{ (search.artist.total == 0) ? 'disabled' : '' }}"> 
				<a href="/searchartist/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">Artists ({{ search.artist.total }})</a>
			</li>
			<li class="{{ (searchcurrent == 'genre') ? 'active' : '' }}{{ (search.genre.total == 0) ? 'disabled' : '' }}"> 
				<a href="/searchgenre/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">Genres ({{ search.genre.total }})</a>
			</li>
			<li class="{{ (searchcurrent == 'label') ? 'active' : '' }}{{ (search.label.total == 0) ? 'disabled' : '' }}"> 
				<a href="/searchlabel/page/1/sort/relevance/desc?q={{ search.all.term }}" data-ajaxtarget="#main" class="ajax-link">Labels ({{ search.label.total }})</a>
			</li>
			<li>
				{# TODO: tracking of users youtube-search #}
				<a title="search on youtube" href="http://youtube.com/results?search_query={{ search.all.term|url_encode }}%20{{youtubechunk}}" target="_blank"><i class="fa fa-youtube-square fa-lg"></i> Youtube</a>
			</li>
		</ul>
	</div>
	<div class="col-md-2">
		Sortierung {% include 'partials/dropdown-search-sorting.htm' %}
	</div>
</div>