<div class="row">
	<div class="col-md-12">
		<span class="dark uc tinyfont darker">{{'searchresults'|ll}}</span>
		<h2 class="inline-heading nomargin">&quot;{{ search.all.term }}&quot;</h2>
		<span class="dark uc tinyfont darker">{{ statsstring }}</span>
	</div>
</div>
<div class="row">
	<br>{# TODO: use css instead of markup #}
	{% for k,i in timelog %}
		<!--{{k}} - {{i}}<br /-->
	{% endfor %}
</div>

<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills type-nav">
			<li class="{{ (searchcurrent == 'all') ? 'active' : '' }} {{ (search.all.total == 0) ? 'disabled' : '' }}">
				<a href="{{root}}searchall/page/1/sort/relevance/desc?q={{ search.all.term }}" class="ajax-link">
					<h3 class="uc">All <span class="badge bg-col2">{{ search.all.total|shorty }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'track') ? 'active' : '' }} {{ (search.track.total == 0) ? 'disabled' : '' }}">
				<a href="{{root}}searchtrack/page/1/sort/relevance/desc?q={{ search.all.term }}" class="ajax-link">
					<h3 class="uc">Tracks <span class="badge bg-col2">{{ search.track.total|shorty }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'album') ? 'active' : '' }} {{ (search.album.total == 0) ? 'disabled' : '' }}">
				<a href="{{root}}searchalbum/page/1/sort/relevance/desc?q={{ search.all.term }}" class="ajax-link">
					<h3 class="uc">Albums <span class="badge bg-col2">{{ search.album.total|shorty }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'artist') ? 'active' : '' }} {{ (search.artist.total == 0) ? 'disabled' : '' }}">
				<a href="{{root}}searchartist/page/1/sort/relevance/desc?q={{ search.all.term }}" class="ajax-link">
					<h3 class="uc">Artists <span class="badge bg-col2">{{ search.artist.total|shorty }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'genre') ? 'active' : '' }} {{ (search.genre.total == 0) ? 'disabled' : '' }}">
				<a href="{{root}}searchgenre/page/1/sort/relevance/desc?q={{ search.all.term }}" class="ajax-link">
					<h3 class="uc">Genres <span class="badge bg-col2">{{ search.genre.total|shorty }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'label') ? 'active' : '' }} {{ (search.label.total == 0) ? 'disabled' : '' }}">
				<a href="{{root}}searchlabel/page/1/sort/relevance/desc?q={{ search.all.term }}" class="ajax-link">
					<h3 class="uc">Labels <span class="badge bg-col2">{{ search.label.total|shorty }}</span></h3>
				</a>
			</li>
			<li class="{{ (searchcurrent == 'dirname') ? 'active' : '' }} {{ (search.dirname.total == 0) ? 'disabled' : '' }}">
				<a href="{{root}}searchdirname/page/1/sort/relevance/desc?q={{ search.all.term }}" class="ajax-link">
					<h3 class="uc">Directories <span class="badge bg-col2">{{ search.dirname.total|shorty }}</span></h3>
				</a>
			</li>
			<li>
				{# TODO: tracking of users youtube-search #}
				<a title="search on youtube" href="http://youtube.com/results?search_query={{ search.all.term|url_encode }}%20{{youtubechunk}}" target="_blank">
					<h3 class="uc">Youtube <i class="fa fa-youtube-square fa-lg"></i></h3>
				</a>
			</li>
		</ul>
	</div>
</div>