

{% if itemlist|length > 0 %}
<div class="row replace-me-with-proper-css"><br><br></div>
<div class="row">
	<div class="col-md-3">
		{% include 'partials/results-per-page.htm' %}
	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">
		<div class="pull-right">
			{{'sorting'|ll}}
			{% if dropdown == 'typelist' %}
				{% include 'partials/dropdown-typelist-sorting.htm' %}
			{% else %}
				{% include 'partials/dropdown-search-sorting.htm' %}
			{% endif %}
		</div>
	</div>
</div>

<div class="row replace-me-with-proper-css"><br><br></div>
<div class="tracks_container">
{% include 'partials/trackrow-1-header.htm' %}

{% for item in itemlist %}
	{% if item is instanceofAlbum %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		{% include 'partials/itemrow-album.htm' %}
	{% endif %}
	{% if item is instanceofTrack %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover track-{{ item.relPathHash }} track-row">
		{% include 'partials/trackrow-1.htm' %}
	{% endif %}
	
	{% if item is instanceofLabel %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		{% include 'partials/itemrow-label.htm' %}
	{% endif %}
	{% if item is instanceofArtist %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		{% include 'partials/itemrow-artist.htm' %}
	{% endif %}
	{% if item is instanceofGenre %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		{% include 'partials/itemrow-genre.htm' %}
	{% endif %}
	{% if item is instanceofDirectory %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }} mouseover">
		{% include 'partials/itemrow-directory.htm' %}
	{% endif %}
</div>
{% endfor %}
{# divider only if the last row is even #}
	{% if (itemlist|length) is even %}
	<div class="fw-bg bg-col5"><hr class="row " /></div>
{% endif %}
	<div class="clearfix"> </div>
	
</div>
<div class="row replace-me-with-proper-css"><br><br></div>

	{% if paginator.numPages > 1 %}
	<div class="row">
		<div class="col-md-12 centered-text">
			{% include 'modules/paginator.htm' %}
		</div>
	</div>
	
	<div class="row replace-me-with-proper-css">
		<br><br>
	</div>
	{% endif %}
{% else %}
<h3>nothing found...</h3>
{% endif %}