<h2>Searchresults &quot;{{ search.term }}&quot;<span style="margin-left: 1em; font-size: 0.4em; color:#888;">{{ search.total }} results in {{ search.time }}s</span></h2>

{% if tracklist|length > 0 %}
<div class="tracks_container">
{% include 'modules/paginator.twig' with { 'paginator': paginator_params, 'll': ll } %}
<br />
	{% for item in tracklist %}
		{% include 'partials/trackrow-1.twig' %}
	{% endfor %}
	<div class="clearfix"> </div>
	{% include 'modules/paginator.twig' with { 'paginator': paginator_params, 'll': ll } %}
	
</div>
{% else %}
<h3>nothing found...</h3>
{% endif %}