{% extends 'partials/track/not-imported-templatevars.twig' %}
{% block content %}
{% include 'partials/randomizer.htm' with { subject: 'Track', urlpattern: 'maintainance/trackdebug/%s' } %}

<h3>Track-debug<br>
<span class="small">
	{% set dirs = item.relPath|split('/') %}
	<a href="{{root}}filebrowser/{{ itemraw.relDirPath|path2url }}" class="ajax-link"><i class="fa fa-folder-open fa-lg"></i></a>
	
	{% for dir in dirs %}
		{% if loop.last == true %}
		   <br />{% include 'partials/button/playtrack.htm' %}{{dir}}
		{% else %}  
			{{dir}} / 
		{% endif %}
	{% endfor%}
	<br />
	<a href="{{root}}maintainance/albumdebug/{{item.albumId}}" title="edit album" class="ajax-link"><i class="fa fa-pencil"></i> edit album</a>
</span>
{% if not item.id %}
{% include 'partials/track/not-imported-badge.htm' %}
{% endif %}
</h3>
<div class="container">
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-3"><strong>Rawtagdata</strong><br /><span class="dark">real tag attributes</span></div>
	<div class="col-md-4"><strong>Track-Entry</strong><br /><span class="dark">auto-corrected tag attributes</span></div>
	<div class="col-md-3"></div>
</div>
<hr />

<div class="row">
	<div class="col-md-2"><strong>{{'title'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.title }}</div>
	<div class="col-md-4"><input name="title" type="text" value="{{ item.title }}" class="form-control" /></div>
	<div class="col-md-3">{{ item.title }}</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'artist'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.artist }}</div>
	<div class="col-md-4"><input name="artist" type="text" value="{% include 'partials/artist/without_ft_string.htm' %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/artist/without_ft_link.htm' %}
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'featured.artist'|ll}}</strong></div>
	<div class="col-md-3"></div>
	{% set ftItem = { 'artistId' : item.featuringId }%}
	<div class="col-md-4"><input name="featuring" type="text" value="{% include 'partials/artist/string.htm' with { 'item': ftItem } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/artist/link.htm' with { 'item': ftItem } %}
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'remix.artist'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.remixer }}</div>
	{% set rmxItem = { 'artistId' : item.remixerId }%}
	<div class="col-md-4"><input name="remixer" type="text" value="{% include 'partials/artist/string.htm' with { 'item': rmxItem } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/artist/link.htm' with { 'item': rmxItem } %}
	</div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'albumartist'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.albumArtist }}</div>
	<div class="col-md-4"><input name="album" type="text" value="{% include 'partials/artist/string.htm' with { 'item': renderitems.albums[item.albumId] } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/artist/link.htm' with { 'item': renderitems.albums[item.albumId] } %}
	</div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'album'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.album }}</div>
	<div class="col-md-4"><input name="album" type="text" value="{{ renderitems.albums[item.albumId].title }}" class="form-control" /></div>
	<div class="col-md-3">{% include 'partials/album/link.htm' with {'item': renderitems.albums[item.albumId]} %}</div>
</div>


<div class="row">
	<div class="col-md-2"><strong>{{'year'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.year }}</div>
	<div class="col-md-4"><input name="year" type="text" value="{{ item.year }}" class="form-control" /></div>
	<div class="col-md-3">{% include 'partials/year/link.htm' %}</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'genre'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.genre }}</div>
	<div class="col-md-4"><input name="genre" type="text" value="{% include 'partials/genre/string.htm' with { 'genreIds': item.genreId } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId } %}
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'label'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.publisher }}</div>
	<div class="col-md-4"><input name="label" type="text" value="{% include 'partials/label/string.htm' with { 'labelIds': item.labelId } %}" class="form-control" /></div>
	<div class="col-md-3">
		{% include 'partials/label/link.htm' with { 'labelIds': item.labelId } %}
	</div>
</div>

<div class="row">
	<div class="col-md-2"><strong>{{'catnr'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.catalogNr }}</div>
	<div class="col-md-4"><input name="catalogNr" type="text" value="{{ item.catalogNr }}" class="form-control" /></div>
	<div class="col-md-3">
		{{ item.catalogNr }}
	</div>
</div>
<div class="row">
	<div class="col-md-2"><strong>{{'number'|ll}}</strong></div>
	<div class="col-md-3">{{ itemraw.trackNumber }}</div>
	<div class="col-md-4"><input name="number" type="text" value="{{ item.trackNumber }}" class="form-control" /></div>
	<div class="col-md-3">
		{{ item.trackNumber }}
	</div>
</div>
<br />
<br />
<br />
<br />
{% endblock %}
