

<h2>{{ type }}list</h2>
<form action="/alphasearch/" method="get" class="ajax-form">
	<input name="searchterm" value="" placeholder="{{type}}search alpha (az09*)"/>
	<input name="searchtype" value="{{type}}" type="hidden"/>
	<button type="submit">
	<i id="iconSearchToggler" class="fa fa-search fa-lg"></i>
	</button>
</form>

{% include 'modules/paginator.htm' with { 'paginator': paginator_params, 'll': ll } %}
<div class="{{ type }}s_container">
	
	{% if itemlist|length  %}
	<div class="container-fluid">
	
	  {% set itemsPerColumn = (itemlist|length / 4)|round(0, 'ceil') %}
	
	  {% for item in itemlist %}
	
	    {% if itemsPerColumn == 1 or loop.index % itemsPerColumn == 1 -%}
	      {% spaceless %}
	        <div class="col-md-3">
	      {% endspaceless %}
	    {% endif %}
	
	            <a href="/{{ type }}/{{item.id}}/tracks/page/1/sort/added/desc" data-ajaxtarget="#main" class="ajax-link"><span style="color:#777;">{{item.article}}</span>{{item.title}}
				<span style="font-size: 0.7em; color:#888;">(<strong style="color:#777;">{{ item.trackCount }}</strong>)</span>
				</a><br />
	
	    {% if loop.last or loop.index % itemsPerColumn == 0 -%}
	      {% spaceless %}
	        </div>
	      {% endspaceless %}
	    {% endif %}
	  {% endfor %}
	{% else %}
		no {{ type }}s found
	{% endif %}
</div>
{% include 'modules/paginator.htm' with { 'paginator': paginator_params, 'll': ll } %}
