<div class="row">
	<div class="col-md-12">
		<h2>{{ type }}list</h2>
	</div>
	<div class="col-md-3">
		<form action="{{root}}alphasearch/" method="get" class="ajax-form">
			<div class="input-group">
				<input name="searchterm" value="{{searchterm}}" type="text" placeholder="{{type}}search" class="form-control"/>
				<input name="searchtype" value="{{type}}" type="hidden"/>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<i id="iconSearchToggler" class="fa fa-search fa-lg"></i>
					</button>
				</span>
			</div>
		</form>
	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">
		
	</div>
</div>
<div class="row">	
	{% if itemlist|length  %}
		{% set itemsPerColumn = (itemlist|length / 4)|round(0, 'ceil') %}
		{% for item in itemlist %}
			{% if itemsPerColumn == 1 or loop.index % itemsPerColumn == 1 -%}<div class="col-md-3">{% endif %}
			<a href="{{root}}{{ type }}/{{item.id}}/tracks/page/1/sort/added/desc" data-ajaxtarget="#main" class="ajax-link">
				{% if item.article %}<span class="dark">{{item.article}}</span>{% endif %}
				{{item.title}}
				<span class="dark small" title="trackcount">({{ item.trackCount }})</span>
			</a><br />
			{% if loop.last or loop.index % itemsPerColumn == 0 -%}</div>{% endif %}
		{% endfor %}
	{% else %}
		no {{ type }}s found
	{% endif %}
</div>
<div class="row">
	<div class="col-md-3">
		
	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">
		
	</div>
</div>
