{% extends 'partials/track/not-imported-templatevars.twig' %}
{% block content %}

  <div class="modal-body">
    {% include 'partials/modal/close-button-top.htm' %}
    
    <div class="tinyfont dark uc">{{'artist'|ll}} - {{'title'|ll}}</div>
    <h2 class="nomargin">{% include 'partials/artist/link.htm' %}
    	- 
    	{% include 'partials/track/title.htm' with { 'titlestring': item.title } %}
    </h2>
     
	<div class="row">
	  	<div class="col-md-10">
	  		<object class="waveform svg-ajax-object" data="{{fileroot}}skin/default/img/loading-waveform.svg" data-svgurl="{{root}}audiosvg/width/5000/{{ item.relPath|path2url }}?color=3" type="image/svg+xml"></object>
		</div>
		
		<div class="col-md-2">
	    	<img src="{{root}}image-100/album/{{ item.albumId }}" />
	    </div>
	</div>
	<div class="row">
		{% if item.id %}
	    <div class="col-md-2">
	    	<span class="dark uc small">{{'duration'|ll}}</span><br />
	    	<strong>{{ item.miliseconds|formatMiliseconds }}</strong>
	    </div>
	    <div class="col-md-2 border-left">
	    	<span class="dark uc small">{{'year'|ll}}</span><br />
	    	<strong>{% include 'partials/year/link.htm' %}</strong>
	    </div>
	    <div class="col-md-2 border-left">
	    	<span class="dark uc small">{{'genre'|ll}}</span><br />
	    	<strong>{% include 'partials/genre/link.htm' with { 'genreIds': item.genreId } %}</strong>
	    </div>
	    <div class="col-md-2 border-left">
	    	<span class="dark uc small">{{'label'|ll}}</span><br />
	    	<strong>{% include 'partials/label/link.htm' with { 'labelIds': item.labelId } %}</strong>
	    </div>
	    <div class="col-md-4 border-left">
	    	<span class="dark uc small">{{'album'|ll}}</span><br />
	    	<strong>{% include 'partials/album/link.htm' with { 'item': renderitems.albums[item.albumId] } %}</strong>
	    </div>
	    {% else %}
	    	<div class="col-md-12">
	    		{{ fileName }}
				<br />
				<div class="darker-links">
					<a href="{{ albumHref }}" class="ajax-link trigger-hide-modal"><i class="fa fa-folder-open fa-lg"></i>{{parentDir}}</a>
				</div>
				{% include 'partials/track/not-imported-badge.htm' %}
	    	</div>
	    {% endif %}

  	</div>
  	<div class="row">
  		<button class="btn btn-trnsp toggle-content" data-toggle="#trackwidget-techspecs" data-text1="show tech specs" data-text2="hide tech specs">
  			<i class="fa fa-plus"></i> show tech specs
  		</button>
  	</div>
  	<div id="trackwidget-techspecs" style="display:none;">
  		<div class="nfo">{{item.relPath}}</div>
	  	{% if item.id %}
	    <div class="row">
			<div class="col-md-3">
				<div>Format: {{item.audioDataFormat}}</div>
				<div>Profile: {{item.audioProfile}}</div>
				<div>Filesize: {{item.filesize|formatBytes}}</div>
			</div>
			
			<div class="col-md-3">
				<div>BitsPerSample: {{item.audioBitsPerSample}}</div>
				<div>SampleRate: {{item.audioSampleRate}}</div>
				<div>Channels: {{item.audioChannels}}</div>
			</div>
			
			<div class="col-md-3">
				<div>Encoder: {{item.audioEncoder}}</div>
				<div>Bitrate: {{item.audioBitrate}}</div>
				<div>BitrateMode: {{item.audioBitrateMode}}</div>
			</div>
			
			<div class="col-md-3">
				<div><span title="compression ratio">CR:</span> {{item.audioComprRatio}}</div>
				<div>lastScan: {{item.lastScan|date("m/d/Y")}}</div>
				<div>Fingerprint: <span title="{{item.fingerprint}}">{{item|fingerprintshorty}}</span></div>
			</div>
	
	
		</div>
		{% endif %}
	</div>
  
	{% set dirs = item.relPath|split('/') %}
	{% set fullpath = '' %}
	{% for dir in dirs %}
		{% if loop.last == false %}
			{% set fullpath = fullpath~'/'~dir %}
		{% endif %}
	{% endfor%}
	
  
 
	<br class="replace-me-with-proper-css"/>
	<br class="replace-me-with-proper-css"/>
	<br class="replace-me-with-proper-css"/>
  	
  	
  	
  	
	  <div class="row">
	  	<div class="col-md-3">
	  		<div class="col-md-12">
				<h3>{{'playbackcontrol'|ll}}</h3>
	  		</div>
	  		<div class="col-md-12">
				{% include 'partials/button/playtrack.htm' with {
					'linkedmarkup': "<i class=\"fa fa-play\"></i> "~'pbctrl.appendandplay'|ll
				} %}
				<br class="replace-me-with-proper-css" /><br class="replace-me-with-proper-css"/>
			</div>
			<div class="col-md-12">
		  		<button role="control" class="btn btn-default player-ctrl is-playbtn trigger-hide-modal"
					data-player='{"action":"appendTrack","item":"{{ playerCtrlItem|path2url }}","ext":"{{item.audioDataformat }}","hash":"{{ item.relPathHash }}","mpdurl":"{{root}}mpdctrl/appendTrack/{{ playerCtrlItem|path2url }}"}'
		  			title="{{'pbctrl.append.title'|ll}}">
					<i class="fa fa-plus"></i> {{'pbctrl.append'|ll}}
				</button>
				<br class="replace-me-with-proper-css" /><br class="replace-me-with-proper-css"/>
			</div>
			
			<div class="col-md-12">
		  		<button role="control" class="btn btn-default player-ctrl is-playbtn trigger-hide-modal"
					data-player='{"action":"injectTrack","item":"{{ playerCtrlItem|path2url }}","ext":"{{item.audioDataformat }}","hash":"{{ item.relPathHash }}","mpdurl":"{{root}}mpdctrl/injectTrack/{{ playerCtrlItem|path2url }}"}'
		  			title="{{'pbctrl.inject.title'|ll}}">
					<i class="fa fa-plus"></i> {{'pbctrl.inject'|ll}}
				</button>
				<br class="replace-me-with-proper-css" /><br class="replace-me-with-proper-css"/>
			</div>
			
			<div class="col-md-12">
		  		<button role="control" class="btn btn-default player-ctrl is-playbtn trigger-hide-modal"
					data-player='{"action":"injectTrackAndPlay","item":"{{ playerCtrlItem|path2url }}","ext":"{{item.audioDataformat }}","hash":"{{ item.relPathHash }}","mpdurl":"{{root}}mpdctrl/injectTrackAndPlay/{{ playerCtrlItem|path2url }}"}'
		  			title="{{'pbctrl.injectandplay.title'|ll}}">
					<i class="fa fa-play"></i> {{'pbctrl.injectandplay'|ll}}
				</button>
				<br class="replace-me-with-proper-css" /><br class="replace-me-with-proper-css"/>
			</div>
			
			<div class="col-md-12">
		  		<button role="control" class="btn btn-default player-ctrl is-playbtn trigger-hide-modal"
					data-player='{"action":"replaceTrack","item":"{{ playerCtrlItem|path2url }}","ext":"{{item.audioDataformat }}","hash":"{{ item.relPathHash }}","mpdurl":"{{root}}mpdctrl/replaceTrack/{{ playerCtrlItem|path2url }}"}'
		  			title="{{'pbctrl.clearandplay.title'|ll}}">
					<i class="fa fa-play"></i> {{'pbctrl.clearandplay'|ll}}
				</button>
				<br class="replace-me-with-proper-css" /><br class="replace-me-with-proper-css"/>
			</div>
			<div class="col-md-12">
		  		<button role="control" class="btn btn-default player-ctrl is-playbtn trigger-hide-modal"
					data-player='{"action":"softreplaceTrack","item":"{{ playerCtrlItem|path2url }}","ext":"{{item.audioDataformat }}","hash":"{{ item.relPathHash }}","mpdurl":"{{root}}mpdctrl/softreplaceTrack/{{ playerCtrlItem|path2url }}"}'
		  			title="{{'pbctrl.softclearandplay.title'|ll}}">
					<i class="fa fa-trash"></i> {{'pbctrl.softclearandplay'|ll}}
				</button>
				<br class="replace-me-with-proper-css" /><br class="replace-me-with-proper-css"/>
			</div>
			
	  		<div class="col-md-12">
				<button role="control" data-href="#" class="btn btn-default toggle-player" title="{{'pbctrl.toggleplayer.title'|ll}}">
					<i class="fa fa-exchange"></i> {{'pbctrl.toggleplayer'|ll}}
				</button>
			</div>
	  	</div>
	  	<div class="col-md-3">
	  		<div class="col-md-12">
				<h3>{{'vote'|ll}}</h3>
	  		</div>
	  		<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default">
					<i class="fa fa-star"></i> {{'vote.10'|ll}}
				</button>
			</div>
			<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default">
					<i class="fa fa-star-half-empty"></i> {{'vote.4'|ll}}
				</button>
			</div>
			<div class="col-md-12">
		  		<button role="control" data-href="#" {{'niymarkup'|ll|raw}} class="btn btn-default">
					<i class="fa fa-eraser"></i> {{'vote.1'|ll}}
				</button>
			</div>
	  	</div>
	  	
	  	
	  	<div class="col-md-3">
	  		{% if modules.enable_xwax %}
	  		<div class="col-md-12">
	  			<h3>Send to deck</h3>
	  			<div class="row">
	  			{% set colidx = (xwax.decks > 3) ? 4 : 12/xwax.decks %}
	  				{% for i in 1..xwax.decks %}
	  				<div class="col-md-{{colidx}}">
	  					<button role="control" data-href="{{root}}xwax/load_track/{{i}}/{{item.relPath|path2url}}" class="ajax-rqst btn btn-default btn-lg" title="Send track to xwax deck {{i}}">
							<span class="glyphicon glyphicon-cd" aria-hidden="true"></span> {{i}}
						</button>
	  				</div>
	  				{% endfor%}
	  			</div>
	  			<div class="row">
	  				<button role="control" data-href="{{root}}markup/widget-xwax" title="xwax controls" class="btn btn-trnsp trigger-modal">
						<i class="fa fa-plus"></i> xwax controls
					</button>
	  			</div>
	  		</div>
	  		
	  		<div class="col-md-12">
	  			<h3>Download</h3>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="{{root}}deliver/{{item.relPath|path2url}}" target="_blank" download><i class="fa fa-download"></i> Track</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body"><i class="fa fa-download"></i> Album</a>
	  		</div>
	  		{% endif %}
	  		
	  	</div>
	  	
	  	
	  	<div class="col-md-3">
	  		<div class="col-md-12">
	  			<h3>{{'edit'|ll}}</h3>
	  		</div>
	  		<div class="col-md-12">
				<a href="{{root}}maintainance/trackdebug/{{ playerCtrlItem|path2url }}" class="ajax-link trigger-hide-modal"><i class="fa fa-pencil"></i> Track</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="{{root}}maintainance/albumdebug/{{ item.albumId }}" class="ajax-link trigger-hide-modal"><i class="fa fa-pencil"></i> Album</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="{{root}}filebrowser/{{fullpath|path2url}}" title="{{fullpath}}/" class="ajax-link trigger-hide-modal"><i class="fa fa-folder-open"></i>
	  				{{'viewdir'|ll}}
	  			</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body"><i class="fa fa-refresh"></i> {{'reimporttrack'|ll}}</a>
	  		</div>

			<div class="col-md-12">
				<a href="{{root}}maintainance/trackid3/{{ item.relPath|path2url }}" target="_blank"><i class="fa fa-eye"></i> dump metadata</a>
			</div>

	  		<div class="col-md-12">
	  			<h3>{{'search'|ll}}</h3>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body"><i class="fa fa-youtube"></i> Youtube</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body">
	  				<img src="{{fileroot}}skin/default/img/icon-discogs.png" class="icon-16 grayscale"/> Discogs
	  			</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body">
	  				<img src="{{fileroot}}skin/default/img/icon-rdb.ico" class="icon-16 grayscale"/> RollDaBeats
	  			</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body">
	  				<img src="{{fileroot}}skin/default/img/icon-junodownload.png" class="icon-16 grayscale"/> Juno
	  			</a>
	  		</div>
	  		<div class="col-md-12">
	  			<a href="#" {{'niymarkup'|ll|raw}} data-container=".modal-body">
	  				<img src="{{fileroot}}skin/default/img/icon-beatport.png" class="icon-16 grayscale"/> Beatport
	  			</a>
	  		</div>
	  		
	  		
	  	</div>
	  </div>

	  
  
  </div>
  <div class="modal-footer">
  	{% include 'partials/modal/close-button-bottom.htm' %}
  </div>
{% endblock %}
