  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle sign"></i></span></button>
    
    <h3>XWAX Control</h3>
    
    {% if xwax.showlauncher %}
    <div class="row" style="text-align: center;">
		<div class="col-md-6">
			<button role="control" data-href="{{root}}xwax/{{xwax.cmd_launch}}/1" class="ajax-rqst btn btn-default btn-lg" title="start xwax">
			start xwax
			</button>
		</div>
		
		<div class="col-md-6">
			<button role="control" data-href="{{root}}xwax/{{xwax.cmd_kill}}/1" class="ajax-rqst btn btn-default btn-lg" title="exit xwax">
			exit xwax
			</button>
		</div>
		<hr /><br /><br /><br />
	</div>
	{% endif %}
     
	<div class="row">
		{% if modules.enable_xwax != '1' %}
			<div class="col-md-12 error">
			{{'xwax.notenabled'|ll}}
				
			</div>
		{% else %}
			{% set colidx = (xwax.decks > 3) ? 3 : 12/xwax.decks %}
	  		{% for i in 1..xwax.decks %}
	  		<div class="col-md-{{colidx}}" style="text-align: center;">
	  			<div class="row">
	  				<button role="control" data-href="{{root}}xwax/disconnect/{{i}}" class="ajax-rqst btn btn-default btn-lg" title="Send disconnect to xwax deck {{i}}">
						Disconnect {{i}}
					</button>
	  			</div>
	  			<div class="row">
	  				<button role="control" data-href="{{root}}xwax/reconnect/{{i}}" class="ajax-rqst btn btn-default btn-lg" title="Send reconnect to xwax deck {{i}}">
						Reconnect {{i}}
					</button>
	  			</div>
	  			<div class="row">
	  				<button role="control" data-href="{{root}}xwax/recue/{{i}}" class="ajax-rqst btn btn-default btn-lg" title="Send recue to xwax deck {{i}}">
						Recue {{i}}
					</button>
	  			</div>
	  			<div class="row">
	  				<button role="control" data-href="{{root}}xwax/cycle_timecode/{{i}}" class="ajax-rqst btn btn-default btn-lg" title="Cycle timecode on xwax deck {{i}}">
						Cycle TC {{i}}
					</button>
	  			</div>
	  		</div>
	  		{% endfor%}
	  	
	  	{% endif %}
	  	
	</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>