{# TODO: move modalsurrounding to partial #}
<div class="modal-body">	
    {% include 'partials/modal/close-button-top.htm' %}
    <div class="dark uc small darker-links">{% include 'partials/artist/linked-label.htm' %} - {{'albumtitle'|ll}}</div>
    <h3 class="nomargin">{% include 'partials/artist/link.htm' with { 'item': album } %} - {{album.title}}</h3>
    <div class="tinyfont dark darker-links">{% include 'partials/filebrowser/breadcrumb.htm' %}</div>
	<div class="row">
		<div class="col-md-12">
			<br class="row replace-me-with-proper-css" />
			<br class="row replace-me-with-proper-css" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>{{'playbackcontrol'|ll}}</h3>
			<button role="control" title="{{'pbctrl.append.title'|ll}}" class="btn btn-default player-ctrl" data-player='{"action":"appendDir", "mpdurl":"{{root}}mpdctrl/appendDir/{{ album.relPath|path2url }}"}' data-dismiss="modal">
				<i class="fa fa-plus"></i>
				{{'pbctrl.append'|ll}}
			</button>
			<br class="row replace-me-with-proper-css" />
			<br class="row replace-me-with-proper-css" />
			<button role="control" title="{{'pbctrl.appendandplay.title'|ll}}" class="btn btn-default player-ctrl" data-player='{"action":"appendDirAndPlay", "mpdurl":"{{root}}mpdctrl/appendDirAndPlay/{{ album.relPath|path2url }}"}' data-dismiss="modal">
				<i class="fa fa-plus"></i> <i class="fa fa-play"></i>
				{{'pbctrl.appendandplay'|ll}}
			</button>
			<br class="row replace-me-with-proper-css" />
			<br class="row replace-me-with-proper-css" />
			<button role="control" title="{{'pbctrl.clearandplay.title'|ll}}" class="btn btn-default player-ctrl" data-player='{"action":"replaceDir", "mpdurl":"{{root}}mpdctrl/replaceDir/{{ album.relPath|path2url }}"}' data-dismiss="modal">
				<i class="fa fa-trash"></i> <i class="fa fa-plus"></i> <i class="fa fa-play"></i>
				{{'pbctrl.clearandplay'|ll}}
			</button>
			<br class="row replace-me-with-proper-css" />
			<br class="row replace-me-with-proper-css" />
			<button role="control" title="{{'pbctrl.softclearandplay.title'|ll}}" class="btn btn-default player-ctrl" data-player='{"action":"softreplaceDir", "mpdurl":"{{root}}mpdctrl/softreplaceDir/{{ album.relPath|path2url }}"}' data-dismiss="modal">
				<i class="fa fa-trash"></i> <i class="fa fa-plus"></i> <i class="fa fa-play"></i>
				{{'pbctrl.softclearandplay'|ll}}
			</button>
			<br class="row replace-me-with-proper-css" />
			<br class="row replace-me-with-proper-css" />
			<button role="control" data-href="#" class="btn btn-default toggle-player" title="{{'pbctrl.toggleplayer.title'|ll}}">
				<i class="fa fa-exchange"></i> {{'pbctrl.toggleplayer'|ll}}
			</button>
		</div>

		<div class="col-md-4">
			<h3>{{'view'|ll}}</h3>
			<a class="ajax-link btn btn-default" href="{{root}}filebrowser/{{ album.relPath|path2url }}" title="{{'filebrowser'|ll}}" data-dismiss="modal">
				<i class="fa fa-lg fa-search"></i> {{'filebrowser'|ll}}
			</a>
		</div>

		<div class="col-md-4">
			<!--h3>{{'vote'|ll}}</h3-->
		</div>
	</div>
	<br class="row replace-me-with-proper-css" />
	<br class="row replace-me-with-proper-css" />
</div>
<div class="modal-footer">
    {% include 'partials/modal/close-button-bottom.htm' %}
</div>
