  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle sign"></i></span></button>
    
    <h3>XWAX Control</h3>
     
	<div class="row">
	
	
		{% if modules.enable_xwax != '1' %}
			<div class="col-md-12 error">
			{{'xwax.notenabled'|ll}}
				
			</div>
		{% else %}
			{% set colidx = (xwax.decks > 3) ? 3 : 12/xwax.decks %}
	  		{% for i in 1..xwax.decks %}
	  		<div class="col-md-{{colidx}}">
	  			<div class="row">
	  				<button role="control" data-href="/xwax/disconnect/{{i}}" class="ajax-rqst btn btn-default btn-lg" title="Send disconnect to xwax deck {{i}}">
						Disconnect {{i}}
					</button>
	  			</div>
	  			<div class="row">
	  				<button role="control" data-href="/xwax/reconnect/{{i}}" class="ajax-rqst btn btn-default btn-lg" title="Send reconnect to xwax deck {{i}}">
						Reconnect {{i}}
					</button>
	  			</div>
	  			<div class="row">
	  				<button role="control" data-href="/xwax/recue/{{i}}" class="ajax-rqst btn btn-default btn-lg" title="Send recue to xwax deck {{i}}">
						Recue {{i}}
					</button>
	  			</div>
	  			<div class="row">
	  				{% if xwax.deckstats[i-1].item %}
	  					{% set item = xwax.deckstats[i-1].item %}
	  					<div class="row">
	  					{% include 'partials/image.htm' with {
							'width': 300,
							'type': 'album',
							'itemId': item.albumId,
							'attrs': 'style="width: 300px; height: 300px; z-index:2;"'
						} %}
						</div>
	  					{% include 'partials/artist/link.htm' %}
	  					{% include 'partials/track/title.htm' with { 'titlestring': item.title, 'filepath': item.relativePath  } %}
	  				{% else %}
	  					<span class="label label-success">Deck is empty</span> 
	  				{% endif %}
	  			</div>
	  			</div>
	  		{% endfor%}
	  	
	  	{% endif %}
	  	

	</div>
	
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>