{% if modules.enable_xwax != '1' %}
	<div class="col-md-12 error xwax-mode-show">
	{{'xwax.notenabled'|ll}}
	</div>
{% else %}
	
	<div class="row player-xwax navbar-xwax navbar navbar-fixed-bottom xwax-mode-show no-connection bg-col4">
		<div class="row bg-col4">
			<div class="col-md-1">
				
			</div>
			<div class="col-md-10 xwax-decks">
				<div class="row xwax-gui">
					{% set colidx = (xwax.decks > 3) ? 3 : 12/xwax.decks %}
					{% for i in 1..xwax.decks %}
					<div class="col-md-{{colidx}}">
						<div class="row xwax-row xwax-deck-{{i-1}} bg-col4">
							<div class="show-no-connection">
								xwax connection failed
								
			
							</div>
						</div>
					</div>
					{% endfor%}
				</div>
			</div>
			<div class="col-md-1">
				<button role="control" data-href="{{root}}markup/widget-xwax" title="xwax controls" class="btn btn-default trigger-modal hide-no-connection">
					<i class="fa fa-plus"></i> xwaxctrl
				</button>
				<div class="show-no-connection">
					<button role="control" data-href="{{root}}xwax/{{xwax.cmd_launch}}/1" class="ajax-rqst btn btn-default btn-lg" title="start xwax">
						start xwax
					</button>
				</div>
			</div>
		</div>
	</div>
{% endif %}
	  	