<div class="row">
	<div class="col-md-4">
		<h3>{{'playbackcontrol'|ll}}</h3>
		<button role="control" title="{{'pbctrl.append.title'|ll}}" class="btn btn-default player-ctrl" data-player='{"action":"appendDir", "mpdurl":"{{root}}mpdctrl/appendDir/{{ album.relPath|path2url }}"}' data-dismiss="modal">
			<i class="fa fa-plus"></i>
			{{'pbctrl.append'|ll}}
		</button>
		<br class="row replace-me-with-proper-css" />
		<br class="row replace-me-with-proper-css" />
		<button role="control" title="{{'pbctrl.appendandplay.title'|ll}}" class="btn btn-default player-ctrl" data-player='{"action":"appendDirAndPlay", "mpdurl":"{{root}}mpdctrl/appendDirAndPlay/{{ album.relPath|path2url }}"}' data-dismiss="modal">
			<i class="fa fa-plus"></i> <i class="fa fa-play"></i>
			{{'pbctrl.appendandplay'|ll}}
		</button>
		<br class="row replace-me-with-proper-css" />
		<br class="row replace-me-with-proper-css" />
		<button role="control" title="{{'pbctrl.clearandplay.title'|ll}}" class="btn btn-default player-ctrl" data-player='{"action":"replaceDir", "mpdurl":"{{root}}mpdctrl/replaceDir/{{ album.relPath|path2url }}"}' data-dismiss="modal">
			<i class="fa fa-trash"></i> <i class="fa fa-plus"></i> <i class="fa fa-play"></i>
			{{'pbctrl.clearandplay'|ll}}
		</button>
		<br class="row replace-me-with-proper-css" />
		<br class="row replace-me-with-proper-css" />
		<button role="control" title="{{'pbctrl.softclearandplay.title'|ll}}" class="btn btn-default player-ctrl" data-player='{"action":"softreplaceDir", "mpdurl":"{{root}}mpdctrl/softreplaceDir/{{ album.relPath|path2url }}"}' data-dismiss="modal">
			<i class="fa fa-trash"></i> <i class="fa fa-plus"></i> <i class="fa fa-play"></i>
			{{'pbctrl.softclearandplay'|ll}}
		</button>
		<br class="row replace-me-with-proper-css" />
		<br class="row replace-me-with-proper-css" />
		<button role="control" data-href="#" class="btn btn-default toggle-player" title="{{'pbctrl.toggleplayer.title'|ll}}">
			<i class="fa fa-exchange"></i> {{'pbctrl.toggleplayer'|ll}}
		</button>
	</div>

	<div class="col-md-4">
		<h3>{{'view'|ll}}</h3>
		<a class="ajax-link btn btn-default" href="{{root}}filebrowser/{{ album.relPath|path2url }}" title="{{'filebrowser'|ll}}" data-dismiss="modal">
			<i class="fa fa-lg fa-search"></i> {{'filebrowser'|ll}}
		</a>
		{% if config.modules.enable_dirdownload %}
		<h3>{{'download'|ll}}</h3>
		<a href="{{root}}download-album/{{album.uid}}"
			class="btn btn-default"
			title="{{'caution'|ll|upper}}"
			data-content="{{'dirdownload.warning'|ll([config.modules.max_archivsize])}}"
			data-toggle="popover"
			data-trigger="hover"
			target="_blank">
			<i class="fa fa-download"></i> Directory <sup class="col2">ALPHA</sup>
		</a>
		{% endif %}
	</div>

	<div class="col-md-4">
		<h3>Maintenance</h3>
		<a class="ajax-link btn btn-default" href="{{root}}album/remigrate/{{ album.uid }}" title="do all the auto-correction/guessing stuff for tag attributes again" data-dismiss="modal">
			<i class="fa fa-lg fa-cog"></i> Re-migrate
		</a>
		<br class="row replace-me-with-proper-css" />
		<br class="row replace-me-with-proper-css" />
		<a class="ajax-link btn btn-default" href="{{root}}maintainance/albumdebug/{{ album.uid }}" title="edit album attributes" data-dismiss="modal">
			<i class="fa fa-lg fa-cog"></i> Edit Album
		</a>
	</div>
</div>