<!DOCTYPE html>
<html>
	<head>
		<title>sliMpd - {{'syscheck'|ll}}</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="HandheldFriendly" content="True">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    	
    	<link rel="shortcut icon" href="{{fileroot}}skin/default/img/favicon.png">
    	{% set cssfiles = [
    		'vendor-dist/twbs/bootstrap/dist/css/bootstrap.min.css',
    		'vendor-dist/components/font-awesome/css/font-awesome.min.css',
    		'vendor-dist/webfontkit/open-sans/open-sans.min.css',
			'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.css',
			'vendor-dist/rstacruz/nprogress/nprogress.css',
			'skin/default/fonts/SFDISPLAY/SFNSDisplay.css',
			'skin/default/css/layout.css',
			'skin/default/css/list.css',
			'skin/default/css/buttons.css',
			'skin/default/css/forms.css',
			'skin/default/css/lightbox.css',
			'skin/default/css/modal.css',
			'skin/default/css/nprogress.css',
			'skin/default/css/navbars.css',
			'skin/default/css/breadcrumb.css',
			'skin/default/css/widget-autocomplete.css',
			'skin/default/css/player/player.css'
		] %}
    	 
		{% for cssfile in cssfiles %}
		<link rel="stylesheet" type="text/css" media="all" href="{{fileroot}}{{cssfile}}" />
		{% endfor %}
		<link rel="stylesheet" type="text/css" media="all" href="{{root}}css/spotcolors.css" />
		{% if action == 'trackid3' %}
			<link rel="stylesheet" type="text/css" media="all" href="{{fileroot}}skin/default/css/getid3.css" />
			<link rel="stylesheet" type="text/css" media="all" href="{{root}}css/spotcolors.css" />
		{% endif %}
	</head>
	<body class="bg-col1 col1 {{ action == '404' ? 'rotate2' : '' }} spotcol-{{ playerMode == 'mpd' ? spotcolor.mpd : spotcolor.local }}">
		<div class="container">
			<nav class="navbar main-nav navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a id="logo" class="navbar-brand col2" href="{{root}}">{{config.logomarkup|raw}}</a>
					</div>
				    <ul class="nav navbar-nav">
						<li class="">
							<a href="{{root}}systemcheck" class="btn btn-default active">{{'syscheck.recheck'|ll}}</a>
						</li>
					</ul>
				</div>
					<div class="container-fluid" id="nprog-container"> </div>
			</nav>
			<div class="row">
  				<div class="col-md-12" id="main">

				<div class="main-content">
					{% if action == 'error' %}
						<h1>{{ config.logomarkup|raw }} Application Error</h1>
						<p>Maybe its time to report an error on <a class="col2" href="https://github.com/othmar52/slimpd/issues" target="_blank">https://github.com/othmar52/slimpd/issues</a></p>
						<h2>Details</h2>
						<div class="row">
							
							<div class="col-md-1"><strong>Url:</strong></div>
							<div class="col-md-11">{{url}}</div>
						</div>
						<div class="row">
							<div class="col-md-1"><strong>Message:</strong></div>
							<div class="col-md-11">{{errormessage}}</div>
						</div>
						<div class="row">
							<div class="col-md-1"><strong>File:</strong></div>
							<div class="col-md-11">{{file}}</div>
						</div>
						<div class="row">
							<div class="col-md-1"><strong>Line:</strong></div>
							<div class="col-md-11">{{line}}</div>
						</div>
						<div class="row">
							<div class="col-md-1"><strong>Trace:</strong></div>
							<div class="col-md-11">
								<button class="btn btn-default toggle-content" data-toggle="#errortrace" data-text1="show" data-text2="hide">
						  			<i class="fa fa-plus"></i> show
						  		</button>
								<pre id="errortrace" style="display:none;">{{tracestring|raw}}</pre>
							</div>
						</div>
						
					{% endif %}

					{% if action == 'trackid3' %}
						{% include 'modules/trackid3.htm' %}
					{% endif %}

					{% if action == 'systemcheck' %}
						{% include 'partials/systemcheck/layout.htm' %}
					{% endif %}

  				</div>
			</div>
		</div>
		
		<span id="top-link-block" class="hidden">
		    <a href="#t" class="btn btn-default">
		        <i class="glyphicon glyphicon-chevron-up"></i>
		    </a>
		</span><!-- /top-link-block -->
		
		<script type="text/javascript">
			var sliMpd = sliMpd || {};
			sliMpd.conf = {
				color: {
					mpd: {
						bodyclass: 'spotcol-{{ spotcolor.mpd }}',
						primary: '{{ colors[ spotcolor.mpd ]['1st'] }}',
						secondary: '{{ colors[ spotcolor.mpd ]['2nd'] }}',
						favicon: '{{ colors[ spotcolor.mpd ]['fav'] }}',
					},
					local: {
						bodyclass: 'spotcol-{{ spotcolor.local }}',
						primary: '{{ colors[ spotcolor.local ]['1st'] }}',
						secondary: '{{ colors[ spotcolor.local ]['2nd'] }}',
						favicon: '{{ colors[ spotcolor.local ]['fav'] }}',
					}
				},
				waveform: {
					barwidth: {{ waveform.barwidth }},
					gapwidth: {{ waveform.gapwidth }},
					mirrored: {{ waveform.mirrored }}
				},
				absRefPrefix: '{{ config.absRefPrefix }}',
				absFilePrefix: '{{ config.absFilePrefix }}'
			};
		</script>
		
		{% set jsfiles = [
    		'vendor-dist/components/jquery/jquery.min.js',
    		'vendor-dist/rstacruz/nprogress/nprogress.js',
			'vendor-dist/components/jqueryui/jquery-ui.min.js',
			'vendor-dist/twbs/bootstrap/dist/js/bootstrap.min.js',
			'vendor-dist/twbs/bootstrap/js/dropdown.js',
			'vendor-dist/twbs/bootstrap/js/tab.js',
			'vendor-dist/twbs/bootstrap/js/popover.js',
			'vendor-dist/twbs/bootstrap/js/collapse.js',
			'vendor-dist/twbs/bootstrap/js/tooltip.js',
			'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.js',
			'vendor-dist/happyworm/jplayer/dist/jplayer/jquery.jplayer.min.js',
			'vendor-dist/components/jquery-cookie/jquery.cookie.js',
			'vendor-dist/jeresig/jquery.hotkeys/jquery.hotkeys.js',
			'vendor-dist/johnkpaul/jquery-ajax-retry/dist/jquery.ajax-retry.min.js',
			'vendor-dist/mouse0270/bootstrap-notify/bootstrap-notify.min.js',
			'js/faviconxmod.js',
			'vendor-dist/greensock/GreenSock-JS/src/minified/TweenMax.min.js',
			'vendor-dist/components/underscore/underscore-min.js',
			'vendor-dist/components/backbone/backbone-min.js',
			'js/backbone-modules/abstract/AbstractView.js',
			'js/backbone-modules/NavbarView.js',
			'js/backbone-modules/ModalView.js',
			'js/backbone-modules/PageView.js',
			'js/backbone-modules/abstract/AbstractPlayer.js',
			'js/backbone-modules/LocalPlayer.js',
			'js/backbone-modules/MpdPlayer.js',
			'js/backbone-modules/XwaxView.js',
			'js/backbone-modules/XwaxPlayer.js',
			'js/backbone-modules/Router.js',
			'js/appless.js'
    		]
		%}
    	 
		{% for jsfile in jsfiles %}
		<script src="{{fileroot}}{{jsfile}}"></script>
		{% endfor %}
	</body>
</html>
