<!DOCTYPE html>
<html>
	<head>
		<title>{{ config.title }}</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="HandheldFriendly" content="True">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    	
    	<link rel="shortcut icon" href="{{fileroot}}skin/default/img/favicon.png">
    	{% set cssfiles = [
    		'vendor-dist/twbs/bootstrap/dist/css/bootstrap.min.css',
    		'vendor-dist/components/font-awesome/css/font-awesome.min.css',
    		'vendor-dist/webfontkit/open-sans/open-sans.min.css',
			'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.css',
			'vendor-dist/rstacruz/nprogress/nprogress.css',
			'skin/default/fonts/SFDISPLAY/SFNSDisplay.css',
			'skin/default/css/layout.css',
			'skin/default/css/list.css',
			'skin/default/css/buttons.css',
			'skin/default/css/forms.css',
			'skin/default/css/lightbox.css',
			'skin/default/css/modal.css',
			'skin/default/css/nprogress.css',
			'skin/default/css/navbars.css',
			'skin/default/css/breadcrumb.css',
			'skin/default/css/widget-autocomplete.css',
			'skin/default/css/player/player.css'
		] %}
    	 
		{% for cssfile in cssfiles %}
		<link rel="stylesheet" type="text/css" media="all" href="{{fileroot}}{{cssfile}}" />
		{% endfor %}
		<link rel="stylesheet" type="text/css" media="all" href="{{root}}css/spotcolors.css" />
	</head>
	<body class="bg-col1 col1 standalone vstretch14 spXXXotcol-{{ spotcolor.xwax }}">
		<div class="container-fluid">
				
			<div class="row player-xwax no-connection">
				{% set colidx = (xwax.decks > 3) ? 3 : 12/xwax.decks %}
				{% for i in 1..xwax.decks %}
				<div class="col-md-{{colidx}}">
					<div class="row xwax-row xwax-deck-{{i-1}}">
						<div class="show-no-connection">
							xwax connection failed
						</div>
					</div>
				</div>
				{% endfor%}
			</div>
		</div>
		<script type="text/javascript">
			var sliMpd = sliMpd || {};
			sliMpd.conf = {
				color: {
					mpd: {
						bodyclass: 'spotcol-{{ spotcolor.mpd }}',
						primary: '{{ colors[ spotcolor.mpd ]['1st'] }}',
						secondary: '{{ colors[ spotcolor.mpd ]['2nd'] }}',
						favicon: '{{ colors[ spotcolor.mpd ]['fav'] }}',
					},
					local: {
						bodyclass: 'spotcol-{{ spotcolor.local }}',
						primary: '{{ colors[ spotcolor.local ]['1st'] }}',
						secondary: '{{ colors[ spotcolor.local ]['2nd'] }}',
						favicon: '{{ colors[ spotcolor.local ]['fav'] }}',
					}
				},
				waveform: {
					barwidth: {{ waveform.barwidth }},
					gapwidth: {{ waveform.gapwidth }},
					mirrored: {{ waveform.mirrored }}
				},
				absRefPrefix: '{{ config.absRefPrefix }}',
				absFilePrefix: '{{ config.absFilePrefix }}'
			};
		</script>
		{% set jsfiles = [
    		'vendor-dist/components/jquery/jquery.min.js',
			'vendor-dist/components/jqueryui/jquery-ui.min.js',
			'vendor-dist/twbs/bootstrap/dist/js/bootstrap.min.js',
			'vendor-dist/twbs/bootstrap/js/dropdown.js',
			'vendor-dist/twbs/bootstrap/js/tab.js',
			'vendor-dist/twbs/bootstrap/js/popover.js',
			'vendor-dist/twbs/bootstrap/js/collapse.js',
			'vendor-dist/twbs/bootstrap/js/tooltip.js',
			'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.js',
			'vendor-dist/components/jquery-cookie/jquery.cookie.js',
			'vendor-dist/johnkpaul/jquery-ajax-retry/dist/jquery.ajax-retry.min.js',
			'vendor-dist/mouse0270/bootstrap-notify/bootstrap-notify.min.js',
			'vendor-dist/greensock/GreenSock-JS/src/minified/TweenMax.min.js',
			'vendor-dist/components/underscore/underscore-min.js',
			'vendor-dist/components/backbone/backbone-min.js',
			'js/backbone-modules/abstract/AbstractView.js',
			'js/backbone-modules/PageView.js',
			'js/backbone-modules/abstract/AbstractPlayer.js',
			'js/backbone-modules/XwaxView.js',
			'js/backbone-modules/XwaxPlayer.js',
			'js/backbone-modules/Router.js',
			'js/djscreen.js'
    		]
		%}
    	 
		{% for jsfile in jsfiles %}
		<script src="{{fileroot}}{{jsfile}}"></script>
		{% endfor %}		
	</body>
</html>
