{% if not nosurrounding %}<!DOCTYPE html>
<html>
	<head>
		<title>{{ config.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

		<link rel="shortcut icon" href="{{fileroot}}skin/default/img/favicon.png">
		{% set cssfiles = [
			'vendor-dist/twbs/bootstrap/dist/css/bootstrap.min.css',
			'vendor-dist/components/font-awesome/css/font-awesome.min.css',
			'vendor-dist/webfontkit/open-sans/open-sans.min.css',
			'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.css',
			'vendor-dist/rstacruz/nprogress/nprogress.css',
			'vendor-dist/codrops/BookBlock/css/bookblock.css',
			'skin/default/fonts/SFDISPLAY/SFNSDisplay.css',
			'skin/default/css/layout.css',
			'skin/default/css/list.css',
			'skin/default/css/buttons.css',
			'skin/default/css/forms.css',
			'skin/default/css/lightbox.css',
			'skin/default/css/nprogress.css',
			'skin/default/css/navbars.css',
			'skin/default/css/breadcrumb.css',
			'skin/default/css/bookblock.css',
			'skin/default/css/widget-autocomplete.css',
			'skin/default/css/player/player.css'
		] %}

		{% for cssfile in cssfiles %}
		<link rel="stylesheet" type="text/css" media="all" href="{{fileroot}}{{cssfile}}" />
		{% endfor %}
		<link rel="stylesheet" type="text/css" media="all" href="{{root}}css/spotcolors.css" />
		{# add dynamic css for now-playing status #}
		<link rel="stylesheet" type="text/css" id="css-localplayer" href="{{root}}css/localplayer/0" />
		<link rel="stylesheet" type="text/css" id="css-mpdplayer" href="{{root}}css/mpdplayer/0" />
		{# TODO: find a better way to highlight deck-tracks for any amount of decks #}
		{% for deck in [0,1,2,3] %}
		<link rel="stylesheet" type="text/css" id="css-xwaxdeck-{{deck}}" href="{{root}}css/xwaxplayer/0" />
		{% endfor %}
		<script src="{{fileroot}}vendor-dist/codrops/BookBlock/js/modernizr.custom.js"></script>
	</head>
	<body class="bg-col1 col1 {{ action == '404' ? 'rotate2' : '' }} spotcol-{{ playerMode == 'mpd' ? spotcolor.mpd : spotcolor.local }}">
		<div class="container">
			{% include 'modules/header-menu.htm' %}
			<div class="row">
				<div class="col-md-12 fade-start" id="main">
{% endif %}
				<div class="main-content">
					{% include 'modules/errorbox.htm' %}

					{% for type in ['genre', 'artist', 'label'] %}
						{% if action == 'library.'~type~'s' %}
							{% include 'modules/typelist.htm' %}
						{% endif %}

						{% if action == type~'.tracks' %}
							{% include 'modules/typelist-nav.htm' %}
							{% include 'modules/searchresult-items.htm' with { dropdown: 'typelist' } %}
						{% endif %}

						{% if action == type~'.albums' %}
							{% include 'modules/typelist-nav.htm' %}
							{% include 'modules/searchresult-items.htm' with { dropdown: 'typelist' } %}
						{% endif %}
					{% endfor%}

					{% if action == 'maintainance.trackdebug' %}
						{% include 'modules/trackdebug.htm' %}
					{% endif %}

					{% if action == 'maintainance.albumdebug' %}
						{% include 'modules/albumdebug.htm' %}
					{% endif %}

					{% if action == 'landing' %}

					<div class="container">
						<h2>Browse</h2>
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail bg-col2">
									<a href="{{root}}artists/page/1" class="genre-link item-link ajax-link bg-col2 ">
										<div class="caption centered-text">{{'artists'|ll}}</div>
									</a>
								</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail bg-col2">
									<a href="{{root}}albums/page/1" class="genre-link item-link ajax-link bg-col2 ">
										<div class="caption centered-text">{{'albums'|ll}}</div>
									</a>
								</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail bg-col2">
									<a href="{{root}}labels/page/1" class="genre-link item-link ajax-link bg-col2 ">
										<div class="caption centered-text">{{'labels'|ll}}</div>
									</a>
								</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail bg-col2">
									<a href="{{root}}genres/page/1" class="genre-link item-link ajax-link bg-col2 ">
										<div class="caption centered-text">{{'genres'|ll}}</div>
									</a>
								</div>
							</div>
						</div>
						<h2>Recently added Albums</h2>
						{% include 'modules/albumlist.htm' with { 'itemlist': itemlist } %}
					</div>
					{% endif %}

					{% if action == 'playlists' %}
						{% include 'modules/playlists.htm' %}
					{% endif %}

					{% if action == 'showplaylist' %}
						{% include 'modules/playlist.htm' %}
					{% endif %}

					{% if action == 'filebrowser' %}
						<div class="filebrowser">
						{% include 'partials/filebrowser/layout.htm' %}
						</div>
					{% endif %}

					{% if action == 'library.year' %}
						<h2 title="id:{{ item.id }} az09:{{ item.az09 }}">YEAR: {{ item.title }}</h2>
						{% include 'modules/albumlist.htm' with { 'itemlist': albumlist } %}
					{% endif %}

					{% if action == 'library.albums' %}
						<h2 title="id:{{ item.id }} az09:{{ item.az09 }}">Albums (work in progress)</h2>
						{% include 'modules/albumlist.htm' with { 'itemlist': itemlist } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}

					{% if action == 'importer' %}
						{% include 'modules/importer.htm' %}
					{% endif %}

					{% if action == '404' %}
						{% include 'modules/404.htm' %}
					{% endif %}

					{% if action == 'album.detail' %}
						{% include 'partials/album/layout-detailview.htm' %}
					{% endif %}

					{% if action == 'albumtracks' %}
						{% for item in itemlist %}
							{% include 'partials/trackrow-albumview.htm' %}
						{% endfor %}
					{% endif %}

					{% if action == 'playlist' %}
						<h2>{{'currentlyplaying'|ll}}</h2>
						{% if item.relativePath %}
							{% include 'modules/nowplaying-track.htm' %}
						{% else %}
							{% include 'partials/track/no-track-selected-badge.htm' %}
						{% endif %}
						{% include 'modules/nowplaying-list.htm' %}
					{% endif %}

					{% if action == 'searchresult.all' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'all', youtubechunk:'music' } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}

					{% if action == 'searchresult.track' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'track', youtubechunk:'song'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}

					{% if action == 'searchresult.album' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'album', youtubechunk:'music album'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}

					{% if action == 'searchresult.artist' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'artist', youtubechunk:'music artist'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}

					{% if action == 'searchresult.label' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'label', youtubechunk:'music label'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}

					{% if action == 'searchresult.genre' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'genre', youtubechunk:'music genre'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}

					{% if action == 'searchresult.dirname' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'dirname', youtubechunk:''  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}

					{% if action == 'directorytracks' %}
						{% include 'modules/directorytracks.htm' %}
					{% endif %}

					</div>
{% if not nosurrounding %}
				</div>
			</div>
		</div>

		{% include 'modules/xwaxgui.htm'%}

		<div id="jquery_jplayer_1" class="jp-jplayer"></div>
		<div class="row permaplayer player-local bg-col4 navbar-fixed-bottom fade-start {{ (playerMode == 'mpd') ? 'hidden' : '' }}">
			{% include 'partials/player/permaplayer.htm' with {'player': 'local'} %}
		</div>

		<div class="row permaplayer player-mpd bg-col4 navbar-fixed-bottom fade-start {{ (playerMode == 'local') ? 'hidden' : '' }}">
			{% include 'partials/player/permaplayer.htm' with {'player': 'mpd'} %}
		</div>

		<div class="fileModeToggle" {# TODO: create button instead of anchor #}>
			<a href="#toggleFilenameMode()" title="toggle filename mode"><i class='fa fa-toggle-off fa-lg'></i></a>
		</div>

		<div class="systemcheck">
			<a href="{{root}}systemcheck" title="systemcheck"><i class='fa fa-cog fa-lg'></i></a>
		</div>

		<span id="top-link-block" class="hidden">
			<a href="#t" class="btn btn-default">
				<i class="glyphicon glyphicon-chevron-up"></i>
			</a>
		</span><!-- /top-link-block -->

		<!-- Modal -->
		<div class="modal fade" id="global-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content bg-col1">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Modal title</h4>
					</div>
					<div class="modal-body">
						...{# ajax-loaded markup will be placed here #}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var sliMpd = sliMpd || {};
			sliMpd.conf = {
				color: {
					mpd: {
						bodyclass: 'spotcol-{{ spotcolor.mpd }}',
						primary: '{{ colors[ spotcolor.mpd ]['1st'] }}',
						secondary: '{{ colors[ spotcolor.mpd ]['2nd'] }}',
						favicon: '{{ colors[ spotcolor.mpd ]['fav'] }}',
					},
					local: {
						bodyclass: 'spotcol-{{ spotcolor.local }}',
						primary: '{{ colors[ spotcolor.local ]['1st'] }}',
						secondary: '{{ colors[ spotcolor.local ]['2nd'] }}',
						favicon: '{{ colors[ spotcolor.local ]['fav'] }}',
					}
				},
				waveform: {
					barwidth: {{ waveform.barwidth }},
					gapwidth: {{ waveform.gapwidth }},
					mirrored: {{ waveform.mirrored }}
				},
				absRefPrefix: '{{ config.absRefPrefix }}',
				absFilePrefix: '{{ config.absFilePrefix }}'
			};
		</script>

		{% set jsfiles = [
			'vendor-dist/components/jquery/jquery.min.js',
			'vendor-dist/rstacruz/nprogress/nprogress.js',
			'vendor-dist/components/jqueryui/jquery-ui.min.js',
			'vendor-dist/twbs/bootstrap/dist/js/bootstrap.min.js',
			'vendor-dist/twbs/bootstrap/js/dropdown.js',
			'vendor-dist/twbs/bootstrap/js/tab.js',
			'vendor-dist/twbs/bootstrap/js/popover.js',
			'vendor-dist/twbs/bootstrap/js/collapse.js',
			'vendor-dist/twbs/bootstrap/js/tooltip.js',
			'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.js',
			'vendor-dist/happyworm/jplayer/dist/jplayer/jquery.jplayer.min.js',
			'vendor-dist/components/jquery-cookie/jquery.cookie.js',
			'vendor-dist/jeresig/jquery.hotkeys/jquery.hotkeys.js',
			'vendor-dist/johnkpaul/jquery-ajax-retry/dist/jquery.ajax-retry.min.js',
			'vendor-dist/mouse0270/bootstrap-notify/bootstrap-notify.min.js',
			'js/faviconxmod.js',
			'vendor-dist/greensock/GreenSock-JS/src/minified/TweenMax.min.js',
			'vendor-dist/codrops/BookBlock/js/jquerypp.custom.js',
			'vendor-dist/codrops/BookBlock/js/jquery.bookblock.min.js',
			'vendor-dist/components/underscore/underscore-min.js',
			'vendor-dist/components/backbone/backbone-min.js',
			'js/backbone-modules/abstract/AbstractView.js',
			'js/backbone-modules/NavbarView.js',
			'js/backbone-modules/ModalView.js',
			'js/backbone-modules/PageView.js',
			'js/backbone-modules/abstract/AbstractPlayer.js',
			'js/backbone-modules/LocalPlayer.js',
			'js/backbone-modules/MpdPlayer.js',
			'js/backbone-modules/XwaxView.js',
			'js/backbone-modules/XwaxPlayer.js',
			'js/backbone-modules/Router.js',
			'js/app.js'
			]
		%}

		{% for jsfile in jsfiles %}
		<script src="{{fileroot}}{{jsfile}}"></script>
		{% endfor %}
	</body>
</html>
{% endif %}
