{% if not nosurrounding %}<!DOCTYPE html>
<html>
	<head>
		<title>{{ config.title }}</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="HandheldFriendly" content="True">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    	
    	<link rel="shortcut icon" href="{{ config.absRefPrefix }}skin/default/img/favicon.png">
    	<link rel="apple-touch-icon-precomposed" sizes="122x122" href="{{ config.absRefPrefix }}assets/images/icons/app-icon.png" />
    	{% set cssfiles = [
    		'vendor/twbs/bootstrap/dist/css/bootstrap.min.css',
    		'vendor/components/font-awesome/css/font-awesome.min.css',
    		'vendor/webfontkit/open-sans/open-sans.min.css',
			'vendor/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.css',
			'skin/default/lightbox.css',
			'skin/default/typicons_.css',
			'skin/default/bootstrap-same-height-col.css',
			'skin/default/bootstrap-jqueryui-autocomplete.css',
			'skin/default/styles.css'
    		]
		%}
    	 
		{% for cssfile in cssfiles %}
		<link rel="stylesheet" type="text/css" media="all" href="{{ config.absRefPrefix }}{{cssfile}}" />
		{% endfor %}		
		{# add dynamic css for now-playing status #}
		<link rel="stylesheet" type="text/css" id="css-localplayer" href="{{ config.absRefPrefix }}css/localplayer/0" />
		<link rel="stylesheet" type="text/css" id="css-mpdplayer" href="{{ config.absRefPrefix }}css/mpdplayer/0" />
	</head>
	<body class="bg-col1 col1 {{ action == '404' ? 'rotate2' : '' }} ">
		<div class="container">
			
			{% include 'modules/header-menu.htm' %}
			<div class="row">
  				<div class="col-md-12" id="main">
{% endif %}
				<div class="main-content">
					{% include 'modules/errorbox.htm' %}
					
					
					{% for type in ['genre', 'artist', 'label'] %}
						{% if action == 'library.'~type~'s' %}
							{% include 'modules/typelist.htm' %}
						{% endif %}
						
						
						{% if action == 'library.'~type %}
							<h2 title="id:{{ item.id }} az09:{{ item.az09 }}">
								<a href="/library/{{type}}/{{ item.id-1 }}" data-ajaxtarget="#main" class="ajax-link"><i id="iconSearchToggler" class="fa fa-chevron-left fa-lg"></i></a>
								<span class="small"><a href="/library/{{type}}s/page/1" data-ajaxtarget="#main" class="ajax-link">{{ type~'s' }}</a></span>
								<a href="/library/{{type}}/{{ item.id+1 }}" data-ajaxtarget="#main" class="ajax-link"><i id="iconSearchToggler" class="fa fa-chevron-right fa-lg"></i></a>
								{{ item.title }} </h2>
							{% include 'modules/albumlist2.htm' with { 'itemlist': albumlist } %}
							{% include 'partials/tracklist-1.htm' %}
							
							
						{% endif %}
					
					
					{% endfor%}				
					
					{% if action == 'maintainance.trackdebug' %}
					{% include 'modules/trackdebug.htm' %}
					{% endif %}
					
					{% if action == 'maintainance.albumdebug' %}
					{% include 'modules/albumdebug.htm' %}
					{% endif %}
					
					{% if action == 'landing' %}
					
					<div class="container">
						<div class="row">
					  
					      <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a href="/library/genres/page/1" class="link-tile bg-col2">{{'genres'|ll}}</a>
					      </div>
					      <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a href="/library/labels/page/1" class="link-tile bg-col2">{{'labels'|ll}}</a>
					      </div>
					      <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a href="/library/artists/page/1" class="link-tile bg-col2">{{'artists'|ll}}</a>
						   </div>
					       <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a href="#/library/albums/page/1" class="link-tile bg-col2">{{'albums'|ll}}</a>
						   </div>
					       
					      
					  	</div>
					</div>
					{% endif %}
					
					{% if action == 'filebrowser' %}
						{% include 'modules/filebrowser.htm' %}
					{% endif %}
	
					
					{% if action == 'library.year' %}
						<h2 title="id:{{ item.id }} az09:{{ item.az09 }}">YEAR: {{ item.title }}</h2>
						{% include 'modules/albumlist.htm' with { 'itemlist': albumlist } %}
					{% endif %}
					
					{% if action == 'importer' %}
						{% include 'modules/importer.htm' %}
					{% endif %}
					
					
					{% if action == '404' %}
						{% include 'modules/404.htm' %}
					{% endif %}
					
					
					
					{% if action == 'album.detail' %}
						{% include 'album.htm' %}
					{% endif %}
					
					{% if action == 'albumtracks' %}
						{% for item in itemlist %}
							{% include 'partials/trackrow-albumview.htm' %}
						{% endfor %}
					{% endif %}
					
					{% if action == 'playlist' %}
						{% include 'modules/nowplaying-track.htm' %}
						{% include 'modules/nowplaying-list.htm' %}
					{% endif %}
					
					
					{% if action == 'searchresult.all' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'all', youtubechunk:'music' } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}
					
					{% if action == 'searchresult.track' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'track', youtubechunk:'song'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}
					
					{% if action == 'searchresult.album' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'album', youtubechunk:'music album'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}
					
					{% if action == 'searchresult.artist' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'artist', youtubechunk:'music artist'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}
					
					{% if action == 'searchresult.label' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'label', youtubechunk:'music label'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}
					
					{% if action == 'searchresult.genre' %}
						{% include 'modules/searchresult-nav.htm' with { 'searchcurrent' : 'genre', youtubechunk:'music genre'  } %}
						{% include 'modules/searchresult-items.htm' %}
					{% endif %}
					
					</div>
					
{% if not nosurrounding %}
  				</div>
			</div>
		</div>
		<div id="jquery_jplayer_1" class="jp-jplayer"></div>
		<div class="row permaplayer player-local bg-col4 navbar-fixed-bottom" {{ (playerMode == 'mpd') ? 'style="display: none;"' : '' }}>
			{% include 'modules/localplayer.htm'%}
		</div>
		
		<div class="row permaplayer player-mpd bg-col4 navbar-fixed-bottom" {{ (playerMode == 'local') ? 'style="display: none;"' : '' }}>
			{% include 'modules/mpdplayer.htm'%}
		</div>
		
		<div class="playerModeToggle" style="position: fixed; left: 10px; bottom: 10px; z-index: 2000;">
			<a type="button" href="#" class="btn active-{{ playerMode }}"
			data-label-local="<i class='fa fa-map-marker fa-lg'></i> Local"
			data-label-mpd="<i class='fa fa-cloud fa-lg'></i> MPD" >
			  <i class='fa fa-map-marker fa-lg'></i> {{ (playerMode == 'local') ? 'Local' : 'MPD' }}
			</a>
		</div>
	    
		
		
		
		
		<a href class="to-top"></a>
		
		
		
		
		<!-- Modal -->
		<div class="modal fade" id="global-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content bg-col1">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      </div>
		      <div class="modal-body">
		        ...{# ajax-loaded markup will be placed here #}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		{% set jsfiles = [
    		'vendor/components/jquery/jquery.min.js',
			'vendor/components/jqueryui/jquery-ui.min.js',
			'vendor/twbs/bootstrap/dist/js/bootstrap.min.js',
			'vendor/twbs/bootstrap/js/dropdown.js',
			'vendor/twbs/bootstrap/js/tab.js',
			'vendor/twbs/bootstrap/js/popover.js',
			'vendor/twbs/bootstrap/js/collapse.js',
			'vendor/twbs/bootstrap/js/tooltip.js',
			'vendor/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.js',
			'vendor/happyworm/jplayer/dist/jplayer/jquery.jplayer.min.js',
			'vendor/components/jquery-cookie/jquery.cookie.js',
			'js/faviconxmod.js',
			'vendor/components/greensock-js/greensock-js-built.js',
			'vendor/components/underscore/underscore-min.js',
			'vendor/components/backbone/backbone-min.js',
			'js/backbone-modules/abstract/AbstractView.js',
			'js/backbone-modules/NavbarView.js',
			'js/backbone-modules/ModalView.js',
			'js/backbone-modules/PageView.js',
			'js/backbone-modules/abstract/AbstractPlayer.js',
			'js/backbone-modules/LocalPlayer.js',
			'js/backbone-modules/MpdPlayer.js',
			'js/backbone-modules/Router.js',
			'js/app.js'
    		]
		%}
    	 
		{% for jsfile in jsfiles %}
		<script src="{{ config.absRefPrefix }}{{jsfile}}"></script>
		{% endfor %}		
	</body>
</html>
{% endif %}
