<!DOCTYPE html>
<html>
	<head>
		<title>sliMpd - {{'syscheck'|ll}}</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="HandheldFriendly" content="True">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    	
    	<link rel="shortcut icon" href="{{root}}skin/default/img/favicon.png">
    	<link rel="apple-touch-icon-precomposed" sizes="122x122" href="{{root}}assets/images/icons/app-icon.png" />
    	{% set cssfiles = [
    		'vendor-dist/twbs/bootstrap/dist/css/bootstrap.min.css',
    		'vendor-dist/components/font-awesome/css/font-awesome.min.css',
    		'vendor-dist/webfontkit/open-sans/open-sans.min.css',
			'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.css',
			'vendor-dist/rstacruz/nprogress/nprogress.css',
			'skin/default/fonts/SFDISPLAY/SFNSDisplay.css',
			'skin/default/lightbox.css',
			'skin/default/typicons_.css',
			'skin/default/bootstrap-same-height-col.css',
			'skin/default/bootstrap-jqueryui-autocomplete.css',
			'skin/default/styles.css',
			'skin/default/player.css',
			'skin/default/nprogress.css',
			'skin/default/breadcrumb.css',
			'skin/default/fullwidth-bg-row.css',
			'css/spotcolors.css'
    		]
		%}
    	 
		{% for cssfile in cssfiles %}
		<link rel="stylesheet" type="text/css" media="all" href="{{root}}{{cssfile}}" />
		{% endfor %}		
	</head>
	<body class="bg-col1 col1 {{ action == '404' ? 'rotate2' : '' }} spotcol-{{ playerMode == 'mpd' ? spotcolor.mpd : spotcolor.local }}">
		<div class="container">
			<nav class="navbar main-nav navbar-fixed-top" style="background-color: #353535">
				<div class="container-fluid">
					<div class="navbar-header">
						<a id="logo" class="navbar-brand col2" href="{{root}}">{{config.logomarkup|raw}}</a>
					</div>
				    <ul class="nav navbar-nav">
						<li class="">
							<a href="{{root}}systemcheck" class="btn btn-default active">{{'syscheck.recheck'|ll}}</a>
						</li>
					</ul>
				</div>
					<div class="container-fluid" id="nprog-container"> </div>
			</nav>
			<div class="row">
  				<div class="col-md-12" id="main">

				<div class="main-content">

					<h1>{{'syscheck.fs'|ll}}</h1>
					<ul class="list-group">
						{% for test in ['fsMusicdirconf', 'fsMusicdirslash', 'fsMusicdir', 'fsCache', 'fsEmbedded', 'fsPeakfiles'] %}
						{% if not sys[test].hide %}
						<li class="list-group-item list-group-item-{{sys[test].status}}">
							<h4 class="uc">
								{% include 'partials/systemcheck/icon-'~sys[test].status~'.htm' %}
								{{['syscheck.',test]|join|ll}}</h4>
							{% if sys[test].skip %}
								{% include 'partials/systemcheck/fs/'~test~'-skipped.htm' %}
							{% else %}
								{% include 'partials/systemcheck/fs/'~test~'-'~sys[test].status~'.htm' %}
							{% endif %}
						</li>
						{% endif %}
						{% endfor %}
					</ul>
					
					<h1>{{'syscheck.db'|ll}}</h1>
					<ul class="list-group">
						{% for test in ['dbConn', 'dbPerms', 'dbSchema', 'dbContent'] %}
						{% if not sys[test].hide %}
						<li class="list-group-item list-group-item-{{sys[test].status}}">
							<h4 class="uc">
								{% include 'partials/systemcheck/icon-'~sys[test].status~'.htm' %}
								{{['syscheck.',test]|join|ll}}</h4>
							{% if sys[test].skip %}
								{% include 'partials/systemcheck/db/'~test~'-skipped.htm' %}
							{% else %}
								{% include 'partials/systemcheck/db/'~test~'-'~sys[test].status~'.htm' %}
							{% endif %}
						</li>
						{% endif %}
						{% endfor %}
					</ul>
					
					<h1>{{'syscheck.mpd'|ll}}</h1>
					<ul class="list-group">
						{% for test in ['mpdConn', 'mpdDbfileconf', 'mpdDbfile'] %}
						{% if not sys[test].hide %}
						<li class="list-group-item list-group-item-{{sys[test].status}}">
							<h4 class="uc">
								{% include 'partials/systemcheck/icon-'~sys[test].status~'.htm' %}
								{{['syscheck.',test]|join|ll}}</h4>
							{% if sys[test].skip %}
								{% include 'partials/systemcheck/mpd/'~test~'-skipped.htm' %}
							{% else %}
								{% include 'partials/systemcheck/mpd/'~test~'-'~sys[test].status~'.htm' %}
							{% endif %}
						</li>
						{% endif %}
						{% endfor %}
					</ul>
					
					
					<h1>{{'syscheck.sx'|ll}}</h1>
					<ul class="list-group">
						{% for test in ['sxConn', 'sxSchema', 'sxContent'] %}
						{% if not sys[test].hide %}
						<li class="list-group-item list-group-item-{{sys[test].status}}">
							<h4 class="uc">
								{% include 'partials/systemcheck/icon-'~sys[test].status~'.htm' %}
								{{['syscheck.',test]|join|ll}}</h4>
							{% if sys[test].skip %}
								{{'syscheck.skipped'|ll}}
							{% else %}
								{% include 'partials/systemcheck/sx/'~test~'-'~sys[test].status~'.htm' %}
							{% endif %}
						</li>
						{% endif %}
						{% endfor %}
					</ul>
					
					<h1>{{'syscheck.wf'|ll}}</h1>
					<ul class="list-group">
						{% if not sys.skipAudioTests %}
						{% for filetype in sys.audioFormatsUc %}
						{% for fingerprintWaveform in ['fp', 'wf'] %}
						{% set test = fingerprintWaveform~filetype %}
						{% if not sys[test].hide %}
						<li class="list-group-item list-group-item-{{sys[test].status}}">
							<h4 class="uc">
								{% include 'partials/systemcheck/icon-'~sys[test].status~'.htm' %}
								{{['syscheck.',fingerprintWaveform, 'All']|join|ll(filetype)|raw}}
								
							{% if sys[test].skip %}
							</h4>
								{{'syscheck.skipped'|ll}}
							{% else %}
							{% if (fingerprintWaveform == 'wf') and  sys[test].status == 'success' %}
							<object style="    width: 62px;
    height: 38px;
    display: inline;
    position: absolute;
    right: 200px;" class="waveform" data="{{root}}audiosvg/width/5000/{{ sys[test].filepath }}?color=3" type="image/svg+xml"></object>
							{% endif %}
							<button class="btn btn-default toggle-content pull-right" data-toggle="#check-{{test}}" data-text1="show more" data-text2="show less">
  								show more
  							</button>
  							</h4>
  							<div id="check-{{test}}" style="display:none;">
								executed command
								<pre>{{sys[test].cmd}}</pre>
								
								{% if fingerprintWaveform == 'fp' %}
								<div class="row">
									<div class="col-md-6">
										expected result <pre>{{sys[test].resultExpected}}</pre>
									</div>
									<div class="col-md-6">
										your system <pre>{{sys[test].resultReal}}</pre>
									</div>
								</div>
								{% endif %}
								{% if sys[test].status == 'success' %}
									{{['syscheck.',test, '.success']|join|ll}}
								{% else %}
								{% include 'partials/systemcheck/waveforms/'~test~'-'~sys[test].status~'.htm' %}
								{% endif %}
								
							</div>
							{% endif %}
						</li>
						{% endif %}
						{% endfor %}
						{% endfor %}
						{% else %}
							<li class="list-group-item list-group-item-warning">
								{% include 'partials/systemcheck/icon-warning.htm' %}
								{{'syscheck.skipped'|ll}}
							</li>
						{% endif %}
					</ul>
					
					<h1>Environment</h1>
					<h6>TODO: check if php-pdo is enabled (if (class_exists('PDO')) )</h6>
					<h6>TODO: check locale settings to avoid errors caused by specialchars</h6>
					
					
					
					<h1>Xwax</h1>
					<h6>TODO: check connection</h6>

  				</div>
			</div>
		</div>
		
		<span id="top-link-block" class="hidden">
		    <a href="#t" class="btn btn-default">
		        <i class="glyphicon glyphicon-chevron-up"></i>
		    </a>
		</span><!-- /top-link-block -->
		
		<script type="text/javascript">
			var sliMpd = sliMpd || {};
			sliMpd.conf = {
				color: {
					mpd: {
						bodyclass: 'spotcol-{{ spotcolor.mpd }}',
						primary: '{{ colors[ spotcolor.mpd ]['1st'] }}',
						secondary: '{{ colors[ spotcolor.mpd ]['2nd'] }}',
						favicon: '{{ colors[ spotcolor.mpd ]['fav'] }}',
					},
					local: {
						bodyclass: 'spotcol-{{ spotcolor.local }}',
						primary: '{{ colors[ spotcolor.local ]['1st'] }}',
						secondary: '{{ colors[ spotcolor.local ]['2nd'] }}',
						favicon: '{{ colors[ spotcolor.local ]['fav'] }}',
					}
				},
				waveform: {
					barwidth: {{ waveform.barwidth }},
					gapwidth: {{ waveform.gapwidth }},
					mirrored: {{ waveform.mirrored }}
				}
			};
		</script>
		
		{% set jsfiles = [
    		'vendor-dist/components/jquery/jquery.min.js',
    		'vendor-dist/rstacruz/nprogress/nprogress.js',
			'vendor-dist/components/jqueryui/jquery-ui.min.js',
			'vendor-dist/twbs/bootstrap/dist/js/bootstrap.min.js',
			'vendor-dist/twbs/bootstrap/js/dropdown.js',
			'vendor-dist/twbs/bootstrap/js/tab.js',
			'vendor-dist/twbs/bootstrap/js/popover.js',
			'vendor-dist/twbs/bootstrap/js/collapse.js',
			'vendor-dist/twbs/bootstrap/js/tooltip.js',
			'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.js',
			'vendor-dist/happyworm/jplayer/dist/jplayer/jquery.jplayer.min.js',
			'vendor-dist/components/jquery-cookie/jquery.cookie.js',
			'vendor-dist/jeresig/jquery.hotkeys/jquery.hotkeys.js',
			'vendor-dist/johnkpaul/jquery-ajax-retry/dist/jquery.ajax-retry.min.js',
			'vendor-dist/mouse0270/bootstrap-notify/bootstrap-notify.min.js',
			'js/faviconxmod.js',
			'vendor-dist/components/greensock-js/greensock-js-built.js',
			'vendor-dist/components/underscore/underscore-min.js',
			'vendor-dist/components/backbone/backbone-min.js',
			'js/backbone-modules/abstract/AbstractView.js',
			'js/backbone-modules/NavbarView.js',
			'js/backbone-modules/ModalView.js',
			'js/backbone-modules/PageView.js',
			'js/backbone-modules/abstract/AbstractPlayer.js',
			'js/backbone-modules/LocalPlayer.js',
			'js/backbone-modules/MpdPlayer.js',
			'js/backbone-modules/XwaxView.js',
			'js/backbone-modules/XwaxPlayer.js',
			'js/backbone-modules/Router.js',
			'js/systemcheck.js'
    		]
		%}
    	 
		{% for jsfile in jsfiles %}
		<script src="{{root}}{{jsfile}}"></script>
		{% endfor %}
	</body>
</html>
