{% if item.audioDataFormat == 'flac' %}<span class="label label-success">FLAC</span>{% endif %}
{% if item.audioDataFormat == 'wav' %}<span class="label label-success">WAV</span>{% endif %}
{% if item.audioDataFormat == 'wma' %}<span class="label label-danger">WMA</span>{% endif %}
{% if item.audioDataFormat == 'ac3' %}<span class="label label-danger">AC3</span>{% endif %}
{% if item.audioDataFormat == 'mp3' %}
	{% if item.audioBitrate == 128000 %}
		<span class="label label-danger">128k</span>
	{% endif %}
	{% if item.audioBitrate == 160000 %}
		<span class="label label-warning">160k</span>
	{% endif %}
{% endif %}