{% if hotlinks %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Hotlinks</h4>
		</div>
	</div>
	{% for item in hotlinks %}
	<div class="{{ cycle(['','fw-bg'],loop.index) }}">
		<div class="row item-row mouseover" id="track{{ loop.index }}">
			<div class="col-md-12">
				{% include 'partials/filebrowser/breadcrumb.htm' with {breadcrumb:item} %}
			</div>
		</div>
	</div>
	{% endfor %}
{% else %}
	<div class="row">
		{{dump(directory)}}
		<div class="col-md-12">
			{% if hideQuicknav != '1' %}
			{% include 'partials/filebrowser/directory-quicknav.htm' with {breadcrumb:item} %}
			
			<span class="replace-me-with-proper-css">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			
			<button role="control" data-href="{{root}}markup/widget-directory/{{ directory|path2url }}" title="{{ 'filebrowser.diroptions'|ll }}" class="btn btn-trnsp trigger-modal col2">
				<span class="fa-stack">
					<i class="fa fa-circle-thin fa-stack-2x col2"></i>
					<i class="fa fa-plus fa-stack-1x fa-inverse col2"></i>
				</span>
				{{ 'filebrowser.diroptions'|ll }}
			</button>
			{% endif %}
			<span class="filebrowser-filter pull-right darker-links">
				<ul class="nav nav-pills type-nav">
					<li class="{{ (filter == '') ? 'active' : '' }}"> 
						<a href="{{root}}filebrowser/{{ directory|path2url }}" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.all.t'|ll }}">
							{{ 'filebrowser.all'|ll }}
						</a>
					</li>
					<li class="{{ (filter == 'dirs') ? 'active' : '' }} {{ (subDirectories.total == 0) ? 'disabled' : '' }}"> 
						<a href="{{root}}filebrowser/{{ directory|path2url }}?filter=dirs&page=1" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.dirs.t'|ll }}">
							{{ 'filebrowser.dirs'|ll }} <span class="badge">{{subDirectories.total}}</span>
						</a>
					</li>
					<li class="{{ (filter == 'files') ? 'active' : '' }} {{ (files.total == 0) ? 'disabled' : '' }}"> 
						<a href="{{root}}filebrowser/{{ directory|path2url }}?filter=files&page=1" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.files.t'|ll }}">
							{{ 'filebrowser.files'|ll }} <span class="badge">{{files.total}}</span>
						</a>
					</li>
				</ul>
			</span>
			
			<br class="row replace-me-with-proper-css" />
			<br class="row replace-me-with-proper-css" />
			
			
		</div>
	</div>
	
	
	<div class="row bg-col1 affix-container" data-affix="" data-spy="affix" data-offset-top="50">
		<div class="col-md-12">
			<div class="dark tinyfont darker-links">{% include 'partials/filebrowser/breadcrumb.htm' with { skiplast: 1} %}</div>
			<h2 class="nomargin">{{ breadcrumb|last.title }}
				<span class="show-affixed">{% include 'partials/filebrowser/directory-quicknav.htm' with {breadcrumb:item} %}</span>
				</h2>
			
		</div>
	</div>
	
	{# divider #}
	<div class="fw-bg bg-col5"><hr class="row " /></div>
	
{% endif %}
<div class="row">
	<div class="col-md-3">

	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">

	</div>
</div>
{% if subDirectories.count %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Subdirectories <span class="badge">{{ subDirectories.total }}</span></h4>
		</div>
	</div>
	{% for item in subDirectories.dirs %}
		{% include 'partials/filebrowser/itemrow-directory.htm' %}
	{% endfor %}
	{% if showDirFilterBadge %}
	<div class="row darker-links">
		<a href="{{root}}filebrowser/{{ directory|path2url }}?filter=dirs&page=2" class="ajax-link btn btn-trnsp">
			{{ 'filebrowser.moredirs'|ll(subDirectories.total - subDirectories.count) }}
		</a>
	</div>
	{% endif %}
{% else %}
	{% if filter == 'dirs' %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info" role="alert">{{ 'filebrowser.nodirs'|ll }}</div>
			{% if files.total > 0 %}
			<div class="row">
				<a href="{{root}}filebrowser/{{ directory|path2url }}?filter=files&page=1" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.files.t'|ll }}">
					{{ 'filebrowser.nodirsshowfiles'|ll(files.total) }}
				</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}
{% endif %}

{% if files.count > 0 %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Files <span class="badge">{{ files.total }}</span></h4>
		</div>
	</div>
	
	{# music files #}
	{% if files.music|length %}
	{% for item in files.music %}
		{% include 'partials/filebrowser/itemrow-musicfile.htm' %}
	{% endfor %}
	{% endif %}

	
	{# playlist files #}
	{% if files.playlist|length %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Playlists</h4>
		</div>
	</div>
	{% for item in files.playlist %}
		{% include 'partials/filebrowser/itemrow-playlistfile.htm' %}
	{% endfor %}
	{% endif %}

	
	{# info files #}
	{% if files.info|length %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Infofiles</h4>
		</div>
	</div>
	{% for item in files.info %}
		{% include 'partials/filebrowser/itemrow-infofile.htm' %}
	{% endfor %}
	{% endif %}

	
	{# image files #}
	{# TODO: check why config.ini[images][ext] does not hold all image extensions (gif, bmp)!? maybe phpThump-issue? #}
	{% if files.image|length %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Images</h4>
		</div>
	</div>
	{% for item in files.image %}
		{% include 'partials/filebrowser/itemrow-imagefile.htm' %}
	{% endfor %}
	{% endif %}
	
	
	{% if files.other|length %}
	<div class="row">
		<div class="col-md-12">
			<h4><br class="replace-me-with-proper-css" />Other files</h4>
		</div>
	</div>
	{% for item in files.other %}
		{% include 'partials/filebrowser/itemrow-otherfile.htm' %}
	{% endfor %}
	{% endif %}
	
	{% if showFileFilterBadge %}
	<div class="row darker-links">
		<a href="{{root}}filebrowser/{{ directory|path2url }}?filter=files&page=2" class="ajax-link btn btn-trnsp">
			{{ 'filebrowser.morefiles'|ll(files.total - files.count) }}
		</a>
	</div>
	{% endif %}
{% else %}
	{% if filter == 'files' %}
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info" role="alert">{{ 'filebrowser.nofiles'|ll }}</div>
			{% if subDirectories.total > 0 %}
			<div class="row">
				<a href="{{root}}filebrowser/{{ directory|path2url }}?filter=dirs&page=1" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.dirs.t'|ll }}">
					{{ 'filebrowser.nofilesshowdirs'|ll(subDirectories.total) }}
				</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}
{% endif %}
<div class="row">
	<div class="col-md-3">

	</div>
	<div class="col-md-6 centered-text">
		{% include 'modules/paginator.htm' %}
	</div>
	<div class="col-md-3">

	</div>
</div>
