<script type="text/javascript">
	var sliMpd = sliMpd || {};
	sliMpd.conf = {
		color: {
			mpd: {
				bodyclass: 'spotcol-{{ config.spotcolor.mpd }}',
				primary: '{{ config.colors[ config.spotcolor.mpd ]['1st'] }}',
				secondary: '{{ config.colors[ config.spotcolor.mpd ]['2nd'] }}',
				favicon: '{{ config.colors[ config.spotcolor.mpd ]['fav'] }}',
			},
			local: {
				bodyclass: 'spotcol-{{ config.spotcolor.local }}',
				primary: '{{ config.colors[ config.spotcolor.local ]['1st'] }}',
				secondary: '{{ config.colors[ config.spotcolor.local ]['2nd'] }}',
				favicon: '{{ config.colors[ config.spotcolor.local ]['fav'] }}',
			}
		},
		waveform: {
			barwidth: {{ config.waveform.barwidth }},
			gapwidth: {{ config.waveform.gapwidth }},
			mirrored: {{ config.waveform.mirrored }}
		},
		absRefPrefix: '{{ config.config.absRefPrefix }}',
		absFilePrefix: '{{ config.config.absFilePrefix }}',
		backboneRoot: '{{ config.config.absRefPrefix|slice(1) }}'
	};
</script>
