{% set jsfiles = [
	'vendor-dist/components/jquery/jquery.min.js',
	'vendor-dist/rstacruz/nprogress/nprogress.js',
	'vendor-dist/components/jqueryui/jquery-ui.min.js',
	'vendor-dist/twbs/bootstrap/dist/js/bootstrap.min.js',
	'vendor-dist/twbs/bootstrap/js/dropdown.js',
	'vendor-dist/twbs/bootstrap/js/tab.js',
	'vendor-dist/twbs/bootstrap/js/popover.js',
	'vendor-dist/twbs/bootstrap/js/collapse.js',
	'vendor-dist/twbs/bootstrap/js/tooltip.js',
	'vendor-dist/hendrismit/bootstrap-lightbox/dist/ekko-lightbox.min.js',
	'vendor-dist/happyworm/jplayer/dist/jplayer/jquery.jplayer.min.js',
	'vendor-dist/components/jquery-cookie/jquery.cookie.js',
	'vendor-dist/jeresig/jquery.hotkeys/jquery.hotkeys.js',
	'vendor-dist/johnkpaul/jquery-ajax-retry/dist/jquery.ajax-retry.min.js',
	'vendor-dist/mouse0270/bootstrap-notify/bootstrap-notify.min.js',
	'js/faviconxmod.js',
	'vendor-dist/greensock/GreenSock-JS/src/minified/TweenMax.min.js',
	'vendor-dist/codrops/BookBlock/js/jquerypp.custom.js',
	'vendor-dist/codrops/BookBlock/js/jquery.bookblock.min.js',
	'vendor-dist/components/underscore/underscore-min.js',
	'vendor-dist/components/backbone/backbone-min.js',
	'js/volume-meter.js',
	'js/backbone-modules/abstract/AbstractView.js',
	'js/backbone-modules/NavbarView.js',
	'js/backbone-modules/ModalView.js',
	'js/backbone-modules/PageView.js',
	'js/backbone-modules/EditAlbumView.js',
	'js/backbone-modules/AuthView.js',
	'js/backbone-modules/StemView.js',
	'js/backbone-modules/abstract/AbstractPlayer.js',
	'js/backbone-modules/abstract/TimelinedPlayer.js',
	'js/backbone-modules/LocalPlayer.js',
	'js/backbone-modules/MpdPlayer.js',
	'js/backbone-modules/XwaxView.js',
	'js/backbone-modules/XwaxPlayer.js',
	'js/backbone-modules/StemPlayer.js',
	'js/backbone-modules/Router.js'
	]
%}
{% for jsfile in jsfiles %}
<script src="{{fileroot}}core/{{jsfile}}"></script>
{% endfor %}
