{% if item.artistUid %}
<span class="glue-hover-wrap">
	{% set itemUids = item.artistUid|split(',') %}
	{% for itemUid in itemUids %}
		{% include 'partials/artist/single-link.htm' %}{#
		#}{% if loop.last == false %}{#
			#}{% if noGlueLink == 1 %},
			{% else %}
		<a class="artist-link col2 item-link ajax-link toggle-tooltip trigger-hide-modal" href="{{root}}artist/{{item.artistUid}}/tracks/page/1/sort/added/desc" title="view artists tracks">
			<span class="glue-hover-trigger">&amp;</span></a>
			{% endif %}
		{% endif %}
	{% endfor%}
</span>
{% endif %}
{% if item.featuringUid %}
	(ft.
	{% set itemUids = item.featuringUid|split(',') %}
	{% for itemUid in itemUids %}
		{% include 'partials/artist/single-link.htm' %}{% if loop.last == false %}, {% endif %}{% endfor %})
{% endif %}