{# no indentation because it will be insertet in input fields #}
{% if item.artistUid %}
{% set itemUids = item.artistUid|split(',') %}
{% for itemUid in itemUids %}
{% include 'partials/artist/single-string.htm' %}
{% if loop.last == false %} &amp; {% endif %}
{% endfor%}
{% endif %}
{% if item.featuringUid %}
(ft.
{% set itemUids = item.featuringUid|split(',') %}
{% for itemUid in itemUids %}
{% include 'partials/artist/single-string.htm' %}{% if loop.last == false %}, {% endif %}{% endfor %})
{% endif %}