<a href="{{root}}filebrowser/{{ [directory,item.name]|path2url }}?neighbour=up" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.parentdir'|ll }}">
	<span class="fa-stack">
		<i class="fa fa-circle-thin fa-stack-2x"></i>
		<i class="fa fa-angle-up fa-stack-1x"></i>
	</span>
</a>
<a href="{{root}}filebrowser/{{ [directory,item.name]|path2url }}?neighbour=prev" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.prevdir'|ll }}">
	<span class="fa-stack">
		<i class="fa fa-circle-thin fa-stack-2x"></i>
		<i class="fa fa-angle-left fa-stack-1x"></i>
	</span>
</a>
<a href="{{root}}filebrowser/{{ [directory,item.name]|path2url }}?neighbour=next" class="ajax-link btn btn-trnsp" title="{{ 'filebrowser.nextdir'|ll }}">
	<span class="fa-stack">
		<i class="fa fa-circle-thin fa-stack-2x"></i>
		<i class="fa fa-angle-right fa-stack-1x"></i>
	</span>
</a>